@import '../support';

/* stylelint-disable */
$docs-sidebar-size: 240px;
$docs-sidebar-bg: color(gray, 0);
$text: color(gray, 9);
$text-light: color(gray, 7);
$docs-spacer-sm: space(sm);
$docs-spacer-md: space(md);
$docs-spacer-lg: space(lg);
$docs-spacer-xl: space(xl);
$docs-spacer-xxl: space(xxl);

// dummy stuff til we get layout classes

.docs {
  &-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &-body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }

  &-content {
    flex: 1;
    padding: 0 $docs-spacer-lg;
    margin-left: $docs-sidebar-size;
    margin-top: $docs-spacer-xxl;

    &-fullwidth {
      margin-left: 0;
    }
  }
}

.docs-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  padding: $docs-spacer-xl $docs-spacer-lg;
  width: $docs-sidebar-size;
  color: $text;
  height: 100%;
  background-color: $docs-sidebar-bg;
  border-right: 1px solid color(gray, 2);
  order: -1;
  white-space: nowrap;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;

  &-header {
    height: 160px;
    padding: $docs-spacer-lg $docs-spacer-sm;
    border-bottom: 1px solid color(gray, 1);
  }

  &-title {
    margin-bottom: $docs-spacer-md;
    margin-top: $docs-spacer-lg;
    padding: 0 $docs-spacer-sm;
    color: color(gray, 5);
    font-family: font(primary);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: color(gray, 7);
      }
    }

    &:first-child {
      margin-top: $docs-spacer-xxl;
    }
  }

  &-item {
    color: $text;
    font-family: font(primary);
    font-size: 14px;

    a {
      color: $text;
      text-decoration: none;
      padding: 0 $docs-spacer-sm;
      line-height: 40px;
      display: block;

      &:hover {
        background-color: color(gray, 1);
        border-radius: radius(md);
      }
    }

    .current {
      background-color: color(gray, 1);
      font-weight: bold;
      display: block;
      border-radius: radius(sm);
      color: color(primary);
    }
  }
}

.ipreo {
  color: $text;
  font-family: font(primary);
  font-size: 24px;
  font-weight: font-weight(bold);
  line-height: 24px;
}

.cupcake {
  color: color(primary);
  font-family: font(primary);
  font-size: 24px;
  font-weight: font-weight(bold);
  line-height: 24px;
}


.docs-version {
  width: 96px;
  border: 1px solid color(gray, 1);
  border-radius: 2px;
  background-color: white;
  color: $text;
  font-family: font(primary);
  font-size: 10px;
  font-weight: font-weight(bold);
  letter-spacing: 1px;
  line-height: 24px;
  padding: 0 $docs-spacer-sm;
  margin-top: $docs-spacer-sm;
  text-transform: uppercase;
}

.layer-types {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: color(gray, 1);
  padding: $docs-spacer-md;

  div {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: $docs-spacer-md;
  }
}

.space {
  display: flex;
  background-color: color(gray, 1);
  height: $docs-spacer-lg;
  margin: $docs-spacer-sm 0;
  border-radius: radius(sm);

  &-block-title {
    color: $text;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
  }

  * {
    background-color: rgba(240, 62, 62, 0.8);
  }

  .xxs {
    width: 0.125rem;
  }

  .xs {
    width: 0.25rem;
  }

  .sm {
    width: 0.5rem;
  }

  .md {
    width: 1rem;
  }

  .lg {
    width: 1.5rem;
  }

  .xl {
    width: 2rem;
  }

  .xxl {
    width: 3rem;
  }
}

.color-block {
  &-title {
    color: $text;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
  }

  .colors {
    height: $docs-spacer-xxl;
    width: 100%;
    display: flex;

    span {
      flex: 1;
      display: block;
      border-radius: 3px;
      padding: $docs-spacer-sm;
      margin-right: $docs-spacer-lg;
      color: #ffffff;
      font-size: 11px;
      font-weight: bold;
      line-height: 16px;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      &.info {
        font-weight: normal;
        color: $text;
        font-size: 11px;
        line-height: 16px;
        padding: $docs-spacer-sm 0;
      }
    }
  }
}

.docs-section {
  padding: $docs-spacer-lg 0;
  margin-bottom: $docs-spacer-xxl;
  border-bottom: 1px solid color(gray, 0);

  &:first-child {
    padding: $docs-spacer-lg * 2 0;
  }

  &-title {
    height: 24px;
    color: $text;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: $docs-spacer-sm 0;

    a {
      color: color(primary);
      padding-left: $docs-spacer-sm;
      font-size: 80%;

      &:hover {
        color: color(primary, 6);
      }
    }
  }

  &-subtitle {
    height: 40px;
    color: $text-light;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  &-header {
    padding-bottom: $docs-spacer-sm;
    margin-bottom: $docs-spacer-lg;
    border-bottom: 1px solid color(gray, 1);
  }
}

.c-text-primary-9 {
  color: $color-primary-9 !important;
}

.c-text-success-9 {
  color: $color-success-9 !important;
}

.c-text-warning-9 {
  color: $color-warning-9 !important;
}

.c-text-danger-9 {
  color: $color-danger-9 !important;
}

.c-text-gray-9 {
  color: $color-gray-9 !important;
}

.docs-menu-toggle {
  display: none;
  position: fixed;
  z-index: 1000;
  color: color(gray, 6);
  background-color: color(gray, 0);
  border: 1px solid color(gray, 2);
  padding: 8px 10px;
  margin-top: -20px;

  &:hover {
    cursor: pointer;
    color: color(gray, 7);
  }
}

@media (max-width: 60em) {
  .docs-nav {
    margin-left: -$docs-sidebar-size;
  }

  .docs-menu-toggle {
    display: block;
    margin-left: 0;
    border-radius: radius(md);
  }

  .docs-content {
    margin-left: 0;
  }

  .docs-nav-open {
    .docs-nav {
      margin-left: 0;
    }

    .docs-menu-toggle {
      margin-left: 215px;
      border-left: 0;
      border-top-right-radius: radius(md);
      border-bottom-right-radius: radius(md);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .docs-content {
      margin-left: 0;
    }
  }
}

::-webkit-scrollbar {
  width: .25em;

  &-track {
    background-color: color(gray, 0);
  }

  &-thumb {
    background-color: color(gray, 4);
    outline: none;
  }
}
