@import '../scss/support/support';

/* stylelint-disable */
$docs-sidebar-size: 240px;
$docs-sidebar-bg: color(gray, 0);
$text: color(gray, 9);
$text-light: color(gray, 7);
$docs-spacer-sm: space(sm);
$docs-spacer-md: space(md);
$docs-spacer-lg: space(lg);
$docs-spacer-xl: space(xl);
$docs-spacer-xxl: space(xl) + space(md);

// demo stuff

.docs {
  &-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &-body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }

  &-content {
    flex: 1;
    padding: 0 $docs-spacer-lg;
    margin-top: $docs-spacer-xxl;
    margin-left: $docs-sidebar-size;

    &-fullwidth {
      margin: $docs-spacer-xxl;
    }
  }

  &-version {
    width: 96px;
    color: $text;
    letter-spacing: 1px;
    font-size: $font-body-xs;
    text-transform: uppercase;
    border-radius: $radius-sm;
    background-color: white;
    padding: 0 $docs-spacer-sm;
    margin: $docs-spacer-sm 0;
    font-weight: $font-weight-bold;
    font-family: $font-family-sans;
    border: 1px solid $color-gray-1;
    line-height: $line-height-body-xxl;
  }

  &-section {
    padding: $docs-spacer-lg 0;
    margin-bottom: $docs-spacer-xxl;
    border-bottom: 1px solid $color-gray-0;

    &:first-child {
      padding: $docs-spacer-lg * 2 0;
    }

    &-header {
      padding-bottom: $docs-spacer-sm;
      margin-bottom: $docs-spacer-lg;
      border-bottom: 1px solid $color-gray-1;
    }
  }

  &-block {
    position: relative;
    box-sizing: border-box;
    min-height: 16px;
    padding: .5rem;
    margin-bottom: 16px;
    background: color(primary, 7);
    border: 1px solid color(primary, 9);
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    color: #fff
  }

  &-menu-toggle {
    display: none;
    z-index: 1000;
    position: fixed;
    padding: 8px 10px;
    margin-top: -20px;
    color: $color-gray-6;
    background-color: $color-gray-0;
    border: 1px solid $color-gray-2;

    &:hover {
      cursor: pointer;
      color: $color-gray-7;
    }
  }
}

.docs-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  order: -1;
  color: $text;
  height: 100%;
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  white-space: nowrap;
  width: $docs-sidebar-size;
  background-color: $docs-sidebar-bg;
  border-right: 1px solid $color-gray-2;
  padding: $docs-spacer-xl $docs-spacer-lg;

  &-header {
    border-bottom: 1px solid $color-gray-1;
    padding: $docs-spacer-lg $docs-spacer-sm;
  }

  &-title {
    letter-spacing: 1px;
    color: $color-gray-5;
    font-size: $font-body-xs;
    text-transform: uppercase;
    padding: 0 $docs-spacer-sm;
    margin-top: $docs-spacer-lg;
    font-family: $font-family-sans;
    margin-bottom: $docs-spacer-md;
    line-height: $line-height-body-xs;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $color-gray-7;
      }
    }

    &:first-child {
      margin-top: $docs-spacer-xxl;
    }
  }

  &-item {
    color: $text;
    font-size: $font-body-lg;
    font-family: $font-family-sans;

    a {
      color: $text;
      display: block;
      text-decoration: none;
      padding: 0 $docs-spacer-sm;
      line-height: $line-height-header-xxl;

      &:hover {
        border-radius: radius(md);
        background-color: $color-gray-1;
      }
    }

    .current {
      display: block;
      font-weight: bold;
      color: color(primary);
      border-radius: radius(sm);
      background-color: $color-gray-1;
    }
  }
}

.space {
  display: flex;
  height: $docs-spacer-lg;
  border-radius: $radius-sm;
  margin: $docs-spacer-sm 0;
  background-color: $color-gray-1;

  &-block-title {
    color: $text;
    line-height: 20px;
    font-size: $font-body-md;
    font-weight: $font-weight-bold;
  }

  * {
    background-color: rgba(240, 62, 62, 0.8);
  }

  .xxs {
    width: 0.125rem;
  }

  .xs {
    width: 0.25rem;
  }

  .sm {
    width: 0.5rem;
  }

  .md {
    width: 1rem;
  }

  .lg {
    width: 1.5rem;
  }

  .xl {
    width: 2rem;
  }

  .xxl {
    width: 3rem;
  }
}

.color-block {
  &-title {
    color: $text;
    line-height: 20px;
    font-size: $font-body-md;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
  }

  .colors {
    width: 100%;
    display: flex;
    height: $docs-spacer-xxl;

    span {
      flex: 1;
      display: block;
      color: #ffffff;
      font-size: $font-body-sm;
      padding: $docs-spacer-sm;
      border-radius: $radius-sm;
      text-transform: capitalize;
      margin-right: $docs-spacer-lg;
      font-weight: $font-weight-bold;
      line-height: $line-height-body-sm;

      &:last-child {
        margin-right: 0;
      }

      &.info {
        color: $text;
        font-size: 11px;
        line-height: 16px;
        font-weight: normal;
        padding: $docs-spacer-sm 0;
      }
    }
  }
}

@media (max-width: 60em) {
  .docs {
    &-nav {
      margin-left: -$docs-sidebar-size;
    }

    &-menu-toggle {
      display: block;
      margin-left: 0;
      border-radius: radius(md);
    }

    &-content {
      margin-left: 0;
      margin-right: 0;
    }

    &-nav-open {
      .docs-nav {
        margin-left: 0;
      }

      .docs-menu-toggle {
        border-left: 0;
        margin-left: 215px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: radius(md);
        border-bottom-right-radius: radius(md);
      }

      .docs-content {
        margin-left: 0;
      }
    }
  }
}


.grid-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;

  &-row-flex-cols .c-row {
    min-height: 10rem;
    background-color: color(gray, 2);
    margin-top: 1rem;
  }

  &-row .c-row>.c-col,
  &-row .c-row>[class^=c-col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: color(primary, 7);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}



.docs-flavor-switch {
  position: relative;
}

.docs-flavor-list {
  left: 0;
  top: 38px;
  opacity: 0;
  width: 100%;
  z-index: 1001;
  padding-left: 0;
  list-style: none;
  position: absolute;
  visibility: hidden;
  background: white;
  border-radius: $radius-sm;
  border: 1px solid $color-gray-2;
  transition: opacity 0.15s linear, top 0.15s linear;

  &-item a {
    display: flex;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    line-height: 20px;
    margin: $space-sm;
    padding: $space-sm;
    white-space: nowrap;
    color: $color-gray-8;
    text-overflow: ellipsis;
    transition: background-color 0.25s linear;

    &:hover {
      background-color: $color-gray-1;
      color: $color-gray-8;
    }
  }
}


.docs-flavor-button {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  min-height: 32px;
  line-height: 20px;
  color: $color-gray-8;
  display: inline-block;
  border-radius: $radius-sm;
  background-color: $color-gray-1;
  border: 1px solid $color-gray-4;
  transition: background-color 0.2s linear;
  padding: $space-xs 34px $space-xs $space-sm;

  &:hover {
    background-color: $color-gray-0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $color-gray-8;
  }
}

.is-open > .docs-flavor-list {
  opacity: 1;
  visibility: visible;
}




.heading-all {
  @include font-header();
}

.h1 {
  @include font-header(xxl);
}

.h2 {
  @include font-header(xl);
}

.h3 {
  @include font-header(lg);
}

.h4 {
  @include font-header(md);
}

.h5 {
  @include font-header(sm);
}

.h6 {
  @include font-header(xs);
}

.p-all {
  @include font-body();
}

.p1 {
  @include font-body(xxl);
}

.p2 {
  @include font-body(xl);
}

.p3 {
  @include font-body(lg);
}

.p4 {
  @include font-body(md);
}

.p5 {
  @include font-body(sm);
}

.p6 {
  @include font-body(xs);
}


.xl-text {
  // Output font-size and line-height only
  @include font-body(xl, $size-only: true);
}

.body-heading {
  // Output font family and weight settings only
  @include f-header;
}

.body-text {
  // Output font family and weight settings only
  @include f-body;
}

.functionExample {
  font-size: font-size(header, xl);
  line-height: line-height(header, xl);
  font-weight: font-weight(heavy);
}



.settings-ctrl {
  position: absolute;
  top: 20%;
  left: -35px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #dde6e9;
  border-right: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 3px 0 0 3px;

  > i {
    line-height: 35px;
    font-size: 15px;
    color: #3a3f51;
  }
}

#themes {
  background-color: #ffffff;
  border-left: 1px solid #dde6e9;
}
