@mixin cursor-class-export {
  .c-cursor-pointer {
    cursor: pointer;
  }

  .c-cursor-grab {
    cursor: move;  //IE fallback
    cursor: grab;
  }

  .c-cursor-grabbing {
    cursor: move;  //IE fallback
    cursor: grabbing;
  }

  .c-cursor-move {
    cursor: move;
  }

  .c-full-height {
    height: 100%;
  }

  .c-full-width {
    width: 100%;
  }
}
