// Flex classes - and responsive variations
@mixin flex-responsive-class-export {
  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $breakpoints);

      .c#{$infix}-flex-row {
        flex-direction: row !important;
      }

      .c#{$infix}-flex-column {
        flex-direction: column !important;
      }

      .c#{$infix}-flex-row-reverse {
        flex-direction: row-reverse !important;
      }

      .c#{$infix}-flex-column-reverse {
        flex-direction: column-reverse !important;
      }

      .c#{$infix}-flex-wrap {
        flex-wrap: wrap !important;
      }

      .c#{$infix}-flex-nowrap {
        flex-wrap: nowrap !important;
      }

      .c#{$infix}-flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
      }

      .c#{$infix}-justify-start {
        justify-content: flex-start !important;
      }

      .c#{$infix}-justify-end {
        justify-content: flex-end !important;
      }

      .c#{$infix}-justify-center {
        justify-content: center !important;
      }

      .c#{$infix}-justify-space-between {
        justify-content: space-between !important;
      }

      .c#{$infix}-justify-space-around {
        justify-content: space-around !important;
      }


      .c#{$infix}-align-top {
        align-items: flex-start !important;
      }

      .c#{$infix}-align-bottom {
        align-items: flex-end !important;
      }

      .c#{$infix}-align-center {
        align-items: center !important;
      }

      .c#{$infix}-align-baseline {
        align-items: baseline !important;
      }

      .c#{$infix}-align-stretch {
        align-items: stretch !important;
      }

      .c#{$infix}-align-content-start {
        align-content: flex-start !important;
      }

      .c#{$infix}-align-content-end {
        align-content: flex-end !important;
      }

      .c#{$infix}-align-content-center {
        align-content: center !important;
      }

      .c#{$infix}-align-content-between {
        align-content: space-between !important;
      }

      .c#{$infix}-align-content-around {
        align-content: space-around !important;
      }

      .c#{$infix}-align-content-stretch {
        align-content: stretch !important;
      }

      .c#{$infix}-align-self-auto {
        align-self: auto !important;
      }

      .c#{$infix}-align-self-top {
        align-self: flex-start !important;
      }

      .c#{$infix}-align-self-bottom {
        align-self: flex-end !important;
      }

      .c#{$infix}-align-self-center {
        align-self: center !important;
      }

      .c#{$infix}-align-self-baseline {
        align-self: baseline !important;
      }

      .c#{$infix}-align-self-stretch {
        align-self: stretch !important;
      }
    }
  }
}
