// --------------------------------------------
// Alert Base Mixin ---------------------------
// --------------------------------------------
@mixin alert-base(
  $bg: $alert-primary-bg,
  $color: $alert-default-color,
  $icon: $alert-primary-icon-color
) {
  color: $color;
  display: flex;
  text-align: left;
  position: relative;
  background-color: $bg;
  border: $alert-border;
  margin: $alert-margin;
  padding: $alert-padding;
  align-items: flex-start;
  font-size: $alert-font-size;
  border-radius: $alert-radius;
  font-family: $alert-font-family;
  font-weight: $alert-font-weight;
  line-height: $alert-line-height;

  &-close {
    @include delete($size: $alert-close-font-size, $color: $color);

    order: 2;
    margin-left: auto;
  }

  &-title {
    font-weight: $alert-title-font-weight;
  }

  &-content {
    flex: 1;
    margin-right: $space-xs;
    line-height: $alert-line-height;
  }

  &-icon {
    color: $icon;
    align-self: stretch;
    font-size: $alert-icon-width;
    padding-right: $alert-padding;
    line-height: $alert-line-height;
  }
}


// --------------------------------------------
// Alert Style Mixin --------------------------
// --------------------------------------------
@mixin alert-style($bg: $color-gray-0, $color: $color-gray-9) {
  @if $white-label == true {
    background-color: rgba($color, .08);
    border-color: $color;
    color: $color;
  } @else {
    background-color: $bg;
    border-color: $color;
  }

  .c-alert-close {
    @include delete-color($color);
  }

  .c-alert-icon {
    color: $color;
  }
}
