@mixin alert-base(
  $bg: $alert-primary-bg,
  $color: $alert-default-color,
  $icon: $alert-primary-icon-color
) {
  position: relative;
  display: flex;
  align-items: start;
  text-align: left;
  margin: $alert-margin;
  padding: $alert-padding;
  background-color: $bg;
  color: $color;
  border: $alert-border;
  border-radius: $alert-radius;
  font-family: $alert-font-family;
  font-weight: $alert-font-weight;
  font-size: $alert-font-size;
  line-height: $alert-line-height;

  &-close {
    @include simple-close($size: $alert-close-font-size, $color: $color);

    order: 2;
    margin-left: auto;
  }

  &-title {
    font-weight: font-weight(bold);
  }

  &-content {
    flex: 1;
    line-height: $alert-line-height;
    margin-right: $space-xs;
  }

  &-icon {
    align-self: stretch;
    padding-right: $alert-padding;
    font-size: $alert-icon-width;
    color: $icon;
    line-height: $alert-line-height;
  }
}

@mixin alert-style($bg: color(gray, 0), $color: color(gray, 9)) {
  @if $white-label == true {
    background-color: rgba($color, .08);
    border-color: $color;
    color: $color;
  } @else {
    background-color: $bg;
    border-color: $color;
  }

  &-close,
  .#{$alert-prefix}-close {
    &::before,
    &::after {
      background-color: $color;
    }

    &:hover::before,
    &:hover::after {
      background-color: darken($color, 15);
    }
  }

  &-icon,
  .#{$alert-prefix}-icon {
    color: $color;
  }
}
