@mixin alert-base(
  $bg: $alert-primary-bg,
  $color: $alert-default-color,
  $icon: $alert-primary-icon-color
) {
  position: relative;
  display: flex;
  align-items: start;
  text-align: left;
  margin: $alert-margin;
  padding: $alert-padding;
  background-color: $bg;
  color: $color;
  border: $alert-border;
  border-radius: $alert-radius;
  font-family: $alert-font-family;
  font-weight: $alert-font-weight;
  font-size: $alert-font-size;
  line-height: $alert-line-height;

  .c-a:not(.c-alert-close),
  .c-alert-link:not(.c-alert-close) {
    padding: 0 space(xs);
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .c-alert-close {
    @include close($size: $alert-close-font-size, $color: $color);

    order: 2;
    opacity: 0.6;
    padding-left: $alert-padding;
    margin-left: auto;

    &:hover {
      opacity: 1;
    }

    &::before {
      width: 12px;
    }

    &::after {
      height: 12px;
    }
  }

  .c-alert-title {
    font-weight: font-weight(bold);
  }

  .c-alert-content {
    flex: 1;
    line-height: $alert-line-height;
  }

  .c-alert-icon {
    align-self: stretch;
    padding-right: $alert-padding;
    font-size: $alert-icon-width;
    color: $icon;
    line-height: $alert-line-height;
  }
}

@mixin alert-style($bg: color(gray, 0), $color: color(gray, 9)) {
  @if $white-label == true {
    background-color: rgba($color, .1);
    border-color: $color;
    color: $color;
  } @else {
    background-color: $bg;
    border-color: $color;
  }


  .c-alert-close {
    &::before,
    &::after {
      position: absolute;
      display: block;
      background-color: $color;
    }

    &:hover::before,
    &:hover::after {
      background-color: darken($color, 10);
    }
  }

  .c-a,
  .c-alert-link {
    color: $color;

    &:hover {
      color: lighten($color, 10%);
    }
  }

  .c-alert-icon {
    color: $color;
  }
}
