// --------------------------------------------
// Avatar Base Mixin --------------------------
// --------------------------------------------
@mixin avatar-base($size: $avatar-default-size) {
  height: $size;
  width: $size;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  background: $color-primary;
  color: $color-white;
  font-size: $avatar-font-size;
  border-radius: $avatar-border-radius;
  font-weight: $avatar-font-weight;
  line-height: $size;

  i {
    font-size: $size / 2;
    line-height: $size;
  }
}

// --------------------------------------------
// Avatar Size Mixin --------------------------
// --------------------------------------------
@mixin avatar-size(
  $size: $avatar-default-size, 
  $font-size: 12px) {
  font-size: $font-size;
  height: $size;
  width: $size;
  line-height: $size;

  i {
    font-size: $size / 2;
    line-height: $size;
  }
}

