@mixin avatar-base($size: $avatar-default-size) {
  font-size: 12px;
  height: $size;
  width: $size;
  color: $color-white;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  background: color(primary);
  border-radius: $avatar-border-radius;
  font-weight: $avatar-font-weight;
  line-height: $size;

  i {
    font-size: $size / 2;
    line-height: $size;
  }
}

@mixin avatar-size($size: $avatar-default-size, $font-size: 12px) {
  font-size: $font-size;
  height: $size;
  width: $size;
  line-height: $size;

  i {
    font-size: $size / 2;
    line-height: $size;
  }
}

