
// Badge
@mixin badge-base {
  display: inline-flex;
  align-items: center;
  background: $color-black;
  border-radius: $badge-default-border-radius;
  color: $color-white;
  font-size: $badge-default-font-size;
  font-weight: $badge-default-font-weight;
  height: $badge-default-size;
  line-height: $badge-default-line-height;
  padding: $badge-default-padding;
  text-decoration: none;
  vertical-align: middle;

  &-close {
    @include close($size: 16px, $x-size: 2px, $color: $color-white);
    @include close-style($style: "bg-dark");
    
    border-radius: $badge-default-border-radius;
    margin-left: $space-sm;
    margin-right: -$space-xs;
  }

  i {
    padding-right: $space-sm;
  }
}

@mixin badge-size($size: $badge-default-size, $font-size: 12px) {
  font-size: $font-size;
  height: $size;

  i {
    font-size: $font-size;
  }
}
