@mixin checkStyle($size:$checkSize, $color:$checkColor) {
  $bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath stroke='%23#{$color}' stroke-width='#{$size}' d='M4 8.5L6.5 11l6-6' fill='none' stroke-linecap='square' stroke-linejoin='square'/%3e%3c/svg%3e");
  
  background-image: $bg-image;
}

@mixin radioStyle($size:$checkSize, $color:$checkColor) {
  $bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23#{$color}'/%3e%3c/svg%3e");
  
  background-image: $bg-image;
}


// --------------------------------------------
// Check Base Mixin ---------------------------
// --------------------------------------------
@mixin check($type: check) {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  min-height: $checkbox-default-size;
  transition: $checkbox-transition;
  min-width: $checkbox-default-size;
  line-height: $checkbox-default-size + 1;

  &[disabled] {
    filter: none;
    cursor: not-allowed;

    input {
      border-color: $checkbox-bg-disabled;
      background-color: $checkbox-bg-disabled;
    }

    label {
      filter: none;
      cursor: not-allowed;
      color: $checkbox-label-disabled-color;
    }
  }

  input {
    appearance: none;
    z-index: 1;
    cursor: pointer;
    border: $checkbox-bd;
    width: $checkbox-default-size;
    height: $checkbox-default-size;

    &[type="checkbox"] {
      border-radius: $checkbox-radius;
    }
  
    &[type="radio"] {
      border-radius: $radius-round;
    }
  
    &:active {
      filter: $form-check-input-active-filter;
    }
  
    &:focus {
      outline: 0;
      border-color: $form-check-input-focus-border;
      box-shadow: $form-check-input-focus-box-shadow;
    }

    &[disabled] {
      border-color: $checkbox-bg-disabled;
      background-color: $checkbox-bg-disabled;
    }
  
    &:checked {
      background-color: $checkbox-bg-checked;
      background-repeat: $form-check-input-checked-bg-repeat;
      background-position: $form-check-input-checked-bg-position;
      border-color: $checkbox-bg-checked;
  
      &[type="checkbox"] {
        background-image: $form-check-input-checked-bg-image;
      }
  
      &[type="radio"] {
        background-image: $form-check-radio-checked-bg-image;
      }

      &[disabled] {
        @include checkStyle($color:'333' );
        
        border-color: $checkbox-bg-disabled;
        background-color: $checkbox-bg-disabled;

        &[type="radio"] {
          @include radioStyle($color:'333' );
        }
      }
    }
  
    &[type="checkbox"]:indeterminate {
      background-color: $checkbox-bg-checked;
      background-image: $form-check-input-indeterminate-bg-image;
      background-repeat: $form-check-input-indeterminate-bg-repeat;
      background-position: $form-check-input-indeterminate-bg-position;
      background-size: $form-check-input-indeterminate-bg-size;
      border-color: $form-check-input-indeterminate-border-color;
    }

    @if ($type == radio) {
      border-radius: $radius-round;
    }
  }

  label {
    cursor: pointer;
    display: inherit;
    position: relative;
    font-size: $checkbox-label-font-size;
    font-weight: $checkbox-label-font-weight;
    margin-left: $checkbox-default-size / 2;

    &:empty {
      margin-left: $space-0;
    }
  }
}


// --------------------------------------------
// Check Size Mixin ---------------------------
// --------------------------------------------
@mixin check-size($size:$checkbox-default-size, $type: check) {
  height: $size;
  min-width: $size;
  line-height: $size - 1;

  input {
    width: $size;
    height: $size;

    &:checked + label::after,
    &:checked[disabled] + label::after {
      @if ($type == radio) {
        top: round($size / 4);
        left: round($size / 4);
        width: round($size / 2);
        height: round($size / 2);
      } @else {
        top: round($size / 6);
        left: round($size / 3);
        width: round($size / 3);
        height: round($size / 2) + 2;
        @if $type == check and $size >= 26px {
          border-right: 3px solid;
          border-bottom: 3px solid;
        }
      }
    }

    &:checked {
      &[type="checkbox"] {
        @include checkStyle(round($size / 10));
      }
  
      &[type="radio"] {
        background-image: $form-check-radio-checked-bg-image;
      }
    }
  }

  

  label {
    font-size: $size - 4;

    &:empty::before {
      margin-right: $space-0;
    }

    &::before {
      width: $size;
      height: $size;
      margin-right: round($size / 3);
    }
  }
}


// --------------------------------------------
// Check Color Mixin --------------------------
// --------------------------------------------
@mixin check-color($bg: $checkbox-bg-checked, $type: check) {
  input {
    &:checked {
      background-color: $bg;
      border-color: $bg;
    }
  }
}
