// --------------------------------------------
// Checkbox Base Mixin ------------------------
// --------------------------------------------
@mixin checkbox($size:$checkbox-default-size) {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  font-size: 12px;
  transition: $checkbox-transition;

  input {
    position: absolute;
    width: $size;
    height: $size;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:checked + i::before {
      border-width: 0;
      background-color: inherit;
    }

    &:checked + span .active {
      display: inherit;
    }

    &[type="radio"] + i {
      &,
      &::before {
        border-radius: radius(round);
      }
    }

    &[type="checkbox"]:checked + i::after {
      display: table-cell;
      transform: rotate(45deg);
      position: absolute;
      left: round($size / 3);
      top: round($size / 8);
      width: round($size / 2.5);
      height: round($size / 1.55);
      border: round($size / 9) solid;
      border-top: 0;
      border-left: 0;
      content: ' ';
      color: $color-white;
    }

    &[type="radio"]:checked + i::after {
      position: absolute;
      display: table;
      left: round($size / 4);
      top: round($size / 4);
      width: round($size / 2);
      height: round($size / 2);
      background: $color-white;
      border-radius: $radius-round;
      content: ' ';
      color: $color-white;
    }

    &[disabled],
    fieldset[disabled] & {
      & + i::before {
        cursor: not-allowed;
        border: 1px solid $checkbox-disabled-bg;
        background: $checkbox-disabled-bg;
      }
    }

    &[disabled]:checked {
      & + i::before {
        cursor: not-allowed;
        border: 1px solid $checkbox-checked-disabled-bg;
        background: $checkbox-checked-disabled-bg;
      }
    }

    &[disabled]:checked {
      & + i::after {
        color: $checkbox-checked-disabled-color;
      }
    }
  }

  > i {
    height: $size;
    /* stylelint-disable */
    margin: 0 $size + 8 0 0;
    /* stylelint-enable */
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: $size;
      height: $size;
      border: $checkbox-icon-bd;
      border-radius: $checkbox-icon-radius;
      transition: $checkbox-transition;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    color: $checkbox-disabled-color;

    > i::before {
      cursor: not-allowed;
      border: 1px solid $checkbox-disabled-bg;
      background: $checkbox-disabled-bg;
    }

    input {
      cursor: not-allowed;

      + i::before {
        cursor: not-allowed;
        border: 1px solid $checkbox-disabled-bg;
        background: $checkbox-disabled-bg;
      }

      &:checked + i::after {
        height: 0;
        border: 0;
      }
    }
  }
}


// --------------------------------------------
// Checkbox Size Mixin ------------------------
// --------------------------------------------
@mixin checkbox-size($size:$checkbox-default-size) {
  height: $size;
  font-size: $size - 4;

  input {
    width: $size;
    height: $size;

    &[type="checkbox"]:checked + i::after {
      left: round($size / 3);
      top: 0;
      width: round($size / 3);
      height: round($size / 1.5);
      border: round($size / 9) solid;
      border-top: 0;
      border-left: 0;
    }

    &[type="radio"]:checked + i::after {
      left: round($size / 6);
      top: round($size / 10);
      width: round($size / 1.5);
      height: round($size / 1.5);
    }
  }

  > i {
    height: $size;
    /* stylelint-disable */
    margin: 0 ($size + 8) 0 0;
    /* stylelint-enable */

    &::before {
      width: $size;
      height: $size;
    }
  }
}


// --------------------------------------------
// Checkbox Color Mixin -----------------------
// --------------------------------------------
@mixin checkbox-color($color: $primary) {
  input:checked + i::before {
    background-color: $color;
  }
}


// --------------------------------------------
// Checkbox Control Mixin ---------------------
// --------------------------------------------
@mixin control($font-size: $checkbox-default-size) {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: $font-size - 4;
  line-height: 1.2;
  padding: $space-0 $space-sm $space-0 $font-size + 8;

  &.c-checkbox > i,
  &.c-radio > i {
    position: absolute;
    left: 0;
  }
}
