
$control-font-size            : 12px !default;
$control-color                : $color-gray-9 !default;
$control-font-weight          : normal !default;
$control-line-height          : 1.166667 !default;  //line height optimized for IE compatibility
$control-placeholder-c        : $color-gray-5 !default;
$control-placeholder-hover-c  : $control-placeholder-c !default;
$control-background           : white !default;
$control-padding-v            : 7px !default;
$control-padding-h            : 8px !default;
$control-height               : 32px !default;

$control-border               : $color-gray-4 !default;
$control-border-radius        : 2px !default;
$control-border-radius-rounded: 30em !default;
$control-shadow               : none !default;
$control-focused-shadow       : inset 0 1px 2px 0 rgba(33, 37, 41, 0.08) !default;
$control-shadow-disabled      : none !default;
$control-transition           : border-color 0.1s ease-in !default;
$control-hover                : $color-primary !default;
$control-hover-border         : $color-gray-5 !default;
$control-active               : $color-primary !default;
$control-active-border        : $color-primary !default;
$control-icon-padding         : 26px !default;
$control-icon-color           : $color-gray-9 !default;
$control-disabled-border      : transparent !default;
$control-disabled-background  : $color-gray-3 !default;
$control-hint-color           : $color-gray-6 !default;
$control-hint-font-size       : 85% !default;
$control-hint-transition      : all 0.2s ease !default;
$control-label-padding        : $control-padding-v 0 !default;
$control-addon-background     : #eeeeee !default;
$control-element-padding      : 1em 0 !default;
$control-element-label-padding: 0 0 $control-padding-v 0 !default;


$control-success-c            : $color-success !default;
$control-success-bg           : false !default;
$control-warning-c            : $color-warning !default;
$control-warning-bg           : false !default;
$control-danger-c             : $color-danger !default;
$control-danger-bg            : false !default;


// --------------------------------------------
// Alert Base Mixin ---------------------------
// --------------------------------------------

@mixin label {
  display: block;
  width: 100%;
  padding: $control-label-padding;
  color: $control-color;
  font-size: $control-font-size;
}

@mixin input {
  display: block;
  width: 100%;
  height: $control-height;
  padding: $control-padding-v $control-padding-h;
  border: 1px solid $control-border;
  border-radius: $control-border-radius;
  outline: 0;
  color: $control-color;
  background-color: $control-background;
  font-family: inherit;
  font-size: $control-font-size;
  font-weight: $control-font-weight;
  line-height: $control-line-height;
  box-shadow: $control-shadow;
  resize: vertical;
  appearance: none;
  transition: $control-transition;

  &::-ms-clear {
    display: none;
  }

  &::placeholder {
    color: $control-placeholder-c;
    transition: $control-transition;
  }

  &:hover,
  &#{&}-hover {
    border-color: $control-hover-border;

    &::placeholder {
      color: $control-placeholder-hover-c;
    }
  }

  &:focus,
  &#{&}-focus {
    border-color: $control-active-border;
    box-shadow: $control-focused-shadow;
  }

  // in separate selector because it breaks ie11
  &:focus-within {
    border-color: $control-active-border;
  }

  &[disabled],
  &-disabled {
    &,
    &:hover {
      @include input-disabled;
    }

    & ~ .c-input-icon {
      color: $control-disabled-border;
    }
  }

  &-inline {
    display: inline;
    width: auto;
  }

  &-container {
    position: relative;
  }
}

@mixin input-disabled {
  border-color: $control-disabled-border;
  background-color: $control-disabled-background;
  box-shadow: $control-shadow-disabled;
  cursor: not-allowed;
  color: $control-placeholder-c;

  &::placeholder {
    color: $control-placeholder-c;
  }
}
