// --------------------------------------------
// Label Base Mixin ---------------------------
// -------------------------------------------
$app-header-prefix            : 'c-header' !default;
$white                    : #ffffff !default;
$header-bottom-border     : $color-gray-1 !default;
$header-bg                : #ffffff !default;
$header-bg-hover          : rgba(0, 0, 0, 0.03) !default;
$header-inverse-bg        : $color-gray-7 !default;
$header-inverse-bg-hover  : rgba(0, 0, 0, 0.05) !default;
$header-text-color        : #adb5bd !default;
$header-inverse-text-color: #ffffff !default;
$header-inverse-borders   : rgba(255, 255, 255, 0.1) !default;
$header-borders           : rgba(0, 0, 0, 0.06) !default;
$header-logo-max-width    : 120px !default;
$header-height            : 48px !default;
$header-logo-width:  85px !default;


@mixin header {
  background-color: $header-bg;
  border-bottom: 1px solid $header-borders;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: $header-height;
  width: 100%;
  z-index: 10;
}

@mixin header-item {
  &-link {
    color: $header-text-color;
    white-space: nowrap;
    align-items: center;
    display: flex;
    height: $header-height;
    /* stylelint-disable */
    padding: 0 20px;
    /* stylelint-enable */

    &:hover {
      background: $header-bg-hover;
    }
  }
}
