
$color-loader-indicator   : white !default;
$degree-loader-indicator  : 140deg !default;
$loader-indicator         : linear-gradient($degree-loader-indicator, rgba($color-loader-indicator, 0), rgba($color-loader-indicator, .6) 50%, rgba($color-loader-indicator, 0) 100%) !default;
$loader-movement          : loader-iteration 2s infinite !default;

$loader-color             : $color-primary-7 !default;
$loader-bg-color          : $color-gray-3 !default;
$loader-size              : 10em !default;
$loader-height            : 20px !default;
$loader-border-size       : 6px !default;
$loader-animation-duration: .71s !default;


@mixin skeleton-bar($top, $right, $left: 0, $position: absolute) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  height: 10px;
  background: $loader-bg-color;
  border-radius: $radius-sm;
  background-image: $loader-indicator;
  background-size: 70% 40px;
  background-position: -200% 0;
  background-repeat: no-repeat;
  animation: $loader-movement;
}


@mixin skeleton-loader-mixin {
  @include skeleton-bar(0, 0, $position: relative);

  margin: $space-lg 0;

  &::after {
    @include skeleton-bar(-$space-md, 5%);

    content: '';
  }

  &::before {
    @include skeleton-bar($space-md, 10%);

    content: '';
  }
}

@mixin loader-rotate-keyframes {
  @keyframes loaderRotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes loader-iteration {
  to {
    background-position: 300% 0;
  }
}

@mixin round-loader(
  $size: $loader-size,
  $color: $loader-color,
  $border-size: $loader-border-size,
  $duration: $loader-animation-duration,
  $align: null
) {
  width: $size;
  height: $size;
  border: $border-size solid $loader-bg-color;
  border-top-color: $color;
  border-radius: $radius-round;
  animation: loaderRotate $duration linear infinite;
  @if ($align == center) {
    margin: 0 auto;
  }
  @if ($align == middle) {
    top: 50%;
    margin: -$size / 2 auto 0;
  }

  @include loader-rotate-keyframes;
}
