

@mixin button-colors($map...) {
  @each $type in $map {
    // Defaults
    $bg: '';
    $bg-hover: '';
    $border: '';
    $color: $color-white;

    @if map-has-key($type, bg) {
      $bg: map-get($type, bg);
    }

    @if map-has-key($type, bg-hover) {
      $bg-hover: map-get($type, bg-hover);
    } @elseif map-has-key($type, bg) {
      $bg-hover: lighten($bg, 7);
    }

    @if map-has-key($type, border) {
      $border: map-get($type, border);
    } @elseif map-has-key($type, border) {
      $border: transparent;
    }

    @if map-has-key($type, color) {
      $color: map-get($type, color);
    }
    
    @if $button-gradients == true {
      background: linear-gradient(lighten($bg, 6%), $bg 66%, darken($bg, 4%));
    } @else {
      background: $bg;
    }
    
    @if $button-shadows == true {
      box-shadow: $shadow-xs;
    }
    
    border-color: $border;
    color: $color;


    &:hover,
    &:focus {
      background: $bg-hover;
    }

    &:visited {
      color: $color;
    }
  }
}


@mixin button-sizing($map...) {
  @each $size in $map {
    // Defaults
    $font-size: '';
    $padding: '';
    $height: '';

    @if map-has-key($size, font-size) {
      $font-size: map-get($size, font-size);
    }

    @if map-has-key($size, padding) {
      $padding: map-get($size, padding);
    }

    @if map-has-key($size, height) {
      $height: map-get($size, height);
    }

    font-size: $font-size;
    padding: $padding;
    height: $height;
    line-height: $height - 1;
  }
}
