// --------------------------------------------
// Media Base Mixin ---------------------------
// --------------------------------------------
$media-padding          : $space-sm $space-0 !default;
$media-margin           : $space-0 $space-sm !default;
$media-color            : $color-gray-7 !default;
$media-stripe-bg        : $color-gray-0 !default;
$media-hover-bg         : $media-stripe-bg !default;
$media-header-bg        : $color-gray-0 !default;
$media-new-bg           : $color-primary-0 !default;
$media-border           : $color-gray-2 !default;
$media-action-color     : $color-gray-6 !default;
$media-action-width     : inherit !default;
$media-action-height    : $media-action-width !default;
