// --------------------------------------------
// Backdrop Mixin -----------------------------
// --------------------------------------------
@mixin backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  z-index: $modal-z-index - 10;
  background-color: $modal-backdrop-bg-color;
}
