// --------------------------------------------
// Backdrop Mixin -----------------------------
// --------------------------------------------
@mixin backdrop($position:fixed, $visibility: hidden) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  position: $position;
  visibility: $visibility;
  justify-content: center;
  z-index: $modal-z-index - 10;
  background-color: $modal-backdrop-bg-color;
}


@mixin hover {
  &:hover { @content; }
}
