// --------------------------------------------
// Switch Base Mixin --------------------------
// --------------------------------------------
$switch-prefix             : 'form-switch' !default;
$switch-style              : "default" !default;
$default-switch-height     : 16px !default;
$large-switch-height       : 32px !default;
$default-switch-radius     : 50px !default;
$default-switch-font-size  : 10px !default;
$default-switch-bg         : $color-primary-8 !default;
$switch-label-off          : $color-gray-7 !default;
$switch-label-on           : $color-white !default;
$switch-handle             : $color-white !default;
$switch-disabled           : $color-gray-3 !default;
$switch-handle-disabled    : $color-gray-0 !default;
$switch-disabled-checked-bg: $color-gray-6 !default;

// $switch-sizes:
$switch-sizes: (
  lg: 64px
) !default;

// $switch-colors
$switch-colors: ("primary", $color-primary)
  ("success", $color-success)
  ("warning", $color-warning)
  ("danger", $color-danger) !default;

// NOTE: Material height must remain px value
$material-switch-height: 15px !default;

@mixin switch($style: $switch-style) {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: $default-switch-font-size;

  @if $style == material {
    width: $material-switch-height * 2 + 3;
    height: $material-switch-height;
    border-radius: $default-switch-radius;
    background: rgba(51, 51, 51, 0.02);
  }

  @if $style == square {
    width: $default-switch-height * 4;
    height: $default-switch-height * 2;
    border-radius: $radius-sm;
    background: $switch-handle;
  }

  @if $style == default {
    width: $default-switch-height * 2;
    height: $default-switch-height;
    border-radius: $default-switch-radius;
    box-shadow: inset 0 -1px $color-white, inset 0 1px 1px rgba(0, 0, 0, .05);
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked ~ .c-switch-label {
      background: $default-switch-bg;
      border-color: $default-switch-bg;
    }
  }

  &-label {
    display: block;
    height: inherit;
    box-shadow: none;
    position: relative;
    border-radius: inherit;
    text-transform: uppercase;
    transition: 0.25s ease-out;
    border: $global-default-border;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      margin-top: -$space-xs;
      line-height: 1;
      transition: inherit;
    }

    &::before {
      content: attr(data-off);
      right: 5px;
      color: $switch-label-off;
      text-shadow: 0 1px rgba(255, 255, 255, 0.5);
      opacity: 1;
    }

    &::after {
      content: attr(data-on);
      left: 8px;
      color: $switch-label-on;
      text-shadow: 0 1px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}

@mixin switch-handle($style: default) {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  transition: left 0.15s ease-out;

  @if $style == material {
    left: 0;
    width: $material-switch-height + 2;
    height: $material-switch-height + 2;
    border-radius: $default-switch-radius;
    background: $switch-handle;
    border: $global-default-border;
    box-shadow: none;
  }

  @if $style == square {
    width: 24px;
    height: 24px;
    left: 0.35rem;
    box-shadow: none;
    border-radius: $radius-sm;
    background: $switch-handle;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }

  @if $style == default {
    left: 1px;
    background: $switch-handle;
    width: $default-switch-height - 2px;
    height: $default-switch-height - 2px;
    border-radius: $default-switch-radius;
    box-shadow: 1px 1px 4px 0 rgba(33, 37, 41, 0.4);
  }
}

@each $name, $color in $switch-colors {
  .c-switch-#{$name} > .c-switch-input:checked ~ .c-switch-label {
    background: $color;
    border-color: $color;
  }
}


/// New Mixins

@mixin switch-base($height: $default-switch-height) {
  display: inline-block;
  position: relative;
  min-height: $height;
  padding: 0 0 0 ($height * 2 + 8);
  font-size: $height - 4;

  input,
  &-input {
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;

    &:focus + .#{$switch-prefix}-handle {
      border-color: $color-primary-7;
      box-shadow: 0 0 0 .1rem rgba($color-primary-7, .2);
    }

    &:checked + .#{$switch-prefix}-handle {
      background: $color-primary-7;
      border-color: $color-primary-7;

      &::before {
        left: $height;
      }

      + .#{$switch-prefix}-label::after {
        opacity: 0;
        display: none;
      }
    }

    &:disabled + .#{$switch-prefix}-handle {
      background: $switch-disabled;
      border-color: $switch-disabled;
      cursor: not-allowed;

      &::before {
        background: $switch-handle-disabled;
        box-shadow: none;
      }
    }

    &:checked[disabled] + .#{$switch-prefix}-handle {
      background: $switch-disabled-checked-bg;
      border-color: $switch-disabled-checked-bg;
      cursor: not-allowed;

      &::before {
        background: $switch-handle-disabled;
        box-shadow: none;
      }
    }
  }

  &-handle {
    left: 0;
    height: $height;
    width: $height * 2;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    background: $color-white;
    background-clip: padding-box;
    border: $global-default-border;
    border-radius: $default-switch-radius;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;

    &::before {
      top: 0;
      left: 0;
      content: "";
      display: block;
      position: absolute;
      width: $height - 2;
      height: $height - 2;
      background: $color-white;
      border-radius: $default-switch-radius;
      box-shadow: 1px 1px 4px 0 rgba(33, 37, 41, .4);
      transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
    }
  }

  &-label {
    height: inherit;
    cursor: pointer;
    box-shadow: none;
    position: absolute;
    border-radius: inherit;
    text-transform: uppercase;
    transition: 0.25s ease-out;
    font-size: 12px;
    top: $space-sm;
    left: $space-sm;

    &::after,
    &::before {
      line-height: 1;
      transition: 0.25s ease-out;
    }

    &::before {
      content: attr(data-on);
      margin-right: $space-xs;
      color: $switch-label-on;
      opacity: 1;
    }

    &::after {
      content: attr(data-off);
      color: $switch-label-off;
      margin-left: $space-xs;
      opacity: 1;
    }
  }

  &-disabled {
    color: $switch-disabled-checked-bg;
    cursor: not-allowed;

    .#{$switch-prefix} input,
    .#{$switch-prefix}-input {
      cursor: not-allowed;

      &:checked + .#{$switch-prefix}-handle {
        background: $switch-disabled-checked-bg;
        border-color: $switch-disabled-checked-bg;
        cursor: not-allowed;
      }
    }

    .#{$switch-prefix}-handle {
      background: $switch-disabled;
      border-color: $switch-disabled;
      cursor: not-allowed;
    }
  }
}

@mixin switch-size($height: $default-switch-height) {
  min-height: $height;
  padding: 0 0 0 ($height * 2 + 8);
  font-size: $height - 4;

  .#{$switch-prefix}-input {
    &:checked + .#{$switch-prefix}-handle::before {
      left: $height;
    }
  }

  .#{$switch-prefix}-handle {
    height: $height;
    width: $height * 2;

    &::before {
      width: $height - 2;
      height: $height - 2;
    }
  }
}

@mixin switch-color($color: black) {
  .#{$switch-prefix} input,
  .#{$switch-prefix}-input {
    &:focus + .#{$switch-prefix}-handle {
      border-color: $color;
      box-shadow: 0 0 0 .1rem rgba($color, .2);
    }

    &:checked + .#{$switch-prefix}-handle {
      background: $color;
      border-color: $color;
    }
  }
}
