// --------------------------------------------
// Toast Base Mixin ---------------------------
// --------------------------------------------
@mixin toast($color: $color-primary) {
  display: flex;
  position: relative;
  align-items: center;
  word-wrap: break-word;
  margin: $alert-margin;
  box-shadow: $shadow-sm;
  background: $color-white;
  color: $alert-default-color;
  font-size: $alert-font-size;
  border-radius: $alert-radius;
  font-family: $alert-font-family;
  font-weight: $toast-font-weight;
  border: 1px solid $color-gray-2;
  /* stylelint-disable */
  padding: 11px $alert-top-padding 11px ($alert-top-padding + $toast-left-border);
  /* stylelint-enable */

  i:not(.fa-times),
  &-icon {
    color: $color;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding-right: $alert-top-padding;
    font-size: $alert-font-size + 2;
  }

  // Alert Bar
  &::before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    background: $color;
    width: $toast-left-border;
    border: darken($color, 20);
    border-radius: $alert-radius 0 0 $alert-radius;
  }

  &-close {
    @include delete($size: 12px, $color: $color-gray-6);

    margin-left: auto;
    margin-right: -$space-xs;
  }
}


// --------------------------------------------
// Toast Style Mixin --------------------------
// --------------------------------------------
@mixin toast-style($color: color(primary)) {
  i:not(.fa-times),
  &-icon {
    color: $color;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: $alert-font-size + 2;
    padding-right: $alert-top-padding;
  }

  // Alert Bar
  &::before {
    background: $color;
    border: darken($color, 20);
  }
}
