// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/support/support';

@mixin test-mixin {
  box-shadow: shadow(xl);
  margin-top: space(xl);
  background: color(danger);
  color: color(gray, 9);
  font-weight: font-weight(bold);
  line-height: line-height();
  font-family: font(sans);
}

@include describe('Test functions for retrieving map data') {


  @include describe("Testing color [functions]") {
    @include it('Checks color functions return the right data') {
      @include assert-equal(color(success, 4), #69db7c);
      @include assert-equal(color(primary), #1c7cd6);
    }
  }

  @include describe("Testing space [function]") {
    @include it('Checks spacer functions return the right data') {
      @include assert-equal(space(lg), 24px);
      @include assert-equal(space(sm), 8px);
    }
  }

  @include describe("Testing shadow [function]") {
    @include it('Checks shadow functions return the right data') {
      @include assert-equal(shadow(sm), 0 4px 8px 0 rgba(0, 0, 0, 0.1));
    }
  }


  @include describe("Testing typography [functions]") {

    @include it('Checks font-size function return the right data') {
      @include assert-equal(font-size(sm), 11px);
    }

    @include it('Checks font-weight function return the right data') {
      @include assert-equal(font-weight(bold), 900);
    }

    // @include it('Checks line-height function return the right data') {
    //   @include assert-equal(line-height(subtitle2), 1.6);
    // }

    @include it('Checks font function return the right data') {
      @include assert-equal(font(sans), (-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto));
    }
  }


  @include describe("Test with mixin that returns multiple [functions]") {
    @include it('Checks cupcake functions output the right information') {
      @include assert {
        @include output {
          @include test-mixin;
        }
      @include expect {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        margin-top: 32px;
        background: #f03e3e;
        color: #212529;
        font-weight: 900;
        line-height: normal;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
      }
    }
  }
}
}

@include report;
