// stylelint-disable
@import '../node_modules/sass-true/sass/true';

$color-primary-9: #5018ab;
$base-font-family: 'Arial' sans-serif;


$font-weight: (
  bold: 100
);

$colors: (
  success: (
      3: #5eff6b
  )
);

$breakpoints: (
    sm: 200px,
    xxl: 2200px
);

@import '../src/support/support';

@include describe('Initialisation with custom config') {

  @include it('Should override color to match updated variable') {
    @include assert-equal(color(primary, 9), #5018ab);
  }

  @include it('Should override color to match change in map') {
    @include assert-equal(color(success, 3), #5eff6b);
  }

  @include it('Checks not overridden color remains') {
    @include assert-equal(color(primary), #1c7cd6);
  }

  @include it('Should override font to match updated variable') {
    @include assert-equal(font(primary), 'Arial' sans-serif);
  }

  @include it('Should override font-weight to match change in map') {
    @include assert-equal(font-weight(bold), 100);
  }

  @include it('Checks additional font-weights in map remain unchanged') {
    @include assert-equal(font-weight(semibold), 600);
  }

  @include it('Should override breakpoints to match change in map') {
    @include assert-equal(breakpoint(sm), 200px);
  }

  @include it('Checks additional breakpoints in map remain unchanged') {
    @include assert-equal(breakpoint(xxl), 2200px);
  }

}

@include report;
