// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/support/support';

@include describe('Test output for modifier mixins') {

  @include it('Checks modifier mixins output the right information for shadows') {
    @include assert {
      @include output {
        .depth {
          @include modifiers($shadow, 'box-shadow');
        }
      }
      @include expect {

        .depth-xs {
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        }
        .depth-sm {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }
        .depth-md {
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1);
        }
        .depth-lg {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
        }
        .depth-xl {
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .1);
        }
      }
    }
  }

  @include it('Checks mixins for the full color palette output') {
    @include assert {
      @include output {
        .color {
          @include modifiers($color, 'background-color');
        }
      }
      @include expect {
        .color-danger-0 {
          background-color: #fff5f5
        }
        .color-danger-1 {
          background-color: #ffe3e3
        }
        .color-danger-2 {
          background-color: #ffc9c9
        }
        .color-danger-3 {
          background-color: #ffa8a8
        }
        .color-danger-4 {
          background-color: #ff8787
        }
        .color-danger-5 {
          background-color: #ff6b6b
        }
        .color-danger-6 {
          background-color: #f03e3e
        }
        .color-danger-7 {
          background-color: #fa5252
        }
        .color-danger-8 {
          background-color: #e03131
        }
        .color-danger-9 {
          background-color: #c92a2a
        }
        .color-gray-0 {
          background-color: #f8f9fa
        }
        .color-gray-1 {
          background-color: #f1f3f5
        }
        .color-gray-2 {
          background-color: #e9ecef
        }
        .color-gray-3 {
          background-color: #dee2e6
        }
        .color-gray-4 {
          background-color: #ced4da
        }
        .color-gray-5 {
          background-color: #adb5bd
        }
        .color-gray-6 {
          background-color: #868e96
        }
        .color-gray-7 {
          background-color: #495057
        }
        .color-gray-8 {
          background-color: #343a40
        }
        .color-gray-9 {
          background-color: #212529
        }
        .color-primary-0 {
          background-color: #e8f7ff
        }
        .color-primary-1 {
          background-color: #ccedff
        }
        .color-primary-2 {
          background-color: #a3daff
        }
        .color-primary-3 {
          background-color: #72c3fc
        }
        .color-primary-4 {
          background-color: #4dadf7
        }
        .color-primary-5 {
          background-color: #329af0
        }
        .color-primary-6 {
          background-color: #228ae6
        }
        .color-primary-7 {
          background-color: #1c7cd6
        }
        .color-primary-8 {
          background-color: #1b6ec2
        }
        .color-primary-9 {
          background-color: #1862ab
        }
        .color-success-0 {
          background-color: #ebfbee
        }
        .color-success-1 {
          background-color: #d3f9d8
        }
        .color-success-2 {
          background-color: #b2f2bb
        }
        .color-success-3 {
          background-color: #8ce99a
        }
        .color-success-4 {
          background-color: #69db7c
        }
        .color-success-5 {
          background-color: #51cf66
        }
        .color-success-6 {
          background-color: #37b24d
        }
        .color-success-7 {
          background-color: #40c057
        }
        .color-success-8 {
          background-color: #2f9e44
        }
        .color-success-9 {
          background-color: #2b8a3e
        }
        .color-warning-0 {
          background-color: #fff4e6
        }
        .color-warning-1 {
          background-color: #ffe8cc
        }
        .color-warning-2 {
          background-color: #ffd8a8
        }
        .color-warning-3 {
          background-color: #ffc078
        }
        .color-warning-4 {
          background-color: #ffa94d
        }
        .color-warning-5 {
          background-color: #ff922b
        }
        .color-warning-6 {
          background-color: #f76707
        }
        .color-warning-7 {
          background-color: #fd7e14
        }
        .color-warning-8 {
          background-color: #e8590c
        }
        .color-warning-9 {
          background-color: #d9480f
        }

      }
    }
  }

  @include it('Checks modifier mixin outputs the right information for sizing') {
    @include assert {
      @include output {
        .space {
          @include modifiers($space, 'padding');
        }
      }
      @include expect {
        .space-0 { padding: 0; }
        .space-xxs { padding: 2px; }
        .space-xs { padding: 4px; }
        .space-sm { padding: 8px; }
        .space-md { padding: 16px; }
        .space-lg { padding: 24px; }
        .space-xl { padding: 32px; }
      }
    }
  }

  @include it('Checks modifier mixin outputs the right information for sizing with two values') {
    @include assert {
      @include output {
        .space-horizontal {
          @include modifiers($space, ('padding-left', 'padding-right'));
        }
      }
      @include expect {
        .space-horizontal-0 { padding-left   : 0; padding-right   : 0; }
        .space-horizontal-xxs { padding-left : 2px; padding-right : 2px; }
        .space-horizontal-xs { padding-left  : 4px; padding-right  : 4px; }
        .space-horizontal-sm { padding-left  : 8px; padding-right  : 8px; }
        .space-horizontal-md { padding-left  : 16px; padding-right  : 16px; }
        .space-horizontal-lg { padding-left  : 24px; padding-right  : 24px; }
        .space-horizontal-xl { padding-left  : 32px; padding-right  : 32px; }
      }
    }
  }

  @include it('Checks modifier mixin outputs the right information for font-weights with different prefix') {
    @include assert {
      @include output {
        .font-weight {
          @include modifiers($font-weight, 'font-weight', '-_-_');
        }
      }
      @include expect {
        .font-weight-_-_bold {font-weight: 900; }
        .font-weight-_-_semibold {font-weight: 600; }
        .font-weight-_-_normal {font-weight: 400; }
        .font-weight-_-_light {font-weight: 300; }
      }
    }
  }

}

@include report;
