// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/support/support';


@include describe('Test output for alert mixins') {

  @include it('Given a prefix - generates base attributes for an alert') {
    @include assert {
      @include output {
        .c-alert {
          @include alert-base();
        }
      }
      @include expect {
        .c-alert {
          color: #212529;
          display: flex;
          text-align: left;
          position: relative;
          background-color: rgba(27, 110, 194, 0.07);
          border: 1px solid;
          margin: 0 0 16px 0;
          padding: 8px;
          align-items: flex-start;
          font-size: 12px;
          border-radius: 2px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-weight: 500;
          line-height: 15px;
        }

        .c-alert-close {
          position: relative;
          display: inline-block;
          flex-grow: 0;
          flex-shrink: 0;
          font-size: 0;
          width: 12px;
          height: 12px;
          overflow: hidden;
          order: 2;
          margin-left: auto;
        }

        .c-alert-close:hover {
          cursor: pointer;
        }

        .c-alert-close:hover::before,
        .c-alert-close:hover::after {
          background: #383f45;
        }

        .c-alert-close::before,
        .c-alert-close::after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          top: 50%;
          background: #212529;
        }

        .c-alert-close::before {
          transform: rotate(45deg);
        }

        .c-alert-close::after {
          transform: rotate(-45deg);
        }

        .c-alert-title {
          font-weight: 700;
        }

        .c-alert-content {
          flex: 1;
          margin-right: 4px;
          line-height: 15px;
        }

        .c-alert-icon {
          color: #1b6ec2;
          align-self: stretch;
          font-size: 12px;
          padding-right: 8px;
          line-height: 15px;
        }
      }
    }
  }

  @include it('Given two arguments - outputs alternative COLOR') {
    @include assert {
      @include output {
        .c-alert-primary {
          @include alert-style(purple, green);
        }
      }
      @include expect {


        .c-alert-primary {
          background-color: purple;
          border-color: green;
        }

        .c-alert-primary .c-alert-close:hover::before,
        .c-alert-primary .c-alert-close:hover::after {
          background: #00b300;
        }

        .c-alert-primary .c-alert-close::before,
        .c-alert-primary .c-alert-close::after {
          background: green;
        }

        .c-alert-primary .c-alert-icon {
          color: green;
        }

      }
    }
  }

}


@include report;
