// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/cupcake';


@include describe('Test output for radio mixins') {

  @include it('Generates base attributes for an radio') {
    @include assert {
      @include output {
        .c-radio {
          @include check(radio);
        }
      }
      @include expect {
        .c-radio {
          position: relative;
          display: inline-flex;
          vertical-align: middle;
          min-width: 16px;
          min-height: 16px;
          line-height: 17px;
        }

        .c-radio[disabled] {
          cursor: not-allowed;
        }

        .c-radio[disabled] input {
          border-color: #dee2e6;
          background-color: #dee2e6;
        }

        .c-radio[disabled] label {
          cursor: not-allowed;
          color: #adb5bd;
        }

        .c-radio input {
          cursor: pointer;
          appearance: none;
          border: 1px solid #adb5bd;
          width: 16px;
          height: 16px;
          transition: background 0.2s;
          background-color: #ffffff;
        }

        .c-radio input[type="checkbox"] {
          border-radius: 2px;
        }

        .c-radio input[type="radio"] {
          border-radius: 50px;
        }

        .c-radio input:focus {
          outline: 0;
          border-color: #1b6ec2;
          box-shadow: none;
        }

        .c-radio input[disabled] {
          border-color: #dee2e6;
          background-color: #dee2e6;
        }

        .c-radio input:checked {
          background-repeat: no-repeat;
          background-position: center center;
          border-color: #1b6ec2;
          background-color: #1b6ec2;
        }

        .c-radio input:checked[type="checkbox"] {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath stroke='%23fff' stroke-width='3' d='M4 8.5L6.5 11l6-6' fill='none' stroke-linecap='square' stroke-linejoin='square'/%3e%3c/svg%3e");
        }

        .c-radio input:checked[type="radio"] {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }

        .c-radio input:checked[disabled] {
          filter: invert(10%);
          border-color: #868e96;
          background-color: #868e96;
        }

        .c-radio label {
          cursor: pointer;
          display: inherit;
          position: relative;
          font-size: 12px;
          font-weight: 400;
          margin-left: 8px;
        }

        .c-radio label:empty {
          margin-left: 0;
        }
      }
    }
  }

  @include it('Given an argument - outputs alternative COLOR') {
    @include assert {
      @include output {
        .c-radio-primary {
          @include check-color(purple, radio);
        }
      }
      @include expect {
        .c-radio-primary input:checked {
          background-color: purple;
          border-color: purple;
        }
      }
    }
  }

  @include it('Given an argument - outputs alternative SIZE') {
    @include assert {
      @include output {
        .c-radio-xl {
          @include check-size(33px);
        }
      }
      @include expect {
        .c-radio-xl input {
          width: 33px;
          height: 33px;
        }

        .c-radio-xl label {
          font-size: 29px;
          line-height: 32px;
          margin-left: 11px;
        }

        .c-radio-xl label:empty::before {
          margin-right: 0;
        }
      }
    }
  }
}


@include report;
