// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/support/support';

$avatar-prefix   : 'avi';

@include describe('Test output for avatar mixins') {

  @include it('Given a prefix - generates base attributes for an avatar') {
    @include assert {
      @include output {
        .#{$avatar-prefix} {
          @include avatar-base();
        }
      }
      @include expect {
        .avi {
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          box-shadow: none;
          text-align: center;
          position: relative;
          color: #ffffff;
          display: inline-flex;
          align-items: center;
          vertical-align: middle;
          justify-content: center;
          background: #495057;
          font-size: 12px;
          font-weight: 600;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          border-radius: 200px;
        }

        .avi i {
          font-size: 16px;
        }
      }
    }
  }

  @include it('Given two arguments - outputs alternative SIZE') {
    @include assert {
      @include output {
        .#{$avatar-prefix}-sm {
          @include avatar-size(30px, 10px);
        }
      }
      @include expect {
        .avi-sm {
          font-size: 10px;
          height: 30px;
          width: 30px;
        }

        .avi-sm i {
          font-size: 15px;
        }
      }
    }
  }

}


@include report;
