// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/cupcake';


@include describe('Test output for badge mixins') {

  @include it('Generates base attributes for a badge') {
    @include assert {
      @include output {
        .badge {
          @include badge-base();
        }
      }
      @include expect {
        .badge {
          align-items: center;
          color: #ffffff;
          display: inline-flex;
          text-decoration: none;
          vertical-align: middle;
          background: #000000;
          height: 24px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          padding: 0 8px;
          font-size: 11px;
          font-weight: 600;
          line-height: 2;
          border-radius: 50px;
        }
        .badge:empty {
          padding: 0;
          display: inline-block;
          vertical-align: inherit;
          border-radius: 50px;
          width: 12px;
          height: 12px;
        }
        .badge-close {
          border: 0;
          cursor: pointer;
          pointer-events: auto;
          display: inline-block;
          flex-grow: 0;
          flex-shrink: 0;
          font-size: 0;
          height: 16px;
          width: 16px;
          outline: none;
          position: relative;
          vertical-align: top;
          text-decoration: none;
          transition: background-color 0.2s ease;
          margin-left: 4px;
          margin-right: -4px;
          border-radius: 50px;
        }
        .badge-close::before {
          height: 2px;
          width: 8px;
        }
        .badge-close::after {
          height: 8px;
          width: 2px;
        }
        .badge-close::before, .badge-close::after {
          position: absolute;
          display: block;
          background-color: #868e96;
          border-radius: 2px;
          content: "";
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform-origin: center center;
        }
        .badge-close:hover::before, .badge-close:hover::after {
          background-color: #6c757d;
        }
        .badge-close::before, .badge-close::after {
          background-color: #ffffff;
        }
        .badge-close:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        .badge-close:hover::before, .badge-close:hover::after {
          background-color: #ffffff;
        }
        .badge i {
          padding-right: 6px;
        }
      }
    }
  }

  @include it('Given arguments - outputs correct SIZE attributes') {
    @include assert {
      @include output {
        .badge {
          @include badge-size($size: 32px, $font-size: 12px);
        }
      }
      @include expect {
        .badge {
          height: 32px;
          min-width: 32px;
          font-size: 12px;
          line-height: 33px;
        }
        .badge i {
          font-size: 12px;
        }
        .badge:empty {
          width: 16px;
          height: 16px;
          min-width: 0;
        }
      }
    }
  }

  @include it('Given single argument - outputs correct COLOR bg with white color') {
    @include assert {
      @include output {
        .badge {
          @include badge-style(purple);
        }
      }
      @include expect {
        .badge {
          color: #ffffff;
          background-color: purple;
        }
      }
    }
  }

  @include it('Given two arguments - outputs correct COLOR BACKGROUND & FOREGROUND') {
    @include assert {
      @include output {
        .badge {
          @include badge-style(yellow, black);
        }
      }
      @include expect {
        .badge {
          color: black;
          background-color: yellow;
        }
      }
    }
  }

}


@include report;
