
$color-palette: (
  'danger': (
    0: $danger-0,
    1: $danger-1,
    2: $danger-2,
    3: $danger-3,
    4: $danger-4,
    5: $danger-5,
    6: $danger-6,
    7: $danger-7,
    8: $danger-8,
    9: $danger-9
  ),
  'primary': (
    0: $primary-0,
    1: $primary-1,
    2: $primary-2,
    3: $primary-3,
    4: $primary-4,
    5: $primary-5,
    6: $primary-6,
    7: $primary-7,
    8: $primary-8,
    9: $primary-9
  ),
  'success': (
    0: $success-0,
    1: $success-1,
    2: $success-2,
    3: $success-3,
    4: $success-4,
    5: $success-5,
    6: $success-6,
    7: $success-7,
    8: $success-8,
    9: $success-9
  ),
  'warning': (
    0: $warning-0,
    1: $warning-1,
    2: $warning-2,
    3: $warning-3,
    4: $warning-4,
    5: $warning-5,
    6: $warning-6,
    7: $warning-7,
    8: $warning-8,
    9: $warning-9
  ),
);


$font-body: (
  xs: $font-body-xs,
  sm: $font-body-sm,
  md: $font-body-md,
  lg: $font-body-lg,
  xl: $font-body-xl,
  xxl: $font-body-xxl,
);

$font-headers: (
  xs: $font-header-xs,
  sm: $font-header-sm,
  md: $font-header-md,
  lg: $font-header-lg,
  xl: $font-header-xl,
  xxl: $font-header-xxl,
);

$font-line-height: (
  normal: $font-line-height-normal,
  default: $font-line-height-default,
  condensed: $font-line-height-condensed,
);

$font-stack: (
  sans: $font-stack-sans,
  mono: $font-stack-mono,
);

$font-weights: (
  bold: $font-weight-bold,
  semibold: $font-weight-semibold,
  normal: $font-weight-normal,
  light: $font-weight-light,
);

$radius: (
  0: $radius-0,
  square: $radius-square,
  sm: $radius-sm,
  md: $radius-md,
  lg: $radius-lg,
  round: $radius-round,
  pill: $radius-pill,
);

$shadows: (
  xs: $shadow-xs,
  sm: $shadow-sm,
  md: $shadow-md,
  lg: $shadow-lg,
  xl: $shadow-xl,
);

$spacing: (
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl,
);

$theme: (
  primary: $primary,
  success: $success,
  warning: $warning,
  danger: $danger,
);
