
$color-primary: #1b6ec2 !default;
$color-success: #2f9e44 !default;
$color-warning: #e8590c !default;
$color-danger: #e03131 !default;
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-primary-0: #e8f7ff !default;
$color-primary-1: #ccedff !default;
$color-primary-2: #a3daff !default;
$color-primary-3: #72c3fc !default;
$color-primary-4: #4dadf7 !default;
$color-primary-5: #329af0 !default;
$color-primary-7: #1c7cd6 !default;
$color-primary-6: #228ae6 !default;
$color-primary-8: #1b6ec2 !default;
$color-primary-9: #1862ab !default;
$color-success-0: #ebfbee !default;
$color-success-1: #d3f9d8 !default;
$color-success-2: #b2f2bb !default;
$color-success-3: #8ce99a !default;
$color-success-4: #69db7c !default;
$color-success-5: #51cf66 !default;
$color-success-7: #40c057 !default;
$color-success-6: #37b24d !default;
$color-success-8: #2f9e44 !default;
$color-success-9: #2b8a3e !default;
$color-warning-0: #fff4e6 !default;
$color-warning-1: #ffe8cc !default;
$color-warning-2: #ffd8a8 !default;
$color-warning-3: #ffc078 !default;
$color-warning-4: #ffa94d !default;
$color-warning-5: #ff922b !default;
$color-warning-7: #fd7e14 !default;
$color-warning-6: #f76707 !default;
$color-warning-8: #e8590c !default;
$color-warning-9: #d9480f !default;
$color-danger-0: #fff5f5 !default;
$color-danger-1: #ffe3e3 !default;
$color-danger-2: #ffc9c9 !default;
$color-danger-3: #ffa8a8 !default;
$color-danger-4: #ff8787 !default;
$color-danger-5: #ff6b6b !default;
$color-danger-7: #fa5252 !default;
$color-danger-6: #f03e3e !default;
$color-danger-8: #e03131 !default;
$color-danger-9: #c92a2a !default;
$color-color-link: #1b6ec2 !default;
$color-color-link-hover: #1c7cd6 !default;


$font-body-xs: 10px !default;
$font-body-sm: 11px !default;
$font-body-md: 12px !default;
$font-body-lg: 14px !default;
$font-body-xl: 16px !default;
$font-body-xxl: 18px !default;


$font-header-xs: 12px !default;
$font-header-sm: 14px !default;
$font-header-md: 16px !default;
$font-header-lg: 20px !default;
$font-header-xl: 24px !default;
$font-header-xxl: 36px !default;


$line-height-normal: normal !default;
$line-height-default: 1.5 !default;
$line-height-condensed: 1.25 !default;


$font-family-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$font-family-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;


$font-weight-bold: 900 !default;
$font-weight-semibold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;


$radius-0: none !default;
$radius-square: 0 !default;
$radius-sm: 2px !default;
$radius-md: 4px !default;
$radius-lg: 8px !default;
$radius-round: 200px !default;
$radius-pill: 100% !default;


$shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, .1) !default;
$shadow-sm: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !default;
$shadow-md: 0 6px 12px 0 rgba(0, 0, 0, .1) !default;
$shadow-lg: 0 8px 16px 0 rgba(0, 0, 0, .1) !default;
$shadow-xl: 0 12px 24px 0 rgba(0, 0, 0, .1) !default;


$spacing-xs: 4px !default;
$spacing-sm: 8px !default;
$spacing-md: 16px !default;
$spacing-lg: 24px !default;
$spacing-xl: 32px !default;


$color-primary: #1b6ec2 !default;
$color-success: #2f9e44 !default;
$color-warning: #e8590c !default;
$color-danger: #e03131 !default;
