<div class="docs-section" id="{{@key}}">
  {{#if items}}
  {{#each items}}
  <div class="c-col-12" id="{{@key}}">
    <div class="docs-section-header">
      <div class="docs-section-title">{{name}}</div>
      {{#if notes}}
      <div class="docs-section-subtitle">
        {{{notes}}}
      </div>
      {{/if}}
    </div>
    <div class="docs-section-preview">{{{material @key @root}}}</div>
  </div>
  {{/each}}
  {{else}}
  <div class="c-col-12" id="{{@key}}">
    <div class="docs-section-header">
      <div class="docs-section-title">{{name}} <a href="pages/{{@key}}.html" target="_blank">View Test Page</a></div>
      {{#if notes}}
      <div class="docs-section-subtitle">
        {{{notes}}}
      </div>
      {{/if}}
    </div>
    <div class="docs-section-preview">{{{material @key @root}}}</div>
  </div>
  {{/if}}
</div>
