<aside class="c-sidenav">
  <nav class="c-sidenav-body" data-simplebar="">



    <ul class="c-sidenav-menu" id="js-nav">

      <div class="c-sidenav-menu-category">Main</div>

      <li class="c-sidenav-menu-item c-sidenav-menu-item-active">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-home"></span>
          <span class="c-sidenav-menu-title">Dashboard</span>
        </a>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-user"></span>
          <span class="c-sidenav-menu-title">Users</span>
          <span class="c-sidenav-menu-arrow">
            <span class="fa fa-caret-right"></span>
          </span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Moderators</span>
              <span class="c-sidenav-menu-arrow">
                <span class="fa fa-caret-right"></span>
              </span>
            </a>
            <ul class="c-sidenav-menu-submenu">
              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 1</span>
                  <span class="c-sidenav-menu-arrow">
                    <span class="fa fa-caret-right"></span>
                  </span>
                </a>
                <ul class="c-sidenav-menu-submenu">
                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 1</span>
                    </a>
                  </li>

                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 2</span>
                    </a>
                  </li>

                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 3</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 2</span>
                </a>
              </li>

              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 3</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Customers</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-recycle"></span>
          <span class="c-sidenav-menu-title">Recycle Icon</span>
          <span class="c-sidenav-menu-arrow">
            <span class="fa fa-caret-right"></span>
          </span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-star"></span>
          <span class="c-sidenav-menu-title">Star Icon</span>
          <span class="c-sidenav-menu-arrow">
            <span class="fa fa-caret-right"></span>
          </span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-hourglass-start"></span>
          <span class="c-sidenav-menu-title">Hourglass Icon</span>
          <span class="c-sidenav-menu-arrow">
            <span class="fa fa-caret-right"></span>
          </span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">
              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

      <div class="c-sidenav-divider"></div>

      <div class="c-sidenav-menu-category">Secondary</div>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-home"></span>
          <span class="c-sidenav-menu-title">Dashboard</span>
        </a>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-user"></span>
          <span class="c-sidenav-menu-title">Users</span>
          <span class="c-sidenav-menu-arrow"></span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Moderators</span>
              <span class="c-sidenav-menu-arrow"></span>
            </a>
            <ul class="c-sidenav-menu-submenu">
              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 1</span>
                  <span class="c-sidenav-menu-arrow"></span>
                </a>
                <ul class="c-sidenav-menu-submenu">
                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 1</span>
                    </a>
                  </li>

                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 2</span>
                    </a>
                  </li>

                  <li class="c-sidenav-menu-item">
                    <a class="c-sidenav-menu-link" href="#">
                      <span class="c-sidenav-menu-title">Line 3</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 2</span>
                </a>
              </li>

              <li class="c-sidenav-menu-item">
                <a class="c-sidenav-menu-link" href="#">
                  <span class="c-sidenav-menu-title">Line 3</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Customers</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-recycle"></span>
          <span class="c-sidenav-menu-title">Recycle Icon</span>
          <span class="c-sidenav-menu-arrow"></span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-star"></span>
          <span class="c-sidenav-menu-title">Star Icon</span>
          <span class="c-sidenav-menu-arrow"></span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidenav-menu-item">
        <a class="c-sidenav-menu-link" href="#">
          <span class="c-sidenav-menu-icon fa fa-hourglass-start"></span>
          <span class="c-sidenav-menu-title">Hourglass Icon</span>
          <span class="c-sidenav-menu-arrow"></span>
        </a>

        <ul class="c-sidenav-menu-submenu">
          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 1</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 2</span>
            </a>
          </li>

          <li class="c-sidenav-menu-item">
            <a class="c-sidenav-menu-link" href="#">

              <span class="c-sidenav-menu-title">Line 3</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>


  <div class="c-sidenav-collapse">
    <i class="fa fa-angle-left"></i>
  </div>



</aside>
