$alert-border               : 1px solid !default;
$alert-margin               : 0 0 space(md) 0 !default;
$alert-padding              : space(sm) !default;
$alert-top-padding          : space(md) !default;
$alert-font-size            : 12px !default;
$alert-line-height          : 16px !default;
$alert-height               : 32px !default;
$alert-font-family          : font() !default;
$alert-font-weight          : font-weight() !default;
$alert-primary-bg           : rgba(color(primary), .07) !default;
$alert-primary-color        : color(primary) !default;
$alert-primary-icon-color   : color(primary) !default;

$alert-colors:
  (primary, color(primary, 0), color(primary))
  (success, color(success, 0), color(success))
  (warning, color(warning, 0), color(warning))
  (danger, color(danger, 0), color(danger)) !default;

$alert-radius               : 2px !default;
$alert-top-radius           : 0 !default;
$alert-shadows              : shadow(lg) !default;
$alert-icon-width           : 12px !default;
$alert-close-font-size      : 24px !default;
$alert-prefix               : 'c-alert' !default;


.#{$alert-prefix} {
  @include alert-base;

  @each $name, $bg, $color in $alert-colors {
    &-#{$name} {
      @include alert-style($bg, $color);
    }
  }
}

