$color-gray-1: #f0f1f1;
$color-gray-3: #dbdddd;
$color-gray-4: #bbbdbf;
$color-gray-5: #727679;
$color-gray-6: #57595b;
$color-gray-7: #2c2e32;

$color-primary: #00a06f;
$color-primary-0: lighten($color-primary, 65);
$color-primary-1: lighten($color-primary, 55);
$color-primary-2: lighten($color-primary, 40);
$color-primary-3: lighten($color-primary, 30);
$color-primary-4: lighten($color-primary, 20);
$color-primary-5: lighten($color-primary, 15);
$color-primary-6: lighten($color-primary, 10);
$color-primary-7: lighten($color-primary, 5);
$color-primary-8: $color-primary;
$color-primary-9: darken($color-primary, 10);

$color-warning-8: #f78515;
$color-warning: $color-warning-8;

$color-danger-8: #ee2f53;
$color-danger: $color-danger-8;

$BRS-font-size           : 17px;


// --------------------------------------------
// TYPOGRAPHY ---------------------------------
// --------------------------------------------
$font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

$global-text-color          : $color-gray-6;
$global-size-lg: 44px;

$body-font-size           : $BRS-font-size;
$body-font-color          : $color-gray-5;

$font-header: (
  "xl": (
    "font-size": 24px,
    "line-height": 31px
  ),
  "xxl": (
    "font-size": 37px,
    "line-height": 48px
  ),
);


// --------------------------------------------
// Badge --------------------------------------
// --------------------------------------------
$badge-border-radius         : 10px;


// --------------------------------------------
// BUTTON -------------------------------------
// --------------------------------------------
$btn-radius: 5px;
$btn-font-weight: normal;

$button-sizes:(
  lg: (
    font-size: $BRS-font-size,
    padding: 0 24px,
    height: $global-size-lg
  )
);


// --------------------------------------------
// FORMS --------------------------------------
// --------------------------------------------
$control-background     : white;
$control-border         : 1px solid $color-gray-3;
$control-border-radius  : 0;
$control-font-size      : $BRS-font-size;
$control-color          : $color-gray-6;
$control-disabled-background  : $color-gray-1;
$control-font-weight    : 300;
$control-line-height    : 1.47;
$control-shadow         : none;
$control-padding        : 10px;

$control-hover                : $color-gray-6;
$control-hover-border         : $color-gray-6;
$control-active               : $color-gray-6;
$control-active-border        : $color-gray-6;

$control-sizes:(
  "lg": (
    "height": $global-size-lg,
    "font-size": $BRS-font-size,
    "padding": 0 10px
  )
);


// --------------------------------------------
// MODAL --------------------------------------
// --------------------------------------------
$modal-title-color      : white;
$modal-title-font-size  : 37px;
$modal-title-font-weight: 300;
$modal-close-color      : white;
$modal-border-radius    : 0;
$modal-body-padding     : 30px 20px;
$modal-border           : none;

// $BRS-* are not Cupcake overrides
$BRS-modal-shadow: 4px 4px 2px 0 rgba(71, 72, 75, 0.35);
$BRS-modal-header-height: 60px;
$BRS-modal-header-bg-color: $color-gray-7;
$BRS-modal-header-color: white;

// --------------------------------------------
// ALERT --------------------------------------
// --------------------------------------------
$alert-title-font-size  : $BRS-font-size;
$alert-title-font-weight: normal;
$alert-text-align       : center;
$alert-color            : white;
$alert-colors: (
  "danger": (
    "color": white,
    "bg": $color-danger-8
  ),
);


// --------------------------------------------
// CHECKBOX -----------------------------------
// --------------------------------------------
$checkbox-bd: 1px solid #a1a2a3;
$checkbox-bg-checked: $color-gray-7;
$checkbox-sizes: (
  lg: 20px
);


// --------------------------------------------
// DROPDOWN -----------------------------------
// --------------------------------------------
$dropdown-radius             : 0 !default;
$dropdown-border             : none;
$dropdown-font-size          : $BRS-font-size !default;
$dropdown-font-weight        : normal !default;
$dropdown-bg-hover           : $color-primary !default;
$dropdown-shadow             : 1px 1px 5px 1px #bfbbbb99;
$dropdown-color              : $color-gray-6 !default;
$dropdown-color-hover        : white !default;
$dropdown-selected-color     : $color-primary;
$dropdown-selected-bg        : white;
$dropdown-icon-color         : $color-gray-6 !default;
$dropdown-list-padding       : 0;
$dropdown-item-padding       : 12px;


// --------------------------------------------
// SWITCHES -----------------------------------
// --------------------------------------------

$switch-border             : 1px solid #74767a;
$switch-handle             : #ee2f53 !default;
$switch-off-bg             : #e5e8e8 !default;
$switch-on-bg              : #e5e8e8 !default;
$switch-shadow             : none;

$switch-sizes: (
  lg: 26px
);

// --------------------------------------------
// TABS ---------------------------------------
// --------------------------------------------
$tabs-color             : $color-gray-7;
$tabs-color-hover       : $color-primary;
$tabs-color-active      : $color-primary;
$tabs-color-disabled    : #bbbdbf;
$tabs-padding           : 0;
$tabs-font-size         : 24px;
$tabs-font-weight       : 300;
$tabs-box-shadow        : none;
$tabs-border-bottom     : 2px;

// $BRS-* are not Cupcake overrides
$BRS-tab-item-margin-right: 24px;
