/* stylelint-disable */
.c-popover,
.c-tooltip {
  z-index: 1;
  font-size: 14px;
  background: #fff;
  max-width: 300px;
  text-align: left;
  line-height: 15px;
  position: absolute;
  color: $color-gray-7;
  border: 1px solid #ced4da;
  padding: $space-sm $space-md;
  font-family: $font-family-sans;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.2);
  border-radius: $global-default-radius;
}
.c-popover-top,
.c-popover[x-placement^=top],
.c-tooltip-top,
.c-tooltip[x-placement^=top] {
  margin-bottom: $space-sm;
}
.c-popover-left,
.c-popover[x-placement^=left],
.c-tooltip-left,
.c-tooltip[x-placement^=left] {
  margin-right: $space-sm;
}
.c-popover-right,
.c-popover[x-placement^=right],
.c-tooltip-right,
.c-tooltip[x-placement^=right] {
  margin-left: $space-sm;
}
.c-popover-bottom,
.c-popover[x-placement^=bottom],
.c-tooltip-bottom,
.c-tooltip[x-placement^=bottom] {
  margin-top: $space-sm;
}
.c-popover-arrow,
.c-tooltip-arrow {
  position: absolute;
}
.c-popover[x-out-of-boundaries],
.c-tooltip[x-out-of-boundaries] {
  display: none !important;
}
.c-popover-bottom > .c-popover-arrow,
.c-popover-bottom > .c-popover-arrow::after,
.c-popover-bottom > .c-tooltip-arrow,
.c-popover-bottom > .c-tooltip-arrow::after,
.c-popover-top > .c-popover-arrow,
.c-popover-top > .c-popover-arrow::after,
.c-popover-top > .c-tooltip-arrow,
.c-popover-top > .c-tooltip-arrow::after,
.c-tooltip-bottom > .c-popover-arrow,
.c-tooltip-bottom > .c-popover-arrow::after,
.c-tooltip-bottom > .c-tooltip-arrow,
.c-tooltip-bottom > .c-tooltip-arrow::after,
.c-tooltip-top > .c-popover-arrow,
.c-tooltip-top > .c-popover-arrow::after,
.c-tooltip-top > .c-tooltip-arrow,
.c-tooltip-top > .c-tooltip-arrow::after {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.c-popover-left > .c-popover-arrow,
.c-popover-left > .c-popover-arrow::after,
.c-popover-left > .c-tooltip-arrow,
.c-popover-left > .c-tooltip-arrow::after,
.c-popover-right > .c-popover-arrow,
.c-popover-right > .c-popover-arrow::after,
.c-popover-right > .c-tooltip-arrow,
.c-popover-right > .c-tooltip-arrow::after,
.c-tooltip-left > .c-popover-arrow,
.c-tooltip-left > .c-popover-arrow::after,
.c-tooltip-left > .c-tooltip-arrow,
.c-tooltip-left > .c-tooltip-arrow::after,
.c-tooltip-right > .c-popover-arrow,
.c-tooltip-right > .c-popover-arrow::after,
.c-tooltip-right > .c-tooltip-arrow,
.c-tooltip-right > .c-tooltip-arrow::after {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.c-popover[x-placement^=bottom] > .c-popover-arrow,
.c-popover[x-placement^=bottom] > .c-tooltip-arrow,
.c-popover[x-placement^=top] > .c-popover-arrow,
.c-popover[x-placement^=top] > .c-tooltip-arrow,
.c-tooltip[x-placement^=bottom] > .c-popover-arrow,
.c-tooltip[x-placement^=bottom] > .c-tooltip-arrow,
.c-tooltip[x-placement^=top] > .c-popover-arrow,
.c-tooltip[x-placement^=top] > .c-tooltip-arrow {
  margin: 0 3px;
}
.c-popover[x-placement^=bottom] > .c-popover-arrow::after,
.c-popover[x-placement^=bottom] > .c-tooltip-arrow::after,
.c-popover[x-placement^=top] > .c-popover-arrow::after,
.c-popover[x-placement^=top] > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=bottom] > .c-popover-arrow::after,
.c-tooltip[x-placement^=bottom] > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=top] > .c-popover-arrow::after,
.c-tooltip[x-placement^=top] > .c-tooltip-arrow::after {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.c-popover[x-placement^=left] > .c-popover-arrow,
.c-popover[x-placement^=left] > .c-tooltip-arrow,
.c-popover[x-placement^=right] > .c-popover-arrow,
.c-popover[x-placement^=right] > .c-tooltip-arrow,
.c-tooltip[x-placement^=left] > .c-popover-arrow,
.c-tooltip[x-placement^=left] > .c-tooltip-arrow,
.c-tooltip[x-placement^=right] > .c-popover-arrow,
.c-tooltip[x-placement^=right] > .c-tooltip-arrow {
  margin: 3px 0;
}
.c-popover[x-placement^=left] > .c-popover-arrow::after,
.c-popover[x-placement^=left] > .c-tooltip-arrow::after,
.c-popover[x-placement^=right] > .c-popover-arrow::after,
.c-popover[x-placement^=right] > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=left] > .c-popover-arrow::after,
.c-tooltip[x-placement^=left] > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=right] > .c-popover-arrow::after,
.c-tooltip[x-placement^=right] > .c-tooltip-arrow::after {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.c-popover-top > .c-popover-arrow,
.c-popover-top > .c-tooltip-arrow,
.c-popover[x-placement^=top] > .c-popover-arrow,
.c-popover[x-placement^=top] > .c-tooltip-arrow,
.c-tooltip-top > .c-popover-arrow,
.c-tooltip-top > .c-tooltip-arrow,
.c-tooltip[x-placement^=top] > .c-popover-arrow,
.c-tooltip[x-placement^=top] > .c-tooltip-arrow {
  width: 0;
  height: 0;
  content: '';
  bottom: -10px;
  display: block;
  border: inset 10px;
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #ced4da transparent transparent;
}
.c-popover-top > .c-popover-arrow::after,
.c-popover-top > .c-tooltip-arrow::after,
.c-popover[x-placement^=top] > .c-popover-arrow::after,
.c-popover[x-placement^=top] > .c-tooltip-arrow::after,
.c-tooltip-top > .c-popover-arrow::after,
.c-tooltip-top > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=top] > .c-popover-arrow::after,
.c-tooltip[x-placement^=top] > .c-tooltip-arrow::after {
  width: 0;
  height: 0;
  bottom: 1px;
  content: '';
  display: block;
  border: inset 9px;
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #fff transparent transparent;
}
.c-popover-right > .c-popover-arrow,
.c-popover-right > .c-tooltip-arrow,
.c-popover[x-placement^=right] > .c-popover-arrow,
.c-popover[x-placement^=right] > .c-tooltip-arrow,
.c-tooltip-right > .c-popover-arrow,
.c-tooltip-right > .c-tooltip-arrow,
.c-tooltip[x-placement^=right] > .c-popover-arrow,
.c-tooltip[x-placement^=right] > .c-tooltip-arrow {
  width: 0;
  height: 0;
  left: -10px;
  content: '';
  display: block;
  border: inset 10px;
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #ced4da transparent transparent;
}
.c-popover-right > .c-popover-arrow::after,
.c-popover-right > .c-tooltip-arrow::after,
.c-popover[x-placement^=right] > .c-popover-arrow::after,
.c-popover[x-placement^=right] > .c-tooltip-arrow::after,
.c-tooltip-right > .c-popover-arrow::after,
.c-tooltip-right > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=right] > .c-popover-arrow::after,
.c-tooltip[x-placement^=right] > .c-tooltip-arrow::after {
  width: 0;
  left: 1px;
  height: 0;
  content: '';
  display: block;
  border: inset 9px;
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #fff transparent transparent;
}
.c-popover-bottom > .c-popover-arrow,
.c-popover-bottom > .c-tooltip-arrow,
.c-popover[x-placement^=bottom] > .c-popover-arrow,
.c-popover[x-placement^=bottom] > .c-tooltip-arrow,
.c-tooltip-bottom > .c-popover-arrow,
.c-tooltip-bottom > .c-tooltip-arrow,
.c-tooltip[x-placement^=bottom] > .c-popover-arrow,
.c-tooltip[x-placement^=bottom] > .c-tooltip-arrow {
  width: 0;
  height: 0;
  top: -10px;
  content: '';
  display: block;
  border: inset 10px;
  border-top-width: 0;
  border-bottom-style: solid;
  border-color: transparent transparent #ced4da;
}
.c-popover-bottom > .c-popover-arrow::after,
.c-popover-bottom > .c-tooltip-arrow::after,
.c-popover[x-placement^=bottom] > .c-popover-arrow::after,
.c-popover[x-placement^=bottom] > .c-tooltip-arrow::after,
.c-tooltip-bottom > .c-popover-arrow::after,
.c-tooltip-bottom > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=bottom] > .c-popover-arrow::after,
.c-tooltip[x-placement^=bottom] > .c-tooltip-arrow::after {
  top: 1px;
  width: 0;
  height: 0;
  content: '';
  display: block;
  border: inset 9px;
  border-top-width: 0;
  border-bottom-style: solid;
  border-color: transparent transparent #fff;
}
.c-popover-left > .c-popover-arrow,
.c-popover-left > .c-tooltip-arrow,
.c-popover[x-placement^=left] > .c-popover-arrow,
.c-popover[x-placement^=left] > .c-tooltip-arrow,
.c-tooltip-left > .c-popover-arrow,
.c-tooltip-left > .c-tooltip-arrow,
.c-tooltip[x-placement^=left] > .c-popover-arrow,
.c-tooltip[x-placement^=left] > .c-tooltip-arrow {
  width: 0;
  height: 0;
  content: '';
  right: -10px;
  display: block;
  border: inset 10px;
  border-right-width: 0;
  border-left-style: solid;
  border-color: transparent transparent transparent #ced4da;
}
.c-popover-left > .c-popover-arrow::after,
.c-popover-left > .c-tooltip-arrow::after,
.c-popover[x-placement^=left] > .c-popover-arrow::after,
.c-popover[x-placement^=left] > .c-tooltip-arrow::after,
.c-tooltip-left > .c-popover-arrow::after,
.c-tooltip-left > .c-tooltip-arrow::after,
.c-tooltip[x-placement^=left] > .c-popover-arrow::after,
.c-tooltip[x-placement^=left] > .c-tooltip-arrow::after {
  width: 0;
  height: 0;
  right: 1px;
  content: '';
  display: block;
  border: inset 9px;
  border-right-width: 0;
  border-left-style: solid;
  border-color: transparent transparent transparent #fff;
}


$colors-legacy-tooltips: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);


@each $name, $color in $colors-legacy-tooltips {
  .c-popover-#{$name},
  .c-tooltip-#{$name} {
    color: #fff;
    font-weight: 700;
    background: $color;
    border: 1px solid $color
  }
  .c-popover-#{$name}.c-popover-top > .c-popover-arrow,
  .c-popover-#{$name}[x-placement^=top] > .c-popover-arrow,
  .c-tooltip-#{$name}.c-popover-top > .c-popover-arrow,
  .c-tooltip-#{$name}[x-placement^=top] > .c-popover-arrow {
    border-color: $color transparent transparent
  }
  .c-popover-#{$name}.c-popover-top > .c-popover-arrow::after,
  .c-popover-#{$name}[x-placement^=top] > .c-popover-arrow::after,
  .c-tooltip-#{$name}.c-popover-top > .c-popover-arrow::after,
  .c-tooltip-#{$name}[x-placement^=top] > .c-popover-arrow::after {
    border-color: $color transparent transparent
  }
  .c-popover-#{$name}.c-popover-bottom > .c-popover-arrow,
  .c-popover-#{$name}[x-placement^=bottom] > .c-popover-arrow,
  .c-tooltip-#{$name}.c-popover-bottom > .c-popover-arrow,
  .c-tooltip-#{$name}[x-placement^=bottom] > .c-popover-arrow {
    border-color: transparent transparent $color
  }
  .c-popover-#{$name}.c-popover-bottom > .c-popover-arrow::after,
  .c-popover-#{$name}[x-placement^=bottom] > .c-popover-arrow::after,
  .c-tooltip-#{$name}.c-popover-bottom > .c-popover-arrow::after,
  .c-tooltip-#{$name}[x-placement^=bottom] > .c-popover-arrow::after {
    border-color: transparent transparent $color
  }
  .c-popover-#{$name}.c-popover-left > .c-popover-arrow,
  .c-popover-#{$name}.c-popover-right > .c-popover-arrow,
  .c-popover-#{$name}[x-placement^=left] > .c-popover-arrow,
  .c-popover-#{$name}[x-placement^=right] > .c-popover-arrow,
  .c-tooltip-#{$name}.c-popover-left > .c-popover-arrow,
  .c-tooltip-#{$name}.c-popover-right > .c-popover-arrow,
  .c-tooltip-#{$name}[x-placement^=left] > .c-popover-arrow,
  .c-tooltip-#{$name}[x-placement^=right] > .c-popover-arrow {
    border-color: transparent $color transparent
  }
  .c-popover-#{$name}.c-popover-left > .c-popover-arrow::after,
  .c-popover-#{$name}.c-popover-right > .c-popover-arrow::after,
  .c-popover-#{$name}[x-placement^=left] > .c-popover-arrow::after,
  .c-popover-#{$name}[x-placement^=right] > .c-popover-arrow::after,
  .c-tooltip-#{$name}.c-popover-left > .c-popover-arrow::after,
  .c-tooltip-#{$name}.c-popover-right > .c-popover-arrow::after,
  .c-tooltip-#{$name}[x-placement^=left] > .c-popover-arrow::after,
  .c-tooltip-#{$name}[x-placement^=right] > .c-popover-arrow::after {
    border-color: transparent $color transparent
  }
}


/* stylelint-enable */
