/* stylelint-disable */
.c-notify-logs {
  position: fixed;
  z-index: 99999;
  width: 25vw;
  min-width: 390px
}
.c-notify-logs.top {
  top: 16px
}
.c-notify-logs.bottom {
  bottom: 16px
}
.c-notify-logs.left {
  left: 16px
}
.c-notify-logs.left .c-alert,
.c-notify-logs.left .c-toast-alert {
  -webkit-transform: translateX(calc(-110% + 16px));
  transform: translateX(calc(-110% + 16px))
}
.c-notify-logs.left .c-alert.show,
.c-notify-logs.left .c-toast-alert.show {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.c-notify-logs.right {
  right: 16px
}
.c-notify-logs.right .c-alert,
.c-notify-logs.right .c-toast-alert {
  -webkit-transform: translateX(calc(110% + 16px));
  transform: translateX(calc(110% + 16px))
}
.c-notify-logs.right .c-alert.show,
.c-notify-logs.right .c-toast-alert.show {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.c-notify-logs .c-alert,
.c-notify-logs .c-toast-alert {
  position: relative;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  -webkit-box-shadow: 0 7px 10px rgba(0,0,0,.3),0 10px 50px rgba(0,0,0,.12);
  box-shadow: 0 7px 10px rgba(0,0,0,.3),0 10px 50px rgba(0,0,0,.12)
}
.c-notify-logs .c-alert:last-child,
.c-notify-logs .c-toast-alert:last-child {
  margin-bottom: 0
}
.c-notify-logs .c-alert.show,
.c-notify-logs .c-toast-alert.show {
  pointer-events: auto;
  opacity: 1
}

/* stylelint-enable */
