
/* stylelint-disable */
$colors-legacy-btns: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  default: #495057
);

.c-btn-warning {
  color: #fff;
  background: #e8590c;
  border-color: #d9480f;

  &:hover {
    background-color: #f76707;
    background-image: none;
  }
}

@each $name, $color in $colors-legacy-btns {
  .c-btn-#{$name}-outline {
    color: $color;
    box-shadow: none;
    border: 1px solid $color;
    background-color: transparent;
  }
  .c-btn-#{$name}-outline.c-btn-outline-active {
    text-decoration: none;
    border-color: darken($color, 2);
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  }
  .c-btn-#{$name}-outline.c-btn-outline-active:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 2px 1px #4dadf7
  }
  .c-btn-#{$name}-outline:not(:disabled):hover {
    color: #fff;
    border-color: $color;
    background-color: $color;
  }
  .c-btn-#{$name}-outline:not(:disabled).c-btn-active,
  .c-btn-#{$name}-outline:not(:disabled):active {
    color: #fff;
    text-decoration: none;
    border-color: darken($color, 2);
    background-color: darken($color, 1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }
  .c-btn-#{$name}-outline:not(:disabled).c-btn-active:focus,
  .c-btn-#{$name}-outline:not(:disabled):active:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 2px 1px #4dadf7
  }
}


.c-btn-pill {
  border-radius: 200px;
}

.c-btn-group .c-btn-pill:first-child {
  border-left-width: 1px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

.c-btn-group .c-btn-pill:last-child {
  border-left-width: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.c-btn-group .c-btn-pill:last-child:hover {
  margin-right: 0;
}

.c-btn-group .c-btn-pill:last-child.selected, .c-btn-group .c-btn-pill:last-child:focus, .c-btn-group .c-btn-pill:last-child:active, .c-btn-group .c-btn-pill:last-child:hover {
  border-right-width: 1px;
}


.c-btn-group-stepper {
  display: inline-flex
}
.c-btn-group-stepper .c-btn {
  float: left;
  border-radius: 0;
  position: relative;
  border-right-width: 1px;
}
.c-btn-group-stepper .c-btn-box,
.c-btn-group-stepper .c-btn-circle {
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 16px;
  text-align: center;
}
.c-btn-group-stepper-lg .c-btn {
  font-size: 14px
}
.c-btn-group-stepper-lg .c-btn-box,
.c-btn-group-stepper-lg .c-btn-circle {
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
}

.c-file-upload {
  width: 100%;
  display: flex;
  font-weight: 700;
  font-size: .8rem;
  border-radius: 6px;
  align-items: center;
  flex-direction: row;
  padding: .5rem 1rem;
  color: $color-primary;
  justify-content: center;
  background: rgba(27,110,194,.09);
  border: 2px dashed $color-primary;
}
.c-file-upload .c-btn {
  margin-left: .5rem;
}

/* stylelint-enable */
