
/* stylelint-disable */
$colors-legacy-switchBadgeCheckboxes: (
  primary: $color-primary,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);

$legacy-switch-sizes: (
  xs: 16px,
  sm: 20px
);

$legacy-check-sizes: (
  sm: 12px,
  lg: 24px,
  xl: 33px
);


.c-switch {
  @each $name, $size in $legacy-switch-sizes {
    &-#{$name} {
      @include switch-size($size);
    }
  }
  &-square {
    .c-switch-handle,
    .c-switch-handle::before {
      border-radius: 2px;
    }
  }

  &-material {
    @include switch-base(16px);

    &.c-switch-lg {
      @include switch-size(32px);
    }

    &.c-switch-sm {
      @include switch-size(16px);
    }
  }
}


// Sizing loop
@each $name, $size in $legacy-check-sizes {
  .c-checkbox,
  .c-radio {
    &-#{$name} {
      @include checkbox-size($size);
    }
  }
  .c-control-#{$name} {
    line-height: 1;
    cursor: pointer;
    font-size: $size;
    position: relative;
    display: inline-block;
    padding: 0 8px 0 ($size + 8px);
  }
}

// Color loop
@each $name, $color in $colors-legacy-switchBadgeCheckboxes {
  .c-badge-#{$name}-outline {
    color: $color;
    border: 1px solid $color;
    background-color: transparent;
  }

  .c-switch-#{$name} {
    @include switch-color($color);
  }

  .c-checkbox {
    &-#{$name} {
      @include checkbox-color($color);

      input:indeterminate + i {
        background-color: $color;
      }
    }
  }

  .c-radio {
    &-#{$name} {
      @include checkbox-color($color);
    }

    input:checked + i.c-bg-#{$name}::before {
      background-color: $color;
    }
  }
}

/* stylelint-enable */
