////
/// @group Style Mixins
////

//- Mixin: Header 1
///
/// Text generation for h1 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [light] - Only weight can be changed in context.
/// @example
///   h1 {
///     H1-text-style($weight: light)
///   }
///
@mixin H1-text-style {
  font-size: font-size(xxl);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: -1.5px;
  text-rendering: optimizeLegibility;
}

//- Mixin: Header 2
///
/// Text generation for h2 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [light] - Only weight can be changed in context.
/// @example
///   h2 {
///     H2-text-style($weight: light)
///   }
///
@mixin H2-text-style {
  font-size: font-size(xl);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: -0.5px;
  text-rendering: optimizeLegibility;
}

//- Mixin: Header 3
///
/// Text generation for h3 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [normal] - Only weight can be changed in context.
/// @example
///   header {
///     H3-text-style($weight: normal)
///   }
///
@mixin H3-text-style {
  font-size: font-size(lg);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
}

//- Mixin: Header 4
///
/// Text generation for h4 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [normal] - Only weight can be changed in context.
/// @example
///   header {
///     H4-text-style($weight: normal)
///   }
///
@mixin H4-text-style {
  font-size: font-size(md);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .25px;
  text-rendering: optimizeLegibility;
}


//- Mixin: Header 5
///
/// Text generation for h5 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [normal] - Only weight can be changed in context.
/// @example
///   header {
///     H5-text-style($weight: normal)
///   }
///
@mixin H5-text-style {
  font-size: font-size(sm);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
}

//- Mixin: Header 6
///
/// Text generation for h6 styles - retrieves proper value from global map.
///
/// @param {variable} $weight [semibold] - Only weight can be changed in context.
/// @example
///   header {
///     H6-text-style($weight: semibold)
///   }
///
@mixin H6-text-style {
  font-size: font-size(xs);
  line-height: line-height(normal);
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .15px;
  text-rendering: optimizeLegibility;
}

@mixin body-xxl($weight: semibold) {
  font-size: font-size(body-xxl);
  line-height: 1.5;
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}


@mixin body-xl($weight: semibold) {
  font-size: font-size(body-xl);
  line-height: 1.5;
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

@mixin body-lg($weight: semibold) {
  font-size: font-size(body-lg);
  line-height: 1.25;
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

@mixin body-md($weight: semibold) {
  font-size: font-size(body-md);
  line-height: 1.25;
  font-weight: font-weight(semibold);
  font-family: font(primary);
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

@mixin body-sm($weight: normal) {
  font-size: font-size(body-sm);
  line-height: 1;
  font-weight: font-weight($weight);
  letter-spacing: .15px;
  text-rendering: optimizeLegibility;
}

@mixin body-xs($weight: normal) {
  font-size: font-size(body-xs);
  line-height: 1;
  font-weight: font-weight($weight);
  letter-spacing: .7px;
  font-family: font(primary);
}

