////
/// @group Color Palette
////

/// @type Map
///
/// Primary Blue classes.
///
/// @prop {Color} $color-primary-0 [#e8f7ff]
/// @prop {Color} $color-primary-1 [#ccedff]
/// @prop {Color} $color-primary-2 [#a3daff]
/// @prop {Color} $color-primary-3 [#72c3fc]
/// @prop {Color} $color-primary-4 [#4dadf7]
/// @prop {Color} $color-primary-5 [#329af0]
/// @prop {Color} $color-primary-7 [#1c7cd6]
/// @prop {Color} $color-primary-6 [#228ae6]
/// @prop {Color} $color-primary-8 [#1b6ec2]
/// @prop {Color} $color-primary-9 [#1862ab]
$color-primary-0: #e8f7ff !default;
$color-primary-1: #ccedff !default;
$color-primary-2: #a3daff !default;
$color-primary-3: #72c3fc !default;
$color-primary-4: #4dadf7 !default;
$color-primary-5: #329af0 !default;
$color-primary-7: #1c7cd6 !default;
$color-primary-6: #228ae6 !default;
$color-primary-8: #1b6ec2 !default;
$color-primary-9: #1862ab !default;


///
/// Neutral - Used for text, borders, shadows, background, etc
///
/// @prop {Color} $color-gray-0 [#f8f9fa]
/// @prop {Color} $color-gray-1 [#f1f3f5]
/// @prop {Color} $color-gray-2 [#e9ecef]
/// @prop {Color} $color-gray-3 [#dee2e6]
/// @prop {Color} $color-gray-4 [#ced4da]
/// @prop {Color} $color-gray-5 [#adb5bd]
/// @prop {Color} $color-gray-6 [#868e96]
/// @prop {Color} $color-gray-7 [#495057]
/// @prop {Color} $color-gray-8 [#343a40]
/// @prop {Color} $color-gray-9 [#212529]
$color-gray-0: #f8f9fa !default;
$color-gray-1: #f1f3f5 !default;
$color-gray-2: #e9ecef !default;
$color-gray-3: #dee2e6 !default;
$color-gray-4: #ced4da !default;
$color-gray-5: #adb5bd !default;
$color-gray-6: #868e96 !default;
$color-gray-7: #495057 !default;
$color-gray-8: #343a40 !default;
$color-gray-9: #212529 !default;

///
/// Success - Used to communicate status or feedback to the user
///
/// @prop {Color} $color-success-0 [#ebfbee]
/// @prop {Color} $color-success-1 [#d3f9d8]
/// @prop {Color} $color-success-2 [#b2f2bb]
/// @prop {Color} $color-success-3 [#8ce99a]
/// @prop {Color} $color-success-4 [#69db7c]
/// @prop {Color} $color-success-5 [#51cf66]
/// @prop {Color} $color-success-6 [#40c057]
/// @prop {Color} $color-success-7 [#37b24d]
/// @prop {Color} $color-success-8 [#2f9e44]
/// @prop {Color} $color-success-9 [#2b8a3e]
$color-success-0: #ebfbee !default;
$color-success-1: #d3f9d8 !default;
$color-success-2: #b2f2bb !default;
$color-success-3: #8ce99a !default;
$color-success-4: #69db7c !default;
$color-success-5: #51cf66 !default;
$color-success-6: #40c057 !default;
$color-success-7: #37b24d !default;
$color-success-8: #2f9e44 !default;
$color-success-9: #2b8a3e !default;

///
/// Danger - Used to communicate status or feedback to the user
///
/// @prop {Color} $color-danger-0 [#fff5f5]
/// @prop {Color} $color-danger-1 [#ffe3e3]
/// @prop {Color} $color-danger-2 [#ffc9c9]
/// @prop {Color} $color-danger-3 [#ffa8a8]
/// @prop {Color} $color-danger-4 [#ff8787]
/// @prop {Color} $color-danger-5 [#ff6b6b]
/// @prop {Color} $color-danger-6 [#fa5252]
/// @prop {Color} $color-danger-7 [#f03e3e]
/// @prop {Color} $color-danger-8 [#e03131]
/// @prop {Color} $color-danger-9 [#c92a2a]
$color-danger-0: #fff5f5 !default;
$color-danger-1: #ffe3e3 !default;
$color-danger-2: #ffc9c9 !default;
$color-danger-3: #ffa8a8 !default;
$color-danger-4: #ff8787 !default;
$color-danger-5: #ff6b6b !default;
$color-danger-6: #fa5252 !default;
$color-danger-7: #f03e3e !default;
$color-danger-8: #e03131 !default;
$color-danger-9: #c92a2a !default;

///
/// Warning - Used to communicate warnings or feedback to the user
///
/// @prop {Color} $color-warning-0 [#fff4e6]
/// @prop {Color} $color-warning-1 [#ffe8cc]
/// @prop {Color} $color-warning-2 [#ffd8a8]
/// @prop {Color} $color-warning-3 [#ffc078]
/// @prop {Color} $color-warning-4 [#ffa94d]
/// @prop {Color} $color-warning-5 [#ff922b]
/// @prop {Color} $color-warning-6 [#fd7e14]
/// @prop {Color} $color-warning-7 [#f76707]
/// @prop {Color} $color-warning-8 [#e8590c]
/// @prop {Color} $color-warning-9 [#d9480f]
$color-warning-0: #fff4e6 !default;
$color-warning-1: #ffe8cc !default;
$color-warning-2: #ffd8a8 !default;
$color-warning-3: #ffc078 !default;
$color-warning-4: #ffa94d !default;
$color-warning-5: #ff922b !default;
$color-warning-6: #fd7e14 !default;
$color-warning-7: #f76707 !default;
$color-warning-8: #e8590c !default;
$color-warning-9: #d9480f !default;


$colors: () !default;


/// Full Color Palette map
/// @see {function} color
///
///
$colors: map-merge(
  (
    gray: (
      0: $color-gray-0,
      1: $color-gray-1,
      2: $color-gray-2,
      3: $color-gray-3,
      4: $color-gray-4,
      5: $color-gray-5,
      6: $color-gray-6,
      7: $color-gray-7,
      8: $color-gray-8,
      9: $color-gray-9
    ),
    primary: (
      0: $color-primary-0,
      1: $color-primary-1,
      2: $color-primary-2,
      3: $color-primary-3,
      4: $color-primary-4,
      5: $color-primary-5,
      6: $color-primary-6,
      7: $color-primary-7,
      8: $color-primary-8,
      9: $color-primary-9
    ),
    success: (
      0: $color-success-0,
      1: $color-success-1,
      2: $color-success-2,
      3: $color-success-3,
      4: $color-success-4,
      5: $color-success-5,
      6: $color-success-6,
      7: $color-success-7,
      8: $color-success-8,
      9: $color-success-9
    ),
    warning: (
      0: $color-warning-0,
      1: $color-warning-1,
      2: $color-warning-2,
      3: $color-warning-3,
      4: $color-warning-4,
      5: $color-warning-5,
      6: $color-warning-6,
      7: $color-warning-7,
      8: $color-warning-8,
      9: $color-warning-9
    ),
    danger: (
      0: $color-danger-0,
      1: $color-danger-1,
      2: $color-danger-2,
      3: $color-danger-3,
      4: $color-danger-4,
      5: $color-danger-5,
      6: $color-danger-6,
      7: $color-danger-7,
      8: $color-danger-8,
      9: $color-danger-9
    )
  ),
  $colors
);

$theme-colors: () !default;
/// Default map settings for $theme-colors.
/// Retrieve via function. !IMPORTANT: only used to generate color based classes without the whole palette;
///
/// @see {mixin} modifiers
///
/// @prop {Color} $color-gray-7 [#495057]
/// @prop {Color} $color-primary-7 [#1c7cd6]
/// @prop {Color} $color-success-7 [#37b24d]
/// @prop {Color} $color-warning-7 [#f76707]
/// @prop {Color} $color-danger-7 [#f03e3e]
$theme-colors: map-merge(
  (
    primary: $color-primary-7,
    success: $color-success-7,
    warning: $color-warning-7,
    danger: $color-danger-7
  ),
  $theme-colors
);

$white: white;
$black: black;
