////
/// @group Global Variables
////

/// Global
$enable-reset         : true !default;
$enable-shadow-classes: true !default;
$enable-color-classes : true !default;
$enable-spacer-classes: true !default;
$enable-radius-classes: true !default;
$white-label          : false !default;
$global-space-base    : 8px !default;

$theme-sizes: (
  sm: $global-space-base * 2,
  lg: $global-space-base * 4,
  xl: $global-space-base * 5,
) !default;

$breakpoints: (
  sm: 600px,
  lg: 1200px
) !default;


//### TYPOGRAPHY START  ################################//
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$base-font-size  : 16px !default;
$text-prefix     : 'c-text' !default;
$header-prefix   : 'c-header' !default;

$font: (
  primary: $base-font-family,
  code   : $base-font-family
) !default;

$line-height: (
  normal   : normal,
  default  : 1.5,
  condensed: 1.25
) !default;

$font-weight: () !default;
$font-weight: map-merge(
  (
    bold    : 900,
    semibold: 600,
    normal  : 400,
    light   : 300
  ),
  $font-weight
);

$header-text: (
  xs : 12px,
  sm : 14px,
  md : 16px,
  lg : 20px,
  xl : 24px,
  xxl: 36px
) !default;

$body-text: (
  xs : 10px,
  sm : 11px,
  md : 12px,
  lg : 14px,
  xl : 16px,
  xxl: 18px
) !default;
//### TYPOGRAPHY END  ################################//


//### RADIUS START ################################//
$radius-prefix: 'c-radius' !default;
$radius: (
  0     : none,
  square: 0,
  sm    : 2px,
  md    : 4px,
  lg    : 8px,
  round : 200px,
  pill  : 100%
) !default;
//### RADIUS END  ################################//


//### SPACING START ################################//
$padding-prefix       : 'c-p' !default;
$margin-prefix        : 'c-m' !default;
$space-base: $global-space-base !default;
$space: (
  0  : 0,
  xxs: $space-base / 4,
  xs : $space-base / 2,
  sm : $space-base, // 8px
  md : $space-base * 2,
  lg : $space-base * 3,
  xl : $space-base * 4,
  xxl: $space-base * 6
) !default;
//### SPACING END ################################//


//### SHADOWS START ################################//
$shadow-prefix: 'c-depth' !default;
$shadows: (
  xl  : 0 12px 24px 0 rgba(0, 0, 0, .1),
  lg  : 0 8px 16px 0 rgba(0, 0, 0, .1),
  md  : 0 6px 12px 0 rgba(0, 0, 0, .1),
  sm  : 0 4px 8px 0 rgba(0, 0, 0, 0.1),
  xs  : 0 1px 2px 0 rgba(0, 0, 0, .1),
  none: 0 0 0 0 transparent
) !default;
//### SHADOWS END ################################//


//### ANIMATION START ################################//
$duration-unit: 100ms;
$duration:(
  fast   : $duration-unit,
  base   : $duration-unit * 2,
  slow   : $duration-unit * 3,
  slower : $duration-unit * 4,
  slowest: $duration-unit * 5,
) !default;

$easing: (
  base      : cubic-bezier(0.64, 0, 0.35, 1),
  in        : cubic-bezier(0.36, 0, 1, 1),
  out       : cubic-bezier(0, 0, 0.42, 1),
  excite    : cubic-bezier(0.18, 0.67, 0.6, 1.22),
  overshot  : cubic-bezier(0.07, 0.28, 0.32, 1.22),
  anticipate: cubic-bezier(0.38, -0.4, 0.88, 0.65),
) !default;
//### ANIMATION END ################################//
