// --------------------------------------------
// ALERTS & TOASTS ----------------------------
// --------------------------------------------
$alert-prefix               : 'c-alert' !default;
$toast-prefix               : 'c-toast-alert' !default;
$alert-border               : 1px solid !default;
$alert-margin               : 0 0 $space-md 0 !default;
$alert-padding              : $space-sm !default;
$alert-top-padding          : $space-md !default;
$alert-font-size            : $font-body-md !default;
$alert-line-height          : $font-body-md + 3 !default;
$alert-font-family          : $font-family-sans !default;
$alert-font-weight          : 300 !default;
$alert-primary-bg           : rgba($color-primary, .07) !default;
$alert-default-color        : $color-gray-9 !default;
$alert-primary-icon-color   : $color-primary !default;
$alert-radius               : $global-default-radius !default;
$alert-top-radius           : 0 !default;
$alert-shadows              : $shadow-lg !default;
$alert-icon-width           : $font-body-md !default;
$alert-close-font-size      : $font-body-md !default;
$toast-palette              : $theme-colors !default;
$toast-left-border          : 4px !default;

// for alerts this maps to name, bg-color, text/border color
$alert-colors:
  (primary, $color-primary-0, $color-primary)
  (success, $color-success-0, $color-success)
  (warning, $color-warning-0, $color-warning)
  (danger, $color-danger-0, $color-danger) !default;


// --------------------------------------------
// Avatars ------------------------------------
// --------------------------------------------
$avatar-prefix              : 'c-avatar' !default;
$enable-extend-avatar-colors: true !default;
$avatar-default-size        : $global-size-md !default;
$avatar-border-radius       : $radius-round !default;
$avatar-font-weight         : $font-weight-semibold !default;
$avatar-font-size           : $font-body-md !default;
$avatar-line-height         : normal !default;
$avatar-img-border          : $global-default-border !default;

// for avatar sizes this maps to name, size, font-size
$avatar-sizes:
  (xs, $avatar-default-size / 2, $font-body-xs)
  (sm, $avatar-default-size - 8, $font-body-sm)
  (lg, $avatar-default-size + 8, $font-body-lg)
  (xl, ($avatar-default-size + 8) * 2, $font-body-md * 2) !default;


// --------------------------------------------
// Badge --------------------------------------
// --------------------------------------------
$badge-prefix               : 'c-badge' !default;
$enable-extend-badge-colors : true !default;
$badge-default-size         : $global-size-sm !default;
$badge-default-padding      : $space-0 $space-sm !default;
$badge-default-border-radius: $radius-round !default;
$badge-default-font-weight  : $font-weight-semibold !default;
$badge-default-line-height  : 2 !default;
$badge-default-font-size    : $font-body-sm !default;
$badge-lg-size              : $badge-default-size + 8 !default;
$badge-lg-font-size         : $font-body-lg - 1 !default;
$badge-sm-size              : $badge-default-size - 8 !default;
$badge-sm-font-size         : $font-body-xs - 1 !default;


// --------------------------------------------
// Buttons ------------------------------------
// --------------------------------------------
$button-prefix          : 'c-btn' !default;
$enable-btn-gradients   : false !default;
$enable-btn-border      : true !default;
$enable-btn-white-label : false !default;
$enable-circle-buttons  : true !default;
$enable-outline-buttons : false !default;
$enable-pill-buttons    : false !default;
$enable-square-buttons  : false !default;

$btn-font-family        : $font-family-sans !default;
$btn-font-weight        : $font-weight-bold !default;
$btn-bd                 : 1px solid transparent !default;
$btn-radius             : $global-default-radius !default;
$btn-default-c          : $color-gray-7 !default;
$btn-disabled-bg        : $color-gray-3 !default;
$btn-disabled-c         : $color-gray-6 !default;
$btn-link-bd            : 1px solid $color-gray-4 !default;
$btn-link-hover-bg      : $color-gray-0 !default;
$btn-disabled-bd        : 1px solid $color-gray-3 !default;
$btn-disabled-bd-colored: false !default;
$btn-shadow             : false !default;
$btn-shadow-focus       : 0 0 2px 1px $color-primary-7 !default;
$btn-active-selected    : false !default;
$btn-active-shadow      : none !default;

// $btn-active-shadow      : inset 0 1px 7px rgba(27, 31, 35, 0.15) !default;


$btn-box-width          : $global-size-md !default;

$btn-box-sizes: (
  xs: $global-size-xs,
  sm: $global-size-sm,
  lg: $global-size-lg,
) !default;

$button-colors: (
  primary: (
    bg: $color-primary,
    bg-hover: $color-primary-7,
    bg-active: $color-primary-9,
    border: $color-primary-9
  ),
  success: (
    bg: $color-success,
    bg-hover: $color-success-7,
    bg-active: $color-success-9,
    border: $color-success-9
  ),
  danger: (
    bg: $color-danger,
    bg-hover: $color-danger-7,
    bg-active: $color-danger-9,
    border: $color-danger-9
  ),
  secondary: (
    bg: $color-gray-1,
    bg-hover: $color-gray-0,
    bg-active: $color-gray-2,
    border: $color-gray-4,
    color: $color-gray-8
  )
) !default;

$button-sizes: (
  default: (
    font-size: $font-body-md,
    padding: 0 $space-md,
    height: $global-size-md
  ),
  xs: (
    font-size: $font-body-xs,
    padding: 0 $space-xs,
    height: $global-size-xs
  ),
  sm: (
    font-size: $font-body-sm,
    padding: 0 $space-sm,
    height: $global-size-sm
  ),
  lg: (
    font-size: $font-body-lg,
    padding: 0 $space-xl,
    height: $global-size-lg
  )
) !default;


// --------------------------------------------
// CARDS --------------------------------------
// --------------------------------------------
$card-prefix                 : 'c-card' !default;
$card-bg                     : $color-white !default;
$card-text-color             : $color-gray-7 !default;
$card-border                 : 1px solid $color-gray-2 !default;
$card-border-radius          : $global-default-radius !default;
$card-min-width              : 250px !default;
$card-padding-v              : $space-md - $space-xs !default;
$card-padding-h              : $space-md !default;
$card-shadow                 : $shadow-xs !default;
$card-shadow-hover           : $shadow-md !default;
$card-border-hover           : $global-default-border !default;
$card-header-font-size       : $font-body-lg !default;
$card-header-font-weight     : $font-weight-bold !default;
$card-header-line-height     : 24px !default;
$card-header-color           : $color-gray-9 !default;
$card-header-icon-color      : $color-gray-5 !default;
$card-header-icon-hover-color: lighten($card-header-icon-color, 10%) !default;
$card-body-font-size         : $font-body-md !default;
$card-title-font-size        : $font-body-xl !default;
$card-title-font-weight      : $font-weight-bold !default;
$card-subtitle-line-height   : 12px !default;
$card-subtitle-font-size     : $font-body-md !default;
$card-footer-color           : $color-primary-8 !default;
$card-footer-hover-color     : $color-primary-6 !default;
$card-footer-font-size       : $font-body-md !default;
$card-footer-line-weight     : $font-body-xl !default;


// --------------------------------------------
// CHECKBOX & RADIOS --------------------------
// --------------------------------------------
$label-font-size                : 12px !default;
$radio-prefix                   : 'c-radio' !default;
$label-prefix                   : 'c-control' !default;
$checkbox-prefix                : 'c-checkbox' !default;
$checkbox-disabled-bg           : $color-gray-3 !default;
$checkbox-disabled-color        : $color-gray-5 !default;
$checkbox-checked-disabled-bg   : $color-gray-6 !default;
$checkbox-checked-disabled-color: $color-gray-2 !default;
$checkbox-transition            : background 0.2s !default;
$checkbox-icon-radius           : $global-default-radius !default;
$checkbox-icon-bd               : 1px solid $color-gray-5 !default;
$checkbox-shadow                : inset 0 2px 1px 0 rgba(33, 37, 41, .1) !default;
$checkbox-palette               : $theme-colors !default;
$checkbox-default-size          : $global-size-xs !default;
$checkbox-sizes                 : () !default;


// --------------------------------------------
// FORMS --------------------------------------
// --------------------------------------------
$control-prefix               : 'c-input' !default;
$control-font-size            : $font-body-md !default;
$control-color                : $color-gray-9 !default;
$control-font-weight          : normal !default;
$control-line-height          : 1.166667 !default;  //line height optimized for IE compatibility
$control-placeholder-c        : $color-gray-5 !default;
$control-placeholder-hover-c  : $control-placeholder-c !default;
$control-background           : white !default;
$control-padding              : $space-sm !default;
$control-height               : $global-size-md !default;

$control-sizes:
  (sm, $global-size-sm, 0 $control-padding, $font-body-sm)
  (lg, $global-size-lg, 0 $control-padding, $font-body-xl) !default;

$control-colors:
  ("success", $color-success, false)
  ("warning", $color-warning, false)
  ("error", $color-danger, false) !default;

$control-ng-validation:
  ("ng-valid", "success")
  ("ng-invalid", "error") !default;

$control-border               : 1px solid $color-gray-5 !default;
$control-border-radius        : $global-default-radius !default;
$control-shadow               : inset 0 2px 2px 0 rgba(33, 37, 41, .1) !default;
$control-focused-shadow       : inset 0 1px 2px 0 rgba(33, 37, 41, 0.08) !default;
$control-shadow-disabled      : none !default;
$control-transition           : border-color 0.1s ease-in !default;
$control-hover                : $color-primary !default;
$control-hover-border         : $color-gray-6 !default;
$control-active               : $color-primary !default;
$control-active-border        : $color-primary !default;

$control-icon-padding         : $global-size-md !default;
$control-icon-color           : $color-gray-9 !default;

$control-disabled-border      : transparent !default;
$control-disabled-background  : $color-gray-3 !default;
$control-hint-color           : $color-gray-6 !default;
$control-hint-font-size       : 85% !default;
$control-hint-transition      : all 0.2s ease !default;

$control-addon-background     : $color-gray-0 !default;
$control-element-padding      : $control-padding * 2 0 !default;
$control-element-label-padding: 0 0 $control-padding 0 !default;

$select-padding-r             : $global-size-sm !default;
$select-bg-img                : url("data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") !default;
$select-bg-img-disabled       : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAK9JREFUOBHlkj0OgzAMRmNxMcTQoVdhZGRoGDp27FU6MCA4WeovUhA/tkNmIlkkwe8Nzuecsd6f7wtltLhK+wmQiDxX3Tyebhp/i9QrChKcAEtyEhzhnGQn0GBLsgpysCaJgquwJKFSOEnwDSH47fmuewwRcTXzrg2HhzhUnPGZs84OqrVG6R5w37U+5qBUkmCI1yRelWzhnQCHnOQInwSWRIJFgSTRYPSaC0+Mspr+0vx1PtB1wpUAAAAASUVORK5CYII=") !default;
$select-bg-pos                : no-repeat right 8px center !default;
$select-box-shadow            : none !default;
$select-box-shadow-focus      : 0 0 1px 2px rgba($color-primary-4, .5) !default;


// --------------------------------------------
// DROPDOWN -----------------------------------
// --------------------------------------------
$dropdown-prefix             : 'c-dropdown' !default;
$enable-grid-dropdown-classes: true !default;
$dropdown-min-width          : 200px !default;
$dropdown-font               : $font-family-sans !default;
$dropdown-font-size          : 12px !default;
$dropdown-font-weight        : normal !default;
$dropdown-bg                 : $color-white !default;
$dropdown-bg-hover           : $color-gray-0 !default;
$dropdown-border             : 1px solid $color-gray-2 !default;
$dropdown-shadow             : $shadow-md !default;
$dropdown-color              : $color-gray-9 !default;
$dropdown-color-hover        : $color-gray-9 !default;
$dropdown-icon-color         : $color-gray-4;
$dropdown-icon-font-size     : 14px !default;
$dropdown-icon-padding       : $space-sm;
$dropdown-radius             : $global-default-radius !default;
$dropdown-list-padding       : $space-xs !default;
$dropdown-list-margin        : 0 !default;
$dropdown-item-padding       : $space-sm ($space-xs + $space-sm) !default;
$dropdown-grid-padding       : $space-sm !default;
$dropdown-selected-color     : $color-primary-8 !default;
$dropdown-selected-bg        : $color-primary-0 !default;
$link-colors:
  '[class*="primary"]',
  '[class*="success"]',
  '[class*="warning"]',
  '[class*="danger"]',
  '.c-text-muted';


// --------------------------------------------
// FOOTER -------------------------------------
// --------------------------------------------
$footer-prefix          : 'c-footer' !default;
$footer-font-size       : 12px !default;
$footer-color           : $color-gray-9 !default;
$footer-color-link      : $color-primary !default;
$footer-background-color: $color-gray-1 !default;
$footer-padding         : $space-md ($space-md + $space-sm) !default;
$footer-links-margin    : $space-0 $space-sm !default;
$footer-height          : 48px !default;
$footer-border-top      : 1px solid $color-gray-3;


// --------------------------------------------
// Switches -----------------------------------
// --------------------------------------------
$switch-prefix             : 'c-switch' !default;
$switch-control-prefix     : 'c-control' !default;
$default-switch-height     : $global-size-xs !default;
$default-switch-radius     : $radius-round !default;
$default-switch-font-size  : $font-body-xs !default;
$default-switch-bg         : $color-primary !default;
$switch-label-off          : $color-gray-7 !default;
$switch-label-on           : $color-white !default;
$switch-handle             : $color-white !default;
$switch-disabled           : $color-gray-3 !default;
$switch-handle-disabled    : $color-gray-0 !default;
$switch-disabled-checked-bg: $color-gray-6 !default;

$switch-sizes: (
  lg: $global-size-md
) !default;

$switch-colors: () !default;


// --------------------------------------------
// TABS ---------------------------------------
// --------------------------------------------
$tabs-prefix            : 'c-tabs' !default;
$tab-item-prefix        : 'c-tab-item' !default;
$tabs-full-width-border : true !default;
$tabs-color             : $color-gray-7 !default;
$tabs-color-hover       : $color-primary !default;
$tabs-color-active      : $color-primary !default;
$tabs-color-disabled    : $color-gray-6 !default;
$tabs-font-weight       : bold !default;
$tabs-border-color      : $color-gray-2 !default;
$tabs-bordered-radius   : 2px !default;
$tabs-bordered-bg       : $color-gray-0 !default;
$tabs-bordered-bg-hover : $color-white !default;
$tabs-bordered-bg-active: $tabs-bordered-bg-hover !default;
$tabs-hover-transition  : border-color 0.2s ease 0s !default;
$tabs-box-shadow        : inset 0 -1px 0 0 $tabs-border-color;
$tabs-border-bottom     : 2px !default;

$tabs-font-size         : 12px !default;
$tabs-height            : 32px !default;
$tabs-padding           : $space-sm $space-md !default;

$tabs-font-size-small   : 11px !default;
$tabs-height-small      : 24px !default;
$tabs-padding-small     : $space-xs $space-sm !default;

$tabs-font-size-large   : 14px !default;
$tabs-height-large      : 40px !default;
$tabs-line-height-large : 24px !default;


// --------------------------------------------
// TYPOGRAPHY ---------------------------------
// --------------------------------------------
$text-prefix     : 'c-text' !default;
$header-prefix   : 'c-header' !default;

$header-text-sizes: (
  xs: (
    font-size: $font-header-xs,
    font-weight: $font-weight-bold,
    line-height: $font-header-xs + 4
  ),
  sm: (
    font-size: $font-header-sm,
    font-weight: $font-weight-bold,
    line-height: $font-header-sm + 10
  ),
  md: (
    font-size: $font-header-md,
    font-weight: $font-weight-bold,
    line-height: $font-header-md + 8
  ),
  lg: (
    font-size: $font-header-lg,
    font-weight: $font-weight-bold,
    line-height: $font-header-lg + 4
  ),
  xl: (
    font-size: $font-header-xl,
    font-weight: $font-weight-bold,
    line-height: $font-header-xl + 8
  ),
  xxl: (
    font-size: $font-header-xxl,
    font-weight: $font-weight-bold,
    line-height: $font-header-xxl + 4
  )
) !default;


$body-text-sizes: (
  xs: (
    font-size: $font-body-xs,
    font-weight: $font-weight-normal,
    line-height: $font-body-xs + 6
  ),
  sm: (
    font-size: $font-body-sm,
    font-weight: $font-weight-normal,
    line-height: $font-body-xs + 6
  ),
  md: (
    font-size: $font-body-md,
    font-weight: $font-weight-normal,
    line-height: $font-body-md + 4
  ),
  lg: (
    font-size: $font-body-lg,
    font-weight: $font-weight-normal,
    line-height: $font-body-lg + 10
  ),
  xl: (
    font-size: $font-body-xl,
    font-weight: $font-weight-normal,
    line-height: $font-body-xl + 8
  ),
  xxl: (
    font-size: $font-body-xxl,
    font-weight: $font-weight-normal,
    line-height: $font-body-xxl + 6
  )
) !default;
