// --------------------------------------------
// Action Panel -------------------------------
// --------------------------------------------
@function action-panel($value: null) {
  $fetched-value: map-get($action-panel-config, $value);

  @return $fetched-value;
}

$action-panel-header-bg              : action-panel('header-bg') !default;
$action-panel-footer-bg              : action-panel('footer-bg') !default;
$action-panel-backdrop               : action-panel('backdrop') !default;
$action-panel-border                 : action-panel('border') !default;
$action-panel-padding-v              : action-panel('padding-v') !default;
$action-panel-padding-h              : action-panel('padding-h') !default;
$action-panel-header-font-size       : action-panel('header-font-size') !default;
$action-panel-header-font-weight     : action-panel('header-font-weight') !default;
$action-panel-header-line-height     : action-panel('header-line-height') !default;
$action-panel-header-color           : action-panel('header-color') !default;
$action-panel-header-icon-color      : action-panel('header-icon-color') !default;
$action-panel-header-icon-hover-color: action-panel('header-icon-hover-color') !default;
$action-panel-title-font-size        : action-panel('title-font-size') !default;
$action-panel-title-font-weight      : action-panel('title-font-weight') !default;
$action-panel-subtitle-line-height   : action-panel('subtitle-line-height') !default;
$action-panel-subtitle-font-size     : action-panel('subtitle-font-size') !default;
$action-panel-footer-color           : action-panel('footer-color') !default;
$action-panel-footer-hover-color     : action-panel('footer-hover-color') !default;
$action-panel-footer-font-size       : action-panel('footer-font-size') !default;
$action-panel-footer-line-weight     : action-panel('footer-line-weight') !default;
$action-panel-zindex                 : action-panel('zindex') !default;
$action-panel-width                  : action-panel('width') !default;
$action-panel-bg                     : action-panel('bg') !default;
$action-panel-transition             : action-panel('transition') !default;
$action-panel-shadow                 : action-panel('shadow') !default;


// --------------------------------------------
// Alert --------------------------------------
// --------------------------------------------
@function alert($value: null) {
  $fetched-value: map-get($alert-config, $value);

  @return $fetched-value;
}

$alert-border                        : alert('border') !default;
$alert-margin                        : alert('margin') !default;
$alert-padding                       : alert('padding') !default;
$alert-top-padding                   : alert('top-padding') !default;
$alert-font-size                     : alert('font-size') !default;
$alert-radius                        : alert('radius') !default;
$alert-font-family                   : alert('font') !default;
$alert-font-weight                   : alert('font-weight') !default;
$alert-line-height                   : alert('line-height') !default;
$alert-title-font-size               : alert('title-font-size') !default;
$alert-title-line-height             : alert('title-line-height') !default;
$alert-title-font-weight             : alert('title-font-weight') !default;
$alert-background                    : alert('background') !default;
$alert-color                         : alert('color') !default;
$alert-icon-color                    : alert('icon-color') !default;
$alert-shadows                       : alert('shadows') !default;
$alert-icon-font-size                : alert('icon-font-size') !default;
$alert-top-icon-size                 : alert('top-icon-size') !default;
$alert-close-font-size               : alert('close-font-size') !default;


// --------------------------------------------
// Avatar -------------------------------------
// --------------------------------------------
@function avatar($value: null) {
  $fetched-value: map-get($avatar-config, $value);

  @return $fetched-value;
}

$avatar-default-size                 : avatar('default-size') !default;
$avatar-font-family                  : avatar('font-family') !default;
$avatar-border-radius                : avatar('border-radius') !default;
$enable-extended-avatar-colors       : avatar('extend-colors') !default;
$avatar-font-weight                  : avatar('font-weight') !default;
$avatar-font-size                    : avatar('font-size') !default;
$avatar-line-height                  : avatar('line-height') !default;
$avatar-img-border                   : avatar('img-border') !default;
$avatar-group-spacing                : avatar('group-spacing') !default;
$avatar-group-transition             : avatar('group-transition') !default;


// --------------------------------------------
// Badge --------------------------------------
// --------------------------------------------
@function badge($value: null) {
  $fetched-value: map-get($badge-config, $value);

  @return $fetched-value;
}

$badge-default-size                  : badge('default-size') !default;
$badge-font-family                   : badge('font-family') !default;
$enable-extend-badge-colors          : badge('extend-colors') !default;
$badge-default-padding               : badge('padding') !default;
$badge-default-border-radius         : badge('border-radius') !default;
$badge-default-font-weight           : badge('font-weight') !default;
$badge-default-line-height           : badge('line-height') !default;
$badge-default-font-size             : badge('font-size') !default;
$badge-lg-size                       : badge('large-size') !default;
$badge-lg-font-size                  : badge('large-font-size') !default;
$badge-sm-size                       : badge('small-size') !default;
$badge-sm-font-size                  : badge('small-font-size') !default;
$badge-group-spacing                 : badge('group-spacing') !default;


// --------------------------------------------
// Breadcrumb --------------------------------------
// --------------------------------------------
@function breadcrumb($value: null) {
  $fetched-value: map-get($breadcrumb-config, $value);

  @return $fetched-value;
}

$breadcrumb-font-family              : breadcrumb('font-family') !default;
$breadcrumb-margin                   : breadcrumb('margin') !default;
$breadcrumb-color                    : breadcrumb('color') !default;
$breadcrumb-color-active             : breadcrumb('color-active') !default;
$breadcrumb-font-size                : breadcrumb('font-size') !default;
$breadcrumb-font-weight              : breadcrumb('font-weight') !default;
$breadcrumb-divider-size             : breadcrumb('divider-size') !default;
$breadcrumb-divider-border-width     : breadcrumb('divider-border-width') !default;
$breadcrumb-divider-color            : breadcrumb('divider-color') !default;


// --------------------------------------------
// Buttons ------------------------------------
// --------------------------------------------
@function button($value: null) {
  $fetched-value: map-get($button-config, $value);

  @return $fetched-value;
}

$enable-btn-gradients                : button('gradients') !default;
$enable-btn-border                   : button('border') !default;
$enable-btn-white-label              : button('size') !default;
$enable-circle-buttons               : button('circle') !default;
$enable-outline-buttons              : button('outline') !default;
$enable-pill-buttons                 : button('pill') !default;
$enable-square-buttons               : button('square') !default;
$btn-font-family                     : button('font-family') !default;
$btn-radius                          : button('radius') !default;
$btn-disabled-bg                     : button('disabled-bg') !default;
$btn-default-c                       : button('default-c') !default;
$btn-box-width                       : button('box-width') !default;
$btn-link-bd                         : button('link-bd') !default;
$btn-disabled-bd                     : button('disabled-bd') !default;
$btn-font-weight                     : button('font-weight') !default;
$btn-bd                              : button('bd') !default;
$btn-disabled-c                      : button('disabled-c') !default;
$btn-link-hover-bg                   : button('link-hover-bg') !default;
$btn-shadow                          : button('shadow') !default;
$btn-shadow-focus                    : button('shadow-focus') !default;
$btn-active-shadow                   : button('active-shadow') !default;


// --------------------------------------------
// Cards --------------------------------------
// --------------------------------------------
@function card($value: null) {
  $fetched-value: map-get($card-config, $value);

  @return $fetched-value;
}

$card-bg                             : card('bg') !default;
$card-text-color                     : card('text-color') !default;
$card-border                         : card('border') !default;
$card-border-hover                   : card('border-hover') !default;
$card-font-family                    : card('font-family') !default;
$card-min-width                      : card('min-width') !default;
$card-border-radius                  : card('border-radius') !default;
$card-padding-v                      : card('padding-v') !default;
$card-padding-h                      : card('padding-h') !default;
$card-shadow                         : card('shadow') !default;
$card-shadow-hover                   : card('shadow-hover') !default;
$card-header-font-size               : card('header-font-size') !default;
$card-header-font-weight             : card('header-font-weight') !default;
$card-header-line-height             : card('header-line-height') !default;
$card-header-color                   : card('header-color') !default;
$card-header-icon-color              : card('header-icon-color') !default;
$card-header-icon-hover-color        : card('header-icon-hover-color') !default;
$card-body-font-size                 : card('body-font-size') !default;
$card-title-font-size                : card('title-font-size') !default;
$card-title-font-weight              : card('title-font-weight') !default;
$card-subtitle-line-height           : card('subtitle-line-height') !default;
$card-subtitle-font-size             : card('subtitle-font-size') !default;
$card-footer-color                   : card('footer-color') !default;
$card-footer-hover-color             : card('footer-hover-color') !default;
$card-footer-font-size               : card('footer-font-size') !default;
$card-footer-line-weight             : card('footer-line-weight') !default;


// --------------------------------------------
// Checkbox -----------------------------------
// --------------------------------------------
@function checkbox($value: null) {
  $fetched-value: map-get($checkbox-config, $value);

  @return $fetched-value;
}

$checkbox-bd                         : checkbox('bd') !default;
$checkbox-radius                     : checkbox('radius') !default;
$checkbox-default-size               : checkbox('default-size') !default;
$checkbox-label-font-size            : checkbox('label-font-size') !default;
$checkbox-label-font-weight          : checkbox('label-font-weight') !default;
$checkbox-label-disabled-color       : checkbox('label-disabled-color') !default;
$checkbox-bg-empty                   : checkbox('bg-empty') !default;
$checkbox-bg-disabled                : checkbox('bg-disabled') !default;
$checkbox-bg-checked                 : checkbox('bg-checked') !default;
$checkbox-bg-checked-disabled        : checkbox('bg-checked-disabled') !default;
$checkbox-transition                 : checkbox('transition') !default;
$checkbox-checked-color-disabled     : checkbox('checked-color-disabled') !default;


// --------------------------------------------
// Dropdown -----------------------------------
// --------------------------------------------
@function dropdown($value: null) {
  $fetched-value: map-get($dropdown-config, $value);

  @return $fetched-value;
}

$dropdown-radius                     : dropdown('radius') !default;
$dropdown-font                       : dropdown('font') !default;
$dropdown-bg                         : dropdown('bg') !default;
$dropdown-border                     : dropdown('border') !default;
$dropdown-min-width                  : dropdown('min-width') !default;
$dropdown-font-size                  : dropdown('font-size') !default;
$dropdown-font-weight                : dropdown('font-weight') !default;
$dropdown-bg-hover                   : dropdown('bg-hover') !default;
$dropdown-shadow                     : dropdown('shadow') !default;
$dropdown-z-index                    : dropdown('z-index') !default;
$dropdown-color                      : dropdown('color') !default;
$dropdown-color-hover                : dropdown('color-hover') !default;
$dropdown-icon-color                 : dropdown('icon-color') !default;
$dropdown-icon-font-size             : dropdown('icon-font-size') !default;
$dropdown-icon-padding               : dropdown('icon-padding') !default;
$dropdown-list-padding               : dropdown('list-padding') !default;
$dropdown-list-margin                : dropdown('list-margin') !default;
$dropdown-item-padding               : dropdown('item-padding') !default;
$dropdown-grid-padding               : dropdown('grid-padding') !default;
$dropdown-selected-color             : dropdown('selected-color') !default;
$dropdown-selected-bg                : dropdown('selected-bg') !default;
$link-colors:
  '[class*="primary"]',
  '[class*="success"]',
  '[class*="warning"]',
  '[class*="danger"]',
  '.c-text-muted';


// --------------------------------------------
// Footer -------------------------------------
// --------------------------------------------
@function footer($value: null) {
  $fetched-value: map-get($footer-config, $value);

  @return $fetched-value;
}

$footer-font-family                  : footer('font-family') !default;
$footer-height                       : footer('height') !default;
$footer-border-top                   : footer('border-top') !default;
$footer-font-size                    : footer('font-size') !default;
$footer-color                        : footer('color') !default;
$footer-color-link                   : footer('color-link') !default;
$footer-background-color             : footer('background-color') !default;
$footer-padding                      : footer('padding') !default;
$footer-links-margin                 : footer('links-margin') !default;
$footer-z-index                      : footer('z-index') !default;


// --------------------------------------------
// Forms --------------------------------------
// --------------------------------------------
@function form($value: null) {
  $fetched-value: map-get($form-config, $value);

  @return $fetched-value;
}

$control-font-family                 : form('font-family') !default;
$control-background                  : form('background') !default;
$control-height                      : form('height') !default;
$control-font-size                   : form('font-size') !default;
$control-color                       : form('color') !default;
$control-font-weight                 : form('font-weight') !default;
$control-line-height                 : form('line-height') !default;
$control-placeholder-c               : form('placeholder-c') !default;
$control-placeholder-hover-c         : form('placeholder-hover-c') !default;
$control-padding                     : form('padding') !default;
$control-border                      : form('border') !default;
$control-border-radius               : form('border-radius') !default;
$control-icon-padding                : form('icon-padding') !default;
$control-disabled-background         : form('disabled-background') !default;
$control-shadow                      : form('shadow') !default;
$control-focused-shadow              : form('focused-shadow') !default;
$control-shadow-disabled             : form('shadow-disabled') !default;
$control-transition                  : form('transition') !default;
$control-hover                       : form('hover') !default;
$control-hover-border                : form('hover-border') !default;
$control-active                      : form('active') !default;
$control-active-border               : form('active-border') !default;
$control-icon-color                  : form('icon-color') !default;
$control-disabled-border             : form('disabled-border') !default;
$control-hint-color                  : form('hint-color') !default;
$control-hint-font-size              : form('hint-font-size') !default;
$control-hint-transition             : form('hint-transition') !default;
$control-addon-background            : form('addon-background') !default;
$control-element-padding             : form('element-padding') !default;
$control-element-label-padding       : form('element-label-padding') !default;
$select-padding-r                    : form('select-padding-r') !default;
$select-bg-img                       : form('select-bg-img') !default;
$select-bg-img-disabled              : form('select-bg-img-disabled') !default;
$select-bg-pos                       : form('select-bg-pos') !default;
$select-box-shadow                   : form('select-box-shadow') !default;
$select-box-shadow-focus             : form('select-box-shadow-focus') !default;


// --------------------------------------------
// Header -------------------------------------
// --------------------------------------------
@function header($value: null) {
  $fetched-value: map-get($header-config, $value);

  @return $fetched-value;
}

$header-bg                           : header('bg') !default;
$header-height                       : header('height') !default;
$header-inverse-text-color-active    : header('inverse-text-color-active') !default;
$header-bg-hover                     : header('bg-hover') !default;
$header-borders                      : header('borders') !default;
$header-z-index                      : header('z-index') !default;
$header-bottom-border                : header('bottom-border') !default;
$header-item-padding                 : header('item-padding') !default;
$header-inverse-bg                   : header('inverse-bg') !default;
$header-inverse-bg-hover             : header('inverse-bg-hover') !default;
$header-text-color                   : header('text-color') !default;
$header-inverse-text-color           : header('inverse-text-color') !default;
$header-inverse-borders              : header('inverse-borders') !default;


// --------------------------------------------
// Loader -------------------------------------
// --------------------------------------------
@function loader($value: null) {
  $fetched-value: map-get($loader-config, $value);

  @return $fetched-value;
}

$skeleton-bar-height                 : loader('skeleton-bar-height') !default;
$skeleton-bar                        : loader('skeleton-bar') !default;
$skeleton-bar-animation              : loader('skeleton-bar-animation') !default;
$skeleton-bg-color                   : loader('skeleton-bg-color') !default;
$loader-size                         : loader('size') !default;
$loader-color                        : loader('color') !default;
$loader-bg-color                     : loader('bg-color') !default;
$loader-full-page-size               : loader('full-page-size') !default;
$loader-border-size                  : loader('border-size') !default;
$loader-full-page-border-size        : loader('full-page-border-size') !default;
$loader-animation-duration           : loader('animation-duration') !default;


// --------------------------------------------
// Media --------------------------------------
// --------------------------------------------
@function media($value: null) {
  $fetched-value: map-get($media-config, $value);

  @return $fetched-value;
}

$media-bg                            : media('bg') !default;
$media-color                         : media('color') !default;
$media-border                        : media('border') !default;
$media-border-radius                 : media('border-radius') !default;
$media-padding                       : media('padding') !default;
$media-body-padding                  : media('body-padding') !default;
$media-margin                        : media('margin') !default;
$media-stripe-bg                     : media('stripe-bg') !default;
$media-hover-bg                      : media('hover-bg') !default;
$media-header-bg                     : media('header-bg') !default;
$media-action-color                  : media('action-color') !default;
$media-action-font-size              : media('action-font-size') !default;
$media-action-line-height            : media('action-line-height') !default;
$media-min-height                    : media('min-height') !default;


// --------------------------------------------
// Modal --------------------------------------
// --------------------------------------------
@function modal($value: null) {
  $fetched-value: map-get($modal-config, $value);

  @return $fetched-value;
}

$modal-border-radius                 : modal('border-radius') !default;
$modal-border                        : modal('border') !default;
$modal-close-size                    : modal('close-size') !default;
$modal-body-color                    : modal('body-color') !default;
$modal-bg-color                      : modal('bg-color') !default;
$modal-backdrop-bg-color             : modal('backdrop-bg-color') !default;
$modal-z-index                       : modal('z-index') !default;
$modal-shadow                        : modal('shadow') !default;
$modal-close-color                   : modal('close-color') !default;
$modal-body-font-size                : modal('body-font-size') !default;
$modal-title-font-size               : modal('title-font-size') !default;
$modal-title-color                   : modal('title-color') !default;
$modal-title-font-weight             : modal('title-font-weight') !default;
$modal-title-line-height             : modal('title-line-height') !default;
$modal-padding                       : modal('padding') !default;
$modal-body-padding                  : modal('body-padding') !default;
$modal-header-padding                : modal('header-padding') !default;
$modal-footer-padding                : modal('footer-padding') !default;
$modal-dialog-padding                : modal('dialog-padding') !default;
$modal-dialog-footer-padding         : modal('dialog-footer-padding') !default;
$modal-width                         : modal('width') !default;


// --------------------------------------------
// Nav ----------------------------------------
// --------------------------------------------
@function nav($value: null) {
  $fetched-value: map-get($nav-config, $value);

  @return $fetched-value;
}

$nav-height                          : nav('height') !default;
$nav-color                           : nav('color') !default;
$nav-color-disabled                  : nav('color-disabled') !default;
$nav-pill-radius                     : nav('pill-radius') !default;
$nav-font-size                       : nav('font-size') !default;
$nav-color-hover                     : nav('color-hover') !default;
$nav-color-active                    : nav('color-active') !default;
$nav-disabled-opacity                : nav('disabled-opacity') !default;
$nav-font-weight                     : nav('font-weight') !default;
$nav-pill-font-weight                : nav('pill-font-weight') !default;
$nav-pill-color                      : nav('pill-color') !default;
$nav-pill-color-hover                : nav('pill-color-hover') !default;
$nav-pill-color-active               : nav('pill-color-active') !default;
$nav-pill-color-disabled             : nav('pill-color-disabled') !default;
$nav-pill-bg-hover                   : nav('pill-bg-hover') !default;
$nav-pill-bg-active                  : nav('pill-bg-active') !default;
$nav-pill-bg-disabled                : nav('pill-bg-disabled') !default;
$nav-pill-icon-opacity               : nav('pill-icon-opacity') !default;
$nav-pill-icon-color-active          : nav('pill-icon-color-active') !default;
$nav-spacing                         : nav('spacing') !default;


// --------------------------------------------
// Pagination ---------------------------------
// --------------------------------------------
@function pagination($value: null) {
  $fetched-value: map-get($pagination-config, $value);

  @return $fetched-value;
}

$pagination-item-size                : pagination('item-size') !default;
$pagination-item-border-radius       : pagination('item-border-radius') !default;
$pagination-item-spacing             : pagination('item-spacing') !default;
$pagination-font-size                : pagination('font-size') !default;
$pagination-icon-size                : pagination('icon-size') !default;
$pagination-item-color               : pagination('item-color') !default;
$pagination-item-current-bg          : pagination('item-current-bg') !default;
$pagination-item-current-color       : pagination('item-current-color') !default;
$pagination-next-color               : pagination('next-color') !default;
$pagination-previous-color           : pagination('previous-color') !default;
$pagination-bg-disabled              : pagination('bg-disabled') !default;


// --------------------------------------------
// Switch -------------------------------------
// --------------------------------------------
@function switch($value: null) {
  $fetched-value: map-get($switch-config, $value);

  @return $fetched-value;
}

$switch-height                       : switch('height') !default;
$switch-radius                       : switch('radius') !default;
$switch-border                       : switch('border') !default;
$switch-label-off                    : switch('label-off') !default;
$switch-label-on                     : switch('label-on') !default;
$switch-handle                       : switch('handle') !default;
$switch-disabled                     : switch('disabled') !default;
$switch-font-size                    : switch('font-size') !default;
$switch-off-bg                       : switch('off-bg') !default;
$switch-on-bg                        : switch('on-bg') !default;
$switch-shadow                       : switch('shadow') !default;
$switch-handle-disabled              : switch('handle-disabled') !default;
$switch-disabled-checked-bg          : switch('disabled-checked-bg') !default;


// --------------------------------------------
// Table --------------------------------------
// --------------------------------------------
@function table($value: null) {
  $fetched-value: map-get($table-config, $value);

  @return $fetched-value;
}

$table-background                    : table('background') !default;
$table-font-family                   : table('font-family') !default;
$table-font-size                     : table('font-size') !default;
$table-line-height                   : table('line-height') !default;
$table-border                        : table('border') !default;
$table-border-color                  : table('border-color') !default;
$table-padding                       : table('padding') !default;
$table-row-hover                     : table('row-hover') !default;
$table-row-stripe-hover              : table('row-stripe-hover') !default;
$table-stripe                        : table('stripe') !default;
$table-stripe-bg                     : table('stripe-bg') !default;
$table-head-color                    : table('head-color') !default;
$table-head-font-weight              : table('head-font-weight') !default;
$table-head-border-color             : table('head-border-color') !default;
$table-head-border-width             : table('head-border-width') !default;
$table-head-border-vertical          : table('head-border-vertical') !default;
$table-head-bg                       : table('head-bg') !default;
$table-head-cell-hover               : table('head-cell-hover') !default;
$table-foot-bg                       : table('foot-bg') !default;
$table-foot-color                    : table('foot-color') !default;
$table-padding-sm                    : table('padding-sm') !default;
$table-padding-lg                    : table('padding-lg') !default;
$table-font-size-lg                  : table('font-size-lg') !default;
$table-hover-bg-img                  : table('hover-bg-img') !default;
$table-hover-bg-img-body-pos         : table('hover-bg-img-body-pos') !default;


// --------------------------------------------
// Tabs ---------------------------------------
// --------------------------------------------
@function tabs($value: null) {
  $fetched-value: map-get($tabs-config, $value);

  @return $fetched-value;
}

$tabs-color                          : tabs('color') !default;
$tabs-bordered-radius                : tabs('bordered-radius') !default;
$tabs-height                         : tabs('height') !default;
$tabs-font-family                    : tabs('font-family') !default;
$tabs-border                         : tabs('border') !default;
$tabs-bordered-bg-hover              : tabs('bordered-bg-hover') !default;
$tabs-color-hover                    : tabs('color-hover') !default;
$tabs-color-active                   : tabs('color-active') !default;
$tabs-color-disabled                 : tabs('color-disabled') !default;
$tabs-font-size                      : tabs('font-size') !default;
$tabs-font-weight                    : tabs('font-weight') !default;
$tabs-padding                        : tabs('padding') !default;
$tabs-bordered-bg                    : tabs('bordered-bg') !default;
$tabs-bordered-bg-active             : tabs('bordered-bg-active') !default;
$tabs-hover-transition               : tabs('hover-transition') !default;
$tabs-box-shadow                     : tabs('box-shadow') !default;
$tabs-border-bottom                  : tabs('border-bottom') !default;


// --------------------------------------------
// Toast ------------------------------------
// --------------------------------------------
@function toast($value: null) {
  $fetched-value: map-get($toast-config, $value);

  @return $fetched-value;
}

$toast-margin             : toast('margin') !default;
$toast-border             : toast('border') !default;
$toast-shadow             : toast('shadow') !default;
$toast-background         : toast('background') !default;
$toast-color              : toast('color') !default;
$toast-font-size          : toast('font-size') !default;
$toast-radius             : toast('radius') !default;
$toast-font               : toast('font') !default;
$toast-font-weight        : toast('font-weight') !default;
$toast-padding            : toast('padding') !default;
$toast-icon-color         : toast('icon-color') !default;
$toast-icon-padding-right : toast('icon-padding-right') !default;
$toast-icon-font-size     : toast('icon-font-size') !default;
$toast-left-border-bg     : toast('left-border-bg') !default;
$toast-left-border-width  : toast('left-border-width') !default;
$toast-left-border-color  : toast('left-border-color') !default;
$toast-close-size         : toast('close-size') !default;
$toast-close-color        : toast('close-color') !default;


// --------------------------------------------
// Tooltip ------------------------------------
// --------------------------------------------
@function tooltip($value: null) {
  $fetched-value: map-get($tooltip-config, $value);

  @return $fetched-value;
}

$tooltip-bd-radius                   : tooltip('bd-radius') !default;
$tooltip-default-color               : tooltip('default-color') !default;
$tooltip-invert-bg                   : tooltip('invert-bg') !default;
$tooltip-max-width                   : tooltip('max-width') !default;
$tooltip-padding                     : tooltip('padding') !default;
$tooltip-font-size                   : tooltip('font-size') !default;
$tooltip-line-height                 : tooltip('line-height') !default;
$tooltip-shadow                      : tooltip('shadow') !default;
$tooltip-z-index                     : tooltip('z-index') !default;
$tooltip-default-bg                  : tooltip('default-bg') !default;
$tooltip-invert-color                : tooltip('invert-color') !default;
$tooltip-transition-style            : tooltip('transition-style') !default;
$tooltip-border-width                : tooltip('border-width') !default;
$tooltip-arrow-position              : tooltip('arrow-position') !default;


// --------------------------------------------
// Sidebar ------------------------------------
// --------------------------------------------
@function sidebar($value: null) {
  $fetched-value: map-get($sidebar-config, $value);

  @return $fetched-value;
}

$sidebar-width                      : sidebar('width') !default;
$sidebar-width-folded               : sidebar('width-folded') !default;
$sidebar-font-size                  : sidebar('font-size') !default;
$sidebar-z-index                    : sidebar('z-index') !default;
$sidebar-bg                         : sidebar('bg') !default;
$sidebar-bg-hover                   : sidebar('bg-hover') !default;
$sidebar-border                     : sidebar('border') !default;
$sidebar-color                      : sidebar('color') !default;
$sidebar-submenu-bg                 : sidebar('submenu-bg') !default;
$sidebar-color-active               : sidebar('color-active') !default;
$sidebar-divider-color              : sidebar('divider-color') !default;
// Menu Links
$sidebar-link-padding               : sidebar('link-padding') !default;
$sidebar-link-margin                : sidebar('link-margin') !default;
$sidebar-link-line-height           : sidebar('link-line-height') !default;
$sidebar-link-color                 : sidebar('link-color') !default;
$sidebar-link-hover-color           : sidebar('link-hover-color') !default;
$sidebar-link-hover-bg              : sidebar('link-hover-bg') !default;
$sidebar-link-active-bg             : sidebar('link-active-bg') !default;
$sidebar-link-active-color          : sidebar('link-active-color') !default;
$sidebar-link-open-bg               : sidebar('link-open-bg') !default;
$sidebar-link-open-color            : sidebar('link-open-color') !default;
// Icon
$sidebar-icon-margin                : sidebar('icon-margin') !default;
$sidebar-icon-font-size             : sidebar('icon-font-size') !default;
$sidebar-icon-color                 : sidebar('icon-color') !default;
$sidebar-icon-color-active          : sidebar('icon-color-active') !default;
// Category
$sidebar-category-padding           : sidebar('category-padding') !default;
$sidebar-category-color             : sidebar('category-color') !default;
// SubMenu
$sidebar-submenu-link-padding-left  : sidebar('submenu-link-padding-left') !default;
$sidebar-submenu-level3-padding-left: sidebar('submenu-level3-padding-left') !default;
$sidebar-submenu-level4-padding-left: sidebar('submenu-level4-padding-left') !default;
$sidebar-submenu-link-active-color  : sidebar('submenu-link-active-color') !default;
// Collapse
$sidebar-collapse-bg                : sidebar('collapse-bg') !default;
$sidebar-collapse-bg-hover          : sidebar('collapse-bg-hover') !default;
$sidebar-collapse-bd                : sidebar('collapse-bd') !default;

