// Cupcake master file
//
// Imports all cupcake files in their intended order for easy mass-inclusion.
// Should you need specific files, you can easily use separate `@import`s.
@import 'support/support';
@import 'support/reset';
@import 'core/core';
@import 'helpers/helpers';


// dummy stuff til we get layout classes

.layer-types {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f5f7fa;
  padding: $space-md;
  margin-bottom: 4rem;

  div {
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: thing(gray, 1) 1px solid;
    background-color: #ffffff;
    color: #cdd1d4;
    margin: 1.375rem 0.6875rem;
  }
}


.color-block {
  background-color: white;
  box-shadow: 0 1px 0 #e9ecef;
  overflow: hidden;
  margin: 1rem 0;
  position: relative;
  min-width: 150px;
}

.colors {
  height: 6rem;
  width: 100%;
  display: flex;

  span {
    flex: 1;
    display: block;
  }
}
