// --------------------------------------------
// Avatars ------------------------------------
// --------------------------------------------

.#{$avatar-prefix} {
  @include avatar-base();

  &-square {
    border-radius: radius(sm);

    &.#{$avatar-prefix}[data-status]::after {
      top: -2px;
      right: -2px;
    }
  }

  img {
    position: relative;
    border-radius: radius(round);
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  &[data-status]::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    font-weight: font-weight(normal);
    min-height: 8px;
    min-width: 8px;
    background-clip: padding-box;
    border-radius: radius(round);
    box-shadow: 0 0 0 1px color(white);
    color: color(white);
    z-index: 1;
  }

  &[data-badge]::after {
    position: absolute;
    top: 14.64%;
    right: 14.64%;
    transform: translate(50%, -50%);
    background: color(primary);
    border-radius: radius(round);
    z-index: 1;
    content: attr(data-badge);
    /* stylelint-disable */
    box-shadow: 0 0 0 1px color(white);
    /* stylelint-enable */
    font-size: font-size(xs);
    height: space(md);
    line-height: 1.2;
    min-width: space(md);
    padding: space(xxs) space(xs);
    text-align: center;
    white-space: nowrap;
  }

  &[data-text]::before {
    color: currentColor;
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

@each $name, $hex in $avatar-palette {
  .#{$avatar-prefix}-#{$name} {
    background-color: $hex;
  }

  .#{$avatar-prefix}[data-status='#{$name}']::after {
    background-color: $hex;
  }
}

@each $name, $hex in $avatar-palette-light {
  .#{$avatar-prefix}-#{$name} {
    background-color: $hex;
    color: color(gray, 9);
  }
}

@each $name, $size, $font-size in config($avatar-sizes) {
  .#{$avatar-prefix}-#{$name} {
    @include avatar-size($size, $font-size);

    &[data-status]::after {
      min-height: round($size / 4);
      min-width: round($size / 4);
    }
  }
}

