// --------------------------------------------
// BREADCRUMBS --------------------------------
// --------------------------------------------
$breadcrumb-color               : $color-primary-9 !default;
$breadcrumb-color-active        : $color-gray-9 !default;
$breadcrumb-font-size           : 12px !default;
$breadcrumb-font-weight         : bold !default;
$breadcrumb-divider-size        : 8px !default;
$breadcrumb-divider-border-width: 2px !default;
$breadcrumb-divider-color       : $color-gray-3 !default;
$breadcrumb-margin              : 32px !default;


.c-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: $space-0;
  padding: $space-0;
  list-style: none;
  align-items: center;
  background-color: transparent;
  font-size: $breadcrumb-font-size;
  font-weight: $breadcrumb-font-weight;

  &-item {
    margin-right: $breadcrumb-margin;

    a {
      font-weight: bold;
      color: $breadcrumb-color;
      font-size: $breadcrumb-font-size;
    }

    &-active,
    &-active a {
      margin-right: $space-0;
      color: $breadcrumb-color-active;

      &::after {
        content: '';
        display: none;
        position: absolute;
        margin-right: $space-0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      transform: rotate(45deg);
      width: $breadcrumb-divider-size;
      height: $breadcrumb-divider-size;
      margin-left: $breadcrumb-divider-size;
      margin-top: $breadcrumb-divider-size / 2;
      border-top: solid $breadcrumb-divider-border-width $breadcrumb-divider-color;
      border-right: solid $breadcrumb-divider-border-width $breadcrumb-divider-color;
    }
  }
}

.c-breadcrumb-item + .c-btn {
  @at-root .c-breadcrumb-item:first-child::after {
    margin-top: $breadcrumb-divider-size + 4;
  }
}
