// --------------------------------------------
// BUTTON Groups ------------------------------
// --------------------------------------------
.#{$button-prefix}-group {
  display: inline-flex;
  vertical-align: middle;

  .#{$button-prefix} {
    position: relative;
    float: left;
    border-left-width: 0;
  }

  > :not(:first-child):not(:last-child) > .#{$button-prefix},
  > .#{$button-prefix}:not(:first-child):not(:last-child) {
    border-radius: $radius-0;
  }

  > :first-child > .#{$button-prefix},
  > .#{$button-prefix}:first-child {
    border-left-width: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > :last-child > .#{$button-prefix},
  > .#{$button-prefix}:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      margin-right: $space-0;
    }

    &.selected,
    &:focus,
    &:active,
    &:hover {
      border-right-width: 1px;
    }
  }
}

@if $enable-pill-buttons == true {
  .#{$button-prefix}-group {
    .#{$button-prefix}-pill {
      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $radius-pill;
        border-bottom-left-radius: $radius-pill;
      }

      &:last-child {
        border-left-width: 0;
        border-top-right-radius: $radius-pill;
        border-bottom-right-radius: $radius-pill;

        &:hover {
          margin-right: $space-0;
        }

        &.selected,
        &:focus,
        &:active,
        &:hover {
          border-right-width: 1px;
        }
      }
    }
  }
}

.#{$button-prefix}-group-vertical {
  display: inline-flex;
  flex-direction: column;

  .#{$button-prefix} {
    /* stylelint-disable */
    margin-top: -1px;
    /* stylelint-enable */

    &:first-child:not(:only-child) {
      margin-top: $space-0;
    }

    &:first-child:not(:only-child) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child:not(:only-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: $radius-0;
    }
  }
}


@each $name, $size in $btn-box-sizes {
  .#{$button-prefix}-group-#{$name} {
    .#{$button-prefix}-box {
      width: $size;
      height: $size;
      text-align: center;
    }
  }
}

.#{$button-prefix}-group,
.#{$button-prefix}-group-vertical,
.#{$button-prefix}-group-stepper {
  .#{$button-prefix}:focus,
  .#{$button-prefix}:active {
    z-index: 1;
  }
}
