// --------------------------------------------
// BUTTONS ------------------------------------
// --------------------------------------------
.#{$button-prefix} {
  @include btn-base;

  &:focus,
  &-focus {
    @include btn-focus;
  }

  &:active,
  &-active {
    @include btn-active;
  }

  &-disabled,
  &.c-btn-disabled,
  &[disabled] {
    @include btn-disabled;
  }

  @if $btn-active-selected {
    @include btn-active-selected;
  }

  &-table-icon {
    @include btn-table-icon;
  }

  @each $type in map-keys($button-colors) {
    &-#{$type} {
      @include button-colors(map-get($button-colors, $type));
    }
  }

  @each $type in map-keys($button-sizes) {
    @if $type == default {
      @include button-sizing(map-get($button-sizes, default));
    } @else {
      &-#{$type} {
        @include button-sizing(map-get($button-sizes, $type));
      }
    }
  }
}

/* Button Links
* ================ ================ ================ ================ */
.c-btn-link {
  @include btn-base;

  background: transparent;
  border: 1px solid transparent;
  color: $color-primary-7;
  box-shadow: none;
  font-weight: $btn-link-font-weight;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $color-gray-1;
    border: 1px solid $color-gray-4;
  }

  &:active {
    color: $color-primary-9;
    box-shadow: none;
  }

  &.c-btn-disabled,
  &-disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $color-gray-6;
      line-height: 1;
      border-color: transparent;
      cursor: not-allowed;
      appearance: none;
      box-shadow: none;
      opacity: $btn-disabled-opacity;
    }
  }

  @each $type in map-keys($button-sizes) {
    @if $type == default {
      @include button-sizing(map-get($button-sizes, default));
    } @else {
      &-#{$type} {
        @include button-sizing(map-get($button-sizes, $type));
      }
    }
  }

  @each $name, $hex in $theme-colors {
    &-#{$name} {
      color: $hex;
    }
  }
}

/* Button Shapes
* ================ ================ ================ ================ */
@each $btn-shape in $btn-shapes {
  $btn-shape-name: nth($btn-shape, 1);
  $btn-shape-radius: nth($btn-shape, 2);

  .c-btn-#{$btn-shape-name} {
    border-radius: $btn-shape-radius;
  }
}

/* Button Icons/Circle/Box
* ================ ================ ================ ================ */
.c-btn-icon,
.c-btn-circle,
.c-btn-box {
  width: $btn-box-width;
  padding-left: space(0);
  padding-right: space(0);
  text-align: center;
  font-size: 16px;

  &.c-btn-xs {
    width: $btn-box-width-xs;
    font-size: 8px;
  }

  &.c-btn-sm {
    width: $btn-box-width-sm;
    font-size: 12px;
  }

  &.c-btn-lg {
    width: $btn-box-width-lg;
    font-size: 21px;
  }
}

.c-btn-icon {
  background: transparent;
  border: 1px solid transparent;
  color: $color-gray-5;
  transition: all 0.3s ease 0s;

  &:hover {
    color: $color-primary-7;
    background-color: $color-gray-1;
    border: 1px solid $color-gray-4;
  }

  // All default color classes
  @each $name, $hex in $theme-colors {
    &-#{$name} {
      &:hover {
        color: $hex;
      }
    }
  }
}

.c-btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.c-btn-caret {
  width: $btn-caret-width;
}

.c-btn-icon-dropdown {
  width: $btn-icon-dropdown-width;
  padding-left: space(0);
  padding-right: space(0);
  text-align: center;
}
