// --------------------------------------------
// Cards --------------------------------------
// --------------------------------------------
@function card($value: null) {
  $fetched-value: map-get($card-config, $value);

  @return $fetched-value;
}

$card-bg                             : card('bg') !default;
$card-text-color                     : card('text-color') !default;
$card-border                         : card('border') !default;
$card-border-hover                   : card('border-hover') !default;
$card-font-family                    : card('font-family') !default;
$card-min-width                      : card('min-width') !default;
$card-border-radius                  : card('border-radius') !default;
$card-padding-v                      : card('padding-v') !default;
$card-padding-h                      : card('padding-h') !default;
$card-shadow                         : card('shadow') !default;
$card-shadow-hover                   : card('shadow-hover') !default;
$card-header-font-size               : card('header-font-size') !default;
$card-header-font-weight             : card('header-font-weight') !default;
$card-header-line-height             : card('header-line-height') !default;
$card-header-color                   : card('header-color') !default;
$card-header-icon-color              : card('header-icon-color') !default;
$card-header-icon-hover-color        : card('header-icon-hover-color') !default;
$card-body-font-size                 : card('body-font-size') !default;
$card-title-font-size                : card('title-font-size') !default;
$card-title-font-weight              : card('title-font-weight') !default;
$card-subtitle-line-height           : card('subtitle-line-height') !default;
$card-subtitle-font-size             : card('subtitle-font-size') !default;
$card-footer-color                   : card('footer-color') !default;
$card-footer-hover-color             : card('footer-hover-color') !default;
$card-footer-font-size               : card('footer-font-size') !default;
$card-footer-line-weight             : card('footer-line-weight') !default;


// Cards
.c-card {
  @include card;

  &-header {
    @include card-header;
  }

  &-content {
    @include card-content;
  }

  &-footer {
    @include card-footer;
  }
}


.c-card-group {
  display: flex;
  flex-direction: column;

  .c-card {
    margin-bottom: $gutter;
  }

  &-collapsed {
    display: flex;
    flex-direction: column;

    > .c-card {
      border-radius: $radius-0;

      &:first-child {
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
      }

      &:last-child {
        border-top-right-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .c-card-group {
    flex-flow: row wrap;
    margin-right: -$gutter;
    margin-left: -$gutter;

    .c-card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $gutter;
      margin-left: $gutter;
    }

    &-collapsed {
      flex-flow: row wrap;

      > .c-card {
        flex: 1 0 0%;
        margin-bottom: $space-0;

        + .c-card {
          margin-left: $space-0;
          border-left: $space-0;
        }
      }
    }
  }
}
