// --------------------------------------------
// CHECKBOX & RADIOS --------------------------
// --------------------------------------------

.#{$checkbox-prefix},
.#{$radio-prefix} {
  @include checkbox;
}

.#{$checkbox-prefix},
.#{$radio-prefix} {
  @each $name, $size in $checkbox-sizes {
    &-#{$name} {
      @include checkbox-size($size);
    }
  }
}

.#{$radio-prefix} {
  input:disabled:checked {
    + i {
      &::before {
        background: $checkbox-checked-disabled-bg;
      }

      &::after {
        background: $checkbox-checked-disabled-color;
      }
    }
  }
}


// .form-checkbox input:indeterminate + .form-icon::before {
//   background: #fff;
//   content: "";
//   height: 2px;
//   left: 50%;
//   margin-left: -5px;
//   margin-top: -1px;
//   position: absolute;
//   top: 50%;
//   width: 10px;
// }
