// --------------------------------------------
// Dropdown -----------------------------------
// --------------------------------------------
@function dropdown($value: null) {
  $fetched-value: map-get($dropdown-config, $value);

  @return $fetched-value;
}

$dropdown-radius                     : dropdown('radius') !default;
$dropdown-font                       : dropdown('font') !default;
$dropdown-bg                         : dropdown('bg') !default;
$dropdown-border                     : dropdown('border') !default;
$dropdown-min-width                  : dropdown('min-width') !default;
$dropdown-font-size                  : dropdown('font-size') !default;
$dropdown-font-weight                : dropdown('font-weight') !default;
$dropdown-bg-hover                   : dropdown('bg-hover') !default;
$dropdown-shadow                     : dropdown('shadow') !default;
$dropdown-z-index                    : dropdown('z-index') !default;
$dropdown-color                      : dropdown('color') !default;
$dropdown-color-hover                : dropdown('color-hover') !default;
$dropdown-icon-color                 : dropdown('icon-color') !default;
$dropdown-icon-font-size             : dropdown('icon-font-size') !default;
$dropdown-icon-padding               : dropdown('icon-padding') !default;
$dropdown-list-padding               : dropdown('list-padding') !default;
$dropdown-list-margin                : dropdown('list-margin') !default;
$dropdown-item-padding               : dropdown('item-padding') !default;
$dropdown-grid-padding               : dropdown('grid-padding') !default;
$dropdown-selected-color             : dropdown('selected-color') !default;
$dropdown-selected-bg                : dropdown('selected-bg') !default;

$link-colors:
  '[class*="primary"]',
  '[class*="success"]',
  '[class*="warning"]',
  '[class*="danger"]',
  '.c-text-muted';


// Dropdown Base
.c-dropdown {
  overflow: visible;
  position: relative;
  display: inline-block;

  &-right {
    float: right;
  }

  &-divider {
    border-top: $dropdown-border;
    margin: $space-xs (-$space-xs);
  }

  &-list {
    @include dropdown-list;

    .c-dropdown-heading {
      display: block;
      text-decoration: none;
      color: $dropdown-color;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $dropdown-font-size;
      padding: $dropdown-item-padding;
    }

    .c-dropdown-icon {
      color: $dropdown-icon-color;
      font-size: $dropdown-icon-font-size;
      padding-right: $dropdown-icon-padding;
    }

    li a,
    .c-dropdown-item {
      @include dropdown-item;

      @include not($link-colors) {
        color: $dropdown-color;

        &:hover {
          color: $dropdown-color-hover;
        }
      }
    }
  }
}
