// --------------------------------------------
// Footer -------------------------------------
// --------------------------------------------
@function footer($value: null) {
  $fetched-value: map-get($footer-config, $value);

  @return $fetched-value;
}


$footer-font-family                  : footer('font-family') !default;
$footer-height                       : footer('height') !default;
$footer-border-top                   : footer('border-top') !default;
$footer-font-size                    : footer('font-size') !default;
$footer-color                        : footer('color') !default;
$footer-color-link                   : footer('color-link') !default;
$footer-background-color             : footer('background-color') !default;
$footer-padding                      : footer('padding') !default;
$footer-links-margin                 : footer('links-margin') !default;
$footer-z-index                      : footer('z-index') !default;


// Footer
.c-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: $footer-color;
  align-content: center;
  height: $footer-height;
  padding: $footer-padding;
  z-index: $footer-z-index;
  line-height: $footer-height;
  font-size: $footer-font-size;
  justify-content: space-between;
  border-top: $footer-border-top;
  font-family: $footer-font-family;
  background-color: $footer-background-color;

  &-link {
    line-height: 1.4;
    align-items: center;
    display: inline-flex;
    padding-right: $space-0;
    color: $footer-color-link;
    font-size: $footer-font-size;
    background-color: transparent;

    &::after {
      content: '•';
      cursor: default;
      color: $color-gray-6;
      padding-left: inherit;
      vertical-align: middle;
      margin: $footer-links-margin;
    }

    &:last-child::after {
      display: none;
    }

    &:last-child {
      margin-right: $space-0;
    }

    .c-a {
      text-decoration: underline;
    }
  }

  // @include media-breakpoint-down(sm) {
  //   text-align: center;
  //   display: inline-block;
  //   padding: 5px;
  //   line-height: 1.5;
  // }

  &.c-footer-transparent {
    background-color: transparent;
  }
}

