// Header
.c-header {
  background-color: $header-bg;
  border-bottom: 1px solid $header-borders;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: $header-height;
  width: 100%;
  z-index: 10;

  &-fixed {
    position: fixed;
    top: 0;
  }

  &-item {
    &-link {
      color: $header-text-color;
      white-space: nowrap;
      align-items: center;
      display: flex;
      height: $header-height;
      /* stylelint-disable */
      padding: 0 20px;
      /* stylelint-enable */

      &:hover {
        background: $header-bg-hover;
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;

    .c-header-item {
      border-right: 1px solid $header-borders;
    }
  }

  &-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .c-input-container {
      width: 100%;
      margin: $space-0 1.5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .c-header-item {
      border-left: 1px solid $header-borders;
    }
  }

  .c-dropdown-list-below {
    top: 100%;
  }
}


// Header Inverse
.c-header-inverse {
  background-color: $header-inverse-bg;
  border-color: $header-inverse-borders;

  .c-header-item {
    border-color: $header-inverse-borders;

    & a {
      color: $header-inverse-text-color;

      &:hover {
        background: $header-inverse-bg-hover;
      }
    }
  }
}

.c-header-tabs {
  &.c-tabs {
    /* stylelint-disable */
    box-shadow: inset 0 -1px 0 0 #e6edf1;
    padding-left: 20px;
    /* stylelint-enable */
  }
}

.c-header-logo img {
  width: $header-logo-width;
}
