// small variable name alias for readability
$trans: $header-search-transition-length;

// Header
.c-header {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $header-bg;
  justify-content: space-between;
  border-bottom: 1px solid $header-borders;

  &-fixed {
    position: fixed;
    top: 0;
  }

  &-item {
    &-link {
      display: flex;
      white-space: nowrap;
      align-items: center;
      height: $header-height;
      color: $header-text-color;
      padding: $header-item-padding;

      &:hover {
        background: $header-bg-hover;
      }
    }

    .c-header-search {
      &-container {
        cursor: default;
        max-height: $header-height;

        &:hover {
          cursor: default;
          background: transparent;
        }
      }

      &-box {
        width: 0;
        height: 0;
        cursor: pointer;
        transition: width $trans, border-radius $trans, background $trans, box-shadow $trans;

        // using the sibling selector
        & + label {
          max-width: 0;
          position: relative;
        }

        &:focus {
          cursor: text;
          top: $space-sm;
          position: relative;
          height: $control-height;
          padding-left: $control-height;
          width: $header-search-expanded-width;
          transition: width $trans cubic-bezier(0, 1.22, .66, 1.39), border-radius $trans, background $trans;

          /* stylelint-disable */
          & + label {
            top: -18px;
            left: $space-sm;
          }
          /* stylelint-enable */
        }

        &:not(:focus) {
          border: 0;
          overflow: hidden;
          box-shadow: none;
          text-indent: 100%;
          white-space: nowrap;
        }
      }

      &-icon {
        cursor: pointer;
        position: relative;
        transition: none;

        &:hover {
          color: $color-gray-9;
        }
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;

    .c-header-item {
      border-right: 1px solid $header-borders;
    }
  }

  &-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .c-input-container {
      width: 100%;
      margin: $space-0 1.5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .c-header-item {
      border-left: 1px solid $header-borders;
    }
  }

  .c-dropdown-list-below {
    top: 100%;
  }
}


// Header Inverse
.c-header-inverse {
  background-color: $header-inverse-bg;
  border-color: $header-inverse-borders;

  .c-header-item {
    border-color: $header-inverse-borders;

    &-link {
      color: $header-inverse-text-color;

      &:hover {
        background: $header-inverse-bg-hover;
      }
    }

    .c-header-search {
      &-container {
        cursor: default;

        &:hover {
          cursor: default;
          background: transparent;
        }
      }

      &-box {
        background: rgba(0, 0, 0, 0.28);
        color: $header-inverse-text-color;
      }

      &-icon:hover {
        color: $color-gray-1;
      }
    }
  }
}

.c-header-tabs {
  &.c-tabs {
    /* stylelint-disable */
    box-shadow: inset 0 -1px 0 0 #e6edf1;
    /* stylelint-enable */
    padding-left: $space-md;
  }
}

