.c-modal {
  @include modal-base;

  &.c-modal-lg {
    max-width: $modal-lg-width;
  }

  &.c-modal-sm {
    max-width: $modal-sm-width;
  }

  &-content {
    @include modal-content;
  }

  &-header {
    @include modal-header;
  }

  &-footer {
    @include modal-footer;
  }

  &-title {
    @include modal-title;
  }

  &-body {
    @include modal-body;
  }

  &-backdrop {
    @include modal-backdrop;
  }

  &-close {
    @include modal-close;
  }

  &-fullscreen {
    &.c-modal {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }

    .c-modal-content {
      width: 100%;
      min-height: 100%;
    }
  }
}
