$pagination-item-size            : map-get($pagination-config, 'item-size') !default;
$pagination-item-border-radius   : map-get($pagination-config, 'item-border-radius') !default;
$pagination-item-spacing         : map-get($pagination-config, 'item-spacing') !default;
$pagination-font-size            : map-get($pagination-config, 'font-size') !default;
$pagination-icon-size            : map-get($pagination-config, 'icon-size') !default;
$pagination-item-color           : map-get($pagination-config, 'item-color') !default;
$pagination-item-current-bg      : map-get($pagination-config, 'item-current-bg') !default;
$pagination-item-current-color   : map-get($pagination-config, 'item-current-color') !default;
$pagination-next-color           : map-get($pagination-config, 'next-color') !default;
$pagination-previous-color       : map-get($pagination-config, 'previous-color') !default;
$pagination-bg-disabled          : map-get($pagination-config, 'bg-disabled') !default;

// Base pagination
.c-pagination {
  display: flex;
  list-style: none;
  margin: $space-0;
  padding: $space-0;

  &-current {
    cursor: default;
    text-align: center;
    min-width: $pagination-item-size;
    color: $pagination-item-current-color;
    background: $pagination-item-current-bg;

    &:hover {
      background: $pagination-item-current-bg;
    }
  }

  a,
  &-link {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: $pagination-item-color;
    font-size: $pagination-font-size;
    min-width: $pagination-item-size;
    min-height: $pagination-item-size;
    margin: $space-0 $pagination-item-spacing;
    border-radius: $pagination-item-border-radius;


    &:hover {
      background: $pagination-item-current-bg;
    }
  }

  &-next {
    &.c-pagination-link {
      position: relative;
      margin-right: $space-md + $space-sm;
      color: $pagination-next-color;
      padding-left: $space-md;

      &:hover {
        background: transparent;
        color: lighten($pagination-next-color, 15);
      }
    }

    i {
      margin-left: $pagination-item-spacing * 4;
      font-size: $pagination-icon-size;
    }

    &::before {
      border: 2px solid currentColor;
      border-bottom: 0;
      border-right: 0;
      height: 6px;
      width: 6px;
      transform: translate(-50%, -50%) rotate(135deg);
      content: "";
      display: block;
      right: -($space-md + $space-sm);
      position: absolute;
      top: 50%;
    }

    &::after {
      background: currentColor;
      height: 2px;
      width: 8px;
      transform: translate(-50%, -50%);
      content: "";
      display: block;
      right: -($space-md + $space-sm);
      position: absolute;
      top: 50%;
    }
  }

  &-previous {
    &.c-pagination-link {
      color: $pagination-previous-color;
      position: relative;
      margin-right: $space-md;
      padding-left: $space-md + $space-sm;

      &:hover {
        background: transparent;
        color: darken($pagination-previous-color, 15);
      }
    }

    i {
      margin-right: $pagination-item-spacing * 4;
      font-size: $pagination-icon-size;
    }

    &::before {
      top: 50%;
      left: 8px;
      width: 6px;
      height: 6px;
      content: "";
      display: block;
      position: absolute;
      transform: translate(-50%, -50%) rotate(-45deg);
      border: 2px solid currentColor;
      border-bottom: 0;
      border-right: 0;
    }

    &::after {
      top: 50%;
      left: 8px;
      content: "";
      width: 8px;
      height: 2px;
      display: block;
      position: absolute;
      background: currentColor;
      transform: translate(-50%, -50%);
    }
  }

  &-disabled {
    &.c-pagination-link {
      color: $pagination-item-color;
      background: $pagination-bg-disabled;
      cursor: not-allowed;

      &:hover {
        color: $pagination-item-color;
        background: $pagination-bg-disabled;
        cursor: not-allowed;
      }
    }
  }

  &-ellipsis::after {
    content: '\2026';
    padding: $space-0;
    color: $pagination-item-color;
  }
}
