// Select style
.c-select,
select.c-input {
  @include select;
}


// Select sizes
@each $name, $data in $control-sizes {
  $height: map-get($data, height);
  $padding: map-get($data, padding);
  $font-size: map-get($data, font-size);

  .c-select-#{$name},
  select.c-input.c-input-#{$name} {
    height: $height;
    padding-right: $select-padding-r;
    font-size: $font-size;
  }

  .c-select-icon-#{$name},
  .c-input-icon-#{$name} {
    + select.c-input {
      padding-left: $height;
    }
  }
}


// Form Select Error
.c-select-error,
select.c-input-error {
  color: $color-danger;
  font-weight: normal;
  border-color: $color-danger;

  option {
    color: $control-color;
  }
}
