.c-select,
select.c-input:not([multiple]) {
  @include select;
}

@each $name, $height, $padding, $font-size in config($control-sizes) {
  .c-select-#{$name},
  select.c-input:not([multiple]).c-input-#{$name} {
    height: $height;
    padding-right: $select-padding-r;
    font-size: $font-size;
  }
}

.c-select-error,
select.c-input-error:not([multiple]) {
  color: $color-danger;
  font-weight: normal;
  border-color: $color-danger;

  option {
    color: $control-color;
  }
}
