// --------------------------------------------
// Switch Base --------------------------------
// --------------------------------------------

.c-switch {
  @include switch;

  &-handle {
    @include switch-handle;
  }

  .c-switch-input:checked ~ .c-switch-handle {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
    left: $default-switch-height;
  }
}

.c-switch-square {
  @include switch(square);

  .c-switch-handle {
    @include switch-handle(square);
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: 2.25rem;
  }
}

.c-switch-square.c-switch-lg {
  .c-switch-handle {
    width: 2rem;
    height: 1.95rem;
    left: 0.35rem;
  }
}

.c-switch-material {
  @include switch(material);

  .c-switch-handle {
    @include switch-handle(material);
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: $material-switch-height + 2;
  }
}

.c-switch-disabled {
  pointer-events: none;
  background: $switch-disabled;
  opacity: 0.5;

  &.c-switch-input:checked,
  .c-switch-label,
  .c-switch-handle {
    background: $switch-disabled;
    pointer-events: none;
  }
}

@each $name, $size in $switch-sizes {
  .c-switch-#{$name} {
    width: $size;
    height: $size / 2;

    .c-switch-handle {
      @include vertical-center;

      left: 0.15rem;
      width: $size / 2 - 2px;
      height: $size / 2 - 2px;
    }

    .c-switch-input:checked ~ .c-switch-handle {
      left: $size / 2 + 1px;
    }

    .c-switch-label {
      font-size: $size / 6;
    }
  }
}

.c-switch-square .c-switch-handle::before {
  background: $color-gray-7;
  box-shadow: -$space-xs 0 0 0 $color-gray-7, $space-xs 0 0 0 $color-gray-7;
  content: '';
  display: block;
  height: 10px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.15s ease;
  width: 2px;
}

.c-switch-material + .c-switch-lg {
  height: 1rem;

  .c-switch-handle {
    left: 0;
    width: 2rem;
    height: 1.95rem;
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: 3rem;
  }
}

.c-switch-material.c-switch-sm {
  height: .5rem;
  width: 2rem;

  .c-switch-handle {
    left: 0;
    width: 1rem;
    height: .95rem;
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: 1rem;
  }
}


.form-switch {
  @include switch-base;

  &-lg {
    @include switch-size(32px);
    @include switch-color(purple);
  }
}


// .form-switch input:disabled + .form-icon::before {
//   background: #ffffff;
// }
