// --------------------------------------------
// TABS DEFAULT -------------------------------
// --------------------------------------------
.#{$tabs-prefix} {
  @include tabs;

  .#{$tab-item-prefix} {
    @include tab-item;

    &-link {
      @include tab-item-link;

      &-active {
        @include tab-item-active;
      }

      &-disabled {
        @include tab-item-disabled;
      }
    }
  }

  &-right {
    justify-content: flex-end;
  }

  &-center {
    flex: none;
    justify-content: center;
  }

  &-fullwidth {
    .#{$tab-item-prefix} {
      flex: 1;
    }
  }
}


// --------------------------------------------
// TABS BORDERED ------------------------------
// --------------------------------------------
.#{$tabs-prefix}-bordered {
  background-color: $tabs-bordered-bg;
  border: 1px solid $tabs-border-color;
  border-radius: $tabs-bordered-radius;
  border-bottom: 0;

  .#{$tab-item-prefix} {
    height: $tabs-height;

    &-link {
      box-shadow: none;
      transition: none;
      height: $tabs-height;
      border-bottom: 1px solid $color-white;
      border-right: 1px solid $tabs-border-color;

      &:hover:not(.c-tab-item-link-disabled) {
        box-shadow: none;
        color: $tabs-color-hover;
        background: $tabs-bordered-bg-hover;
        border-bottom: 2px solid $tabs-border-color;
      }

      &-active {
        color: $tabs-color-active;
        border-bottom-color: $color-white;
        background: $tabs-bordered-bg-active;

        &:hover {
          border-bottom: 1px solid $tabs-border-color;
        }
      }
    }
  }

  &.#{$tabs-prefix}-right {
    .#{$tab-item-prefix}-link {
      border-left: 1px solid $tabs-border-color;
    }

    .#{$tab-item-prefix}-link:last-child {
      /* stylelint-disable */
      margin-right: -1px;
      /* stylelint-enable */
    }
  }

  &.#{$tabs-prefix}-center {
    .#{$tab-item-prefix}-link:first-child {
      border-left: 1px solid $tabs-border-color;
    }

    .#{$tab-item-prefix}-link:last-child {
      /* stylelint-disable */
      margin-right: -1px;
      /* stylelint-enable */
    }
  }
}


// --------------------------------------------
// TABS SMALL ---------------------------------
// --------------------------------------------
.#{$tabs-prefix}-sm {
  height: $tabs-height-small;

  .#{$tab-item-prefix}-link {
    height: $tabs-height-small;
    font-size: $tabs-font-size-small;
    padding: $tabs-padding-small;
  }

  &.#{$tabs-prefix}-bordered .#{$tab-item-prefix} {
    height: $tabs-height-small;
  }
}


// --------------------------------------------
// TABS LARGE ---------------------------------
// --------------------------------------------
.#{$tabs-prefix}-lg {
  height: $tabs-height-large;

  .#{$tab-item-prefix}-link {
    height: $tabs-height-large;
    font-size: $tabs-font-size-large;
    line-height: $tabs-line-height-large;
  }

  &.#{$tabs-prefix}-bordered .#{$tab-item-prefix} {
    height: $tabs-height-large;
  }
}
