// --------------------------------------------
// Table --------------------------------------
// --------------------------------------------
@function table($value: null) {
  $fetched-value: map-get($table-config, $value);

  @return $fetched-value;
}

$table-background                    : table('background') !default;
$table-font-family                   : table('font-family') !default;
$table-font-size                     : table('font-size') !default;
$table-line-height                   : table('line-height') !default;
$table-border                        : table('border') !default;
$table-border-color                  : table('border-color') !default;
$table-padding                       : table('padding') !default;
$table-row-hover                     : table('row-hover') !default;
$table-row-stripe-hover              : table('row-stripe-hover') !default;
$table-stripe                        : table('stripe') !default;
$table-stripe-bg                     : table('stripe-bg') !default;
$table-head-color                    : table('head-color') !default;
$table-head-font-weight              : table('head-font-weight') !default;
$table-head-border-color             : table('head-border-color') !default;
$table-head-border-width             : table('head-border-width') !default;
$table-head-border-vertical          : table('head-border-vertical') !default;
$table-head-bg                       : table('head-bg') !default;
$table-head-cell-hover               : table('head-cell-hover') !default;
$table-foot-bg                       : table('foot-bg') !default;
$table-foot-color                    : table('foot-color') !default;
$table-padding-sm                    : table('padding-sm') !default;
$table-padding-lg                    : table('padding-lg') !default;
$table-font-size-lg                  : table('font-size-lg') !default;
$table-hover-bg-img                  : table('hover-bg-img') !default;
$table-hover-bg-img-body-pos         : table('hover-bg-img-body-pos') !default;

// Table
table {
  &.c-table {
    @include table();

    // Horizontal Scroll
    &-scroll {
      @include table-scroll;
    }

    // Adds hover
    &-hover {
      @include table-hover;
    }

    // All rows draggable
    &-row-draggable {
      @include table-row-draggable;
    }

    // Table small
    &-sm {
      @include table-sm;
    }

    // Table large
    &-lg {
      @include table-lg;
    }

    // Table border
    &-border {
      @include table-border;
    }

    &.c-table-header-transparent {
      thead {
        background: transparent;
      }
    }

    .c-table-header-cell-draggable {
      @include table-header-cell-draggable;
    }

    // Repeater to allow all rows or single rows to be draggable
    .c-table-row-draggable {
      @include table-all-rows-draggable;
    }

    .c-table-row-cell-draggable {
      @include table-row-cell-draggable;
    }
  }
}


// Table row and cell states
.c-table {
  //raising specificity to override table stripes
  &#{&} {
    @each $state, $color in $table-states {
      .c-table-row-#{$state},
      .c-table-cell-#{$state} {
        background-color: $color;
      }

      // hover state for rows and cells
      .c-table-row-#{$state}:hover,
      tr:hover > .c-table-cell-#{$state},
      .c-table-row:hover > .c-table-cell-#{$state} {
        cursor: pointer;
        background-color: darken($color, 3%);
      }
    }
  }
}

