// --------------------------------------------
// TYPOGRAPHY ---------------------------------
// --------------------------------------------

.#{$text-prefix} {
  @each $size in map-keys($body-text-sizes) {
    &-#{$size} {
      @include text-sizing(map-get($body-text-sizes, $size));
    }
  }

  @each $name, $weight in $font-weight {
    &-#{$name} {
      font-weight: $weight !important;
    }
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-center {
    text-align: center !important;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-capitalize {
    text-transform: capitalize !important;
  }

  &-underline {
    text-decoration: underline !important;
  }

  &-strikethrough {
    text-decoration: line-through !important;
  }

  &-italic {
    font-style: italic !important;
  }

  &-muted {
    color: inherit !important;
    opacity: .6 !important;
  }

  &-monospace {
    font-family: $font-family-mono !important;
  }
}

@each $size in map-keys($header-text-sizes) {
  .#{$header-prefix}-#{$size} {
    @include text-sizing(map-get($header-text-sizes, $size));
  }
}

.c-a {
  color: $color-gray-4;
  font-size: $font-body-xl;

  &:hover {
    color: $color-gray-5;
  }
}
