$white-label          : true;

$color-gray-1: #f0f1f1;
$color-gray-3: #dbdddd;
$color-gray-4: #bbbdbf;
$color-gray-5: #727679;
$color-gray-6: #57595b;
$color-gray-7: #2c2e32;

$color-primary: #00a06f;
$color-primary-0: lighten($color-primary, 65);
$color-primary-1: lighten($color-primary, 55);
$color-primary-2: lighten($color-primary, 40);
$color-primary-3: lighten($color-primary, 30);
$color-primary-4: lighten($color-primary, 20);
$color-primary-5: lighten($color-primary, 15);
$color-primary-6: lighten($color-primary, 10);
$color-primary-7: lighten($color-primary, 5);
$color-primary-8: $color-primary;
$color-primary-9: darken($color-primary, 10);

$color-warning-8: #f78515;
$color-warning: $color-warning-8;

$color-danger-8: #ee2f53;
$color-danger: $color-danger-8;

// --------------------------------------------
// TYPOGRAPHY ---------------------------------
// --------------------------------------------

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-It.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src:
    url('fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
    url('fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
    url('fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

$font-family-sans: Source Sans Pro, Helvetica, Arial, sans-serif !default;

$global-font                : $font-family-sans !default;
$global-text-color          : $color-gray-6 !default;

// Only applies if $enable-reset is true
$body-font-size           : 17px !default;
$body-font-color          : $color-gray-5 !default;

// Set the defaults for .c-header-{{size}}.
// This map is looped - adding key/value pairs will generate more classes
$font-header: (
  "xl": (
    "font-size": 24px,
    "line-height": 31px
  ),
  "xxl": (
    "font-size": 37px,
    "line-height": 48px
  ),
) !default;

$button-sizes:(
  default: (
    font-size: 17px,
    padding: 0 24px,
    height: 44px
  )
);


$control-background     : white;
$control-height         : 44px;
$control-border         : 1px solid $color-gray-3;
$control-border-radius  : 0;
$control-font-size      : 17px;
$control-color          : $color-gray-6;
$control-font-weight    : 300;
$control-line-height    : 1.47;
$control-shadow         : none;
$control-padding        : 10px;

$modal-title-color      : white;
$modal-title-font-size  : 37px;
$modal-title-font-weight: 300;
$modal-close-color      : white;
$modal-border-radius    : 0;
$modal-body-padding     : 20px;

// Cupcake Core
@import 'cupcake';

.c-btn {
  // border-radius: 5px;

  &-primary {
    background-image: linear-gradient(to top, #00ab4e, #009697);
  }
}

.c-input {
  font-style: italic;

  &:focus-within {
    font-style: normal;
  }
}


.c-modal {
  box-shadow: 4px 4px 2px 0 rgba(71, 72, 75, 0.35);

  &-header {
    background-color: $color-gray-7;
    // color: white;
    height: 60px;
  }
}

.c-modal-close::before,
.c-modal-close::after,
.c-modal-close:hover::before,
.c-modal-close:hover::after {
  // background-color: white;
}
