// Cupcake Mint
$color-primary-0: #dff7f6;
$color-primary-1: #b1eae8;
$color-primary-2: #80dddb;
$color-primary-3: #4dcecf;
$color-primary-4: #26c3c7;
$color-primary-5: #00b9c1;
$color-primary-6: #00a9af;
$color-primary-7: #009697;
$color-primary-8: #008080;
$color-primary-9: #055d57;

$color-primary: $color-primary-8;

// Cupcake Core
@import 'cupcake';
