<!doctype html>
<html lang="">
{{> head}}

<body class="docs-container">
    <div class="docs-body">
      <main class="docs-content">
          {% body %}
      </main>
      <nav class="docs-nav">
        <div class="docs-nav-header">
          <div class="ipreo">Ipreo</div>
          <div class="cupcake">Cupcake</div>
          <div class="docs-version">Version 2.0</div>
        </div>
          <ul>
              <li class="docs-menu-title">Tokens</li>
              {{#each materials.tokens.items}}
              <li class="docs-menu-item"><a href="#{{@key}}">{{name}}</a></li>
              {{/each}}
            </ul>
          <ul>
            <li class="docs-menu-title">Elements</li>
            {{#each materials.elements.items}}
            <li class="docs-menu-item"><a href="#{{@key}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </nav>


    </div>


  </body>

</html>
