// stylelint-disable
@import '../node_modules/sass-true/sass/true';
@import '../src/scss/cupcake';

$button-test-map: (
  purpleISH: (
    bg: purple,
    bg-hover: orange,
    bg-active: red,
    border: green
  )
);

@include describe('Test output for button mixins') {

  @include it('Generates base attributes for button') {
    @include assert {
      @include output {
        .c-btn {
          @include btn-base();
        }
      }
      @include expect {
        .c-btn {
          outline: 0;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
          position: relative;
          white-space: nowrap;
          color: #495057;
          text-decoration: none;
          display: inline-block;
          vertical-align: baseline;
          border-radius: 2px;
          font-weight: 700;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          transition: background-color 0.1s ease-in;
        }
      }
    }
  }

  @include it('Given two arguments - outputs alternative SIZE') {
    @include assert {
      @include output {
        .c-btn-sm {
          @include btn-size(11px, 0 8px, 24px);
        }
      }
      @include expect {
        .c-btn-sm {
          height: 24px;
          padding: 0 8px;
          font-size: 11px;
          line-height: 22px;
        }
      }
    }
  }

  @include it('Given new map - outputs outputs correct styling') {
    @include assert {
      @include output {
        @each $type in map-keys($button-test-map) {
          .c-btn-#{$type} {
            @include button-colors(map-get($button-test-map, $type));
          }
        }
      }
      @include expect {
        .c-btn-purpleISH {
          background: purple;
          border-color: green;
          color: #ffffff;
        }

        .c-btn-purpleISH:focus,
        .c-btn-purpleISH.c-btn-focus {
          box-shadow: 0 0 0 0.15rem rgba(128, 0, 128, 0.5);
        }

        .c-btn-purpleISH:hover {
          background-color: orange;
          background-image: none;
        }

        .c-btn-purpleISH:active,
        .c-btn-purpleISH.c-btn-active {
          background: red;
          background-image: none;
          box-shadow: none;
          border-color: green;
        }
      }
    }
  }
}


@include report;
