// stylelint-disable
@import '../node_modules/sass-true/sass/true';

$color-primary-9: #5018ab;


$font-weight: (
  bold: 100
);

$color: (
  success: (
      3: #5eff6b
  )
);


@import '../src/scss/support/support';

@include describe('Initialisation with custom config') {

  @include it('Should override color to match updated variable') {
    @include assert-equal(color(primary, 9), #5018ab);
  }

  @include it('Should override color to match change in map') {
    @include assert-equal(color(success, 3), #5eff6b);
  }

  @include it('Checks not overridden color remains') {
    @include assert-equal(color(primary), #1b6ec2);
  }

  @include it('Should override font-weight to match change in map') {
    @include assert-equal(font-weight(bold), 100);
  }

  @include it('Checks additional font-weights in map remain unchanged') {
    @include assert-equal(font-weight(semibold), 600);
  }


}

@include report;
